[2016-08-09 09:12] #681 closed

[2016-08-09 09:12] #684 closed

[2016-08-09 09:58] drvinceknight commented on #479
So I'm not 100% sure I see what you mean (but I think I do).

If we're going to use the sphinx autodoc feature for this (which is what we are currently doing) then whatever we have must be in the docstrings of the class. So we we wouldn't be able to have a single big table (or two) with all that information in it. This is all automated by sphinx and as far as I know not 'hackable' (we tried a whil

[2016-08-09 14:19] drvinceknight commented on #479
Here are some screenshots showing how this looks:

![screenshot 2016-08-09 15 10 44](https://cloud.githubusercontent.com/assets/2131546/17519475/f913dbba-5e43-11e6-9100-2dc1c7cca7c5.png)

![screenshot 2016-08-09 15 10 34](https://cloud.githubusercontent.com/assets/2131546/17519474/f90fe302-5e43-11e6-8f59-ad06c69aebd8.png)

![screenshot 2016-08-09 15 10 27](https://cloud.githubusercontent.com/asset

[2016-08-09 18:15] marcharper commented on #479
You're the docs master @drvinceknight so I'll defer to your best judgment on how to proceed.

[2016-08-09 20:37] drvinceknight commented on #479
Ok so my suggestion would be:

- Add:
    1. creating the bibliography.rst file,
    2. adding instructions about format of docstrings to docs (to include all known names);
   to #225
- Close this issue as the idea would be that you can ctrl-f on the index of strategies page to find the strategies. Would this be good enough do you reckon?

Then the next step is to work through #225 which would be

[2016-08-10 16:34] meatballs opened #688 "Unique ID for Player"
The axelrod-api project currently generates a unique id for each Player class and a dictionary with the id as its key. These could both be done within the library itself and used more widely than just the api.

The unique id is currently produced using a function which strips the whitespace from the player name and converts it to lower case. This could be done with a property in the Player class.

[2016-08-10 16:43] marcharper commented on #688
This is a good idea. Seems like there are two concerns: human readability and uniqueness. Since some of our players have parameters, for uniqueness we'd want to do something like:
* Player name as a string + JSON of dictionary of arguments (aka init_args) as a string, and then hash the string (python's built-in `__hash__` for strings would be fine)
* For readability, we'd want exactly what you've

[2016-08-10 18:41] meatballs commented on #688
Good catch on the parameters - I like the idea of hashing the arguments and adding to the end of the id. (I need the id to be absolutely unique)

[2016-08-10 18:44] drvinceknight commented on #688
I don't think readability is the biggest concern of the id (we have the name for that) so 👍  for hashing. :)

[2016-08-10 18:57] meatballs opened #689 "Classification of Strategies"
In the api, I'd like to have an endpoint for the various classes of strategy (e.g. 'cheating_strategies', 'ordinary_strategies') so that we'd have urls like:

[code]
Each class would then have its membership list of strategies

I'd also like to add a class filter to the strategies endpoint, so that we's have urls like:

[code]
which would list the strategies meeting those criteria.

To do this I h

[2016-08-10 19:34] drvinceknight commented on #689
I think that technically there are only two classes: `axelrod.strategies` and `axelrod.cheating_strategies`.

I think this would correspond to the [`obey_axelrod`](http://axelrod.readthedocs.io/en/latest/tutorials/advanced/classification_of_strategies.html) function which is what is used to define if a strategy is or isn't in the `cheating_strategies` list.

I'm not a fan of `strategy_classes` cor

[2016-08-10 19:38] drvinceknight commented on #689
(On a slightly separate/related note, it could be worth adding `long_run_time` to the player classifier dictionary...)

[2016-08-10 19:39] meatballs commented on #689
Good point. I should just use the classifier dict!

[2016-08-10 19:44] drvinceknight opened #690 "Add long run time to player classifier"
See chat on #689, idea is to add `long_run_time` to the classifier dict.  We could then change:

[code]

to be

[code]

This could be `False` by default so we'd only need to actually add it to the `long_run_time_strategies`. All the tests are in place that should pick it up for the lists and we could add a test to the global test player class too...

[2016-08-10 19:45] drvinceknight commented on #689
Cool, have opened #690. I guess long run time could be particularly relevant to the api :)

[2016-08-10 21:18] #689 closed

[2016-08-11 09:24] drvinceknight commented on #479
I've created a bibliography.rst file and added instructions for adding references in #691.

I'm going to close this. I think #225 should be the next step. :)

[2016-08-11 09:24] #479 closed

[2016-08-11 22:07] marcharper commented on #690
We should define long-run strategies somehow. I suggest we pick one strategy as the threshold, and I nominate PSO Gambler.

[2016-08-11 22:14] drvinceknight commented on #690
Haha: I literally just pushed this using the same classification we had already in place: the meta ones. Easy enough to change though: I'm happy with whatever threshold.

[2016-08-11 22:15] marcharper commented on #690
That's where it is already.

[2016-08-11 22:15] drvinceknight commented on #690
Ok cool :)

If we wanted to change it, we just need to change this test and then hunt them down: https://github.com/Axelrod-Python/Axelrod/blob/master/axelrod/tests/unit/test_classification.py#L168

[2016-08-13 13:10] drvinceknight commented on #688
FWIW (for whoever wants to do this):

@Nikoleta-v3 and I thought we might need this for a thing yesterday (we didn't in the end) and found that `__hash__` wasn't giving universal output (different hashes on different machines, same py different OS). This didn't occur when using `hashlib` it seemed to work fine (http://pythoncentral.io/hashing-strings-with-python/).

Might have of course been doing

[2016-08-14 14:09] #675 closed

[2016-08-14 14:09] #690 closed

[2016-08-14 14:22] meatballs commented on #688
I'll pick this one up.

I plan to use an md5 hash (from the hashlib module) and then the urlsafe encoding on it from the base64 module.

I may consider truncating the md5 hash to make it a little shorter - we don't have sufficient strategies for their to be much likelihood of collision.

[2016-08-14 18:39] drvinceknight commented on #225
I'm going to pick this one up.

[2016-08-15 11:40] meatballs commented on #688
Rethink - this is intended to be an index of strategy classes which means the init_args aren't available and shouldn't be included.

[2016-08-17 11:16] meatballs opened #696 "Strategy Filtering by Dictionary"
Within the api, there are a set of functions to filter strategies from their classifier entries using a dictionary. (This is because parameters within a url are passed as dictionary).

For example, the url https://axelrod-api.herokuapp.com/strategies/?stochastic=false&inspects_source=true passes the following dictionary:
[code]
and it's then used to generate the list of strategies which satisfy th

[2016-08-17 12:26] drvinceknight commented on #696
My initial thoughts on this were negative as discussed on gitter but I think I've come around (the wonders of a 🐶  walk). I think I see how you're thinking of this now and it's a nice 'further list'. Would need to make sure it's documented at the end of http://axelrod.readthedocs.io/en/latest/tutorials/advanced/classification_of_strategies.html ("You can also directly access a filtered list blabla

[2016-08-17 12:28] meatballs commented on #696
As you may have noticed previously, I am utterly unable to think whilst sat down!

[2016-08-17 12:29] drvinceknight commented on #696
My biggest problem is that I am sadly completely able to open my big dumb mouth before thinking.

[2016-08-17 12:30] meatballs commented on #696
Ah well, that applies to at least half our core team, then.

[2016-08-22 14:18] drvinceknight commented on #688
Based on conversation on the PR, is it worth investigating if it's possible to get an id for player instances? So a hash of the name and the parameters?

[2016-08-23 13:28] Adam-Flammino commented on #379
Would you mind if I started working on a few of these? I'm sure I'll be slow since I'm new to programming and I'm going to school while working full time, but it looks like they've been posted for awhile. If there are any strategies on the list that are particularly easy to implement I'd be happy to start with one of those.

[2016-08-23 13:41] drvinceknight commented on #379
Absolutely @Adam-Flammino: please do!

I suggest that when you decide on a strategy you run it past us just to make sure it hasn't been implemented yet (it's possible that they're on the list but have already been implemented).

It could also be worth checking here: http://axelrod.readthedocs.io/en/latest/reference/all_strategies.html

That's the list of the strategies that are definitely in the l

[2016-08-23 13:52] Adam-Flammino commented on #379
That actually sounds a little similar to how I play risk.  I've definitely got some more reading to do before I start, but I'd be happy to try. Thanks for the chat link too!

[2016-08-23 15:29] marcharper commented on #379
@Adam-Flammino We're happy to e.g. help write tests, just open a PR or ask us here (or on gitter).

[2016-08-24 15:03] Adam-Flammino commented on #379
@marcharper thanks! Haven't gotten to start yet, but I appreciate the help! Hopefully before too long I'll be able to actually help out with the project- it looks interesting

[2016-08-25 21:38] marcharper commented on #696
@meatballs I'm a fan of this -- convenient and easy for newcomers and a nicer syntax versus comprehensions of a loop.

[2016-08-26 14:50] meatballs commented on #688
What's the use case?

[2016-08-26 15:04] drvinceknight commented on #688
In summary: being able to generate a clone of a given player from some string representation of it.

For example:

I write the results of 2 tournaments (each with 2 different sets of 2 players) to a data set:

[code]

So now I want  to rerun those tournaments or run the winner of tournament 1 versus tournament 2 (or whatever). With the hashes `xyz` and `ghl` I could get the exact same instances of

[2016-08-26 21:21] Adam-Flammino commented on #379
So I got to actually sit down and look at things today. I appreciate all the variations of tit for tat being in the same .py file- makes it easier for someone who's still learning like me to see the right format. Another quick newb question- should I submit a new .py file with my pull request or just add my code to the end of the existing file?

[2016-08-26 21:24] marcharper commented on #379
@Adam-Flammino Either way, really. We don't have a scheme for which strategies go in which files, we just group them as we go wherever they seem to fit.

[2016-08-26 21:30] Adam-Flammino commented on #379
@marcharper Cool. Thanks again.

[2016-08-26 21:30] drvinceknight commented on #379
If you're going to go with nasty tit for that as the strategy I'd suggest that you just add that to the bottom of the existing tit for tat file:)

[2016-08-28 11:10] drvinceknight opened #701 "Include method to write a summary data set to file"
The results set used to have a method to write some output to csv. The output was a mid way point between the interactions and a summary (it held the total score of each strategy for each repetition).

As we now have all the interactions written by default I suggest adding a method to the results set that gives a very quick summary data set. Here is the function that I have in mind (would move it

[2016-08-29 16:02] drvinceknight commented on #701
Perhaps also add a column for `Wins`.

[2016-09-04 19:10] Adam-Flammino commented on #379
I appreciate how welcoming you all have been and I do think this is a very interesting project I'd like to help with eventually, but some life changes just came up and I don't know when I'll have time to actually contribute to this.  I plan on coming back (and hopefully with enough experience to make real contributions), but I'm not sure when that will be so don't hold any of these for me.

[2016-09-05 08:22] meatballs commented on #379
@Adam-Flammino No problem - thanks for the contributions so far!

We'll still be here when you have time again. All the best.

[2016-09-08 23:50] #696 closed

[2016-09-09 20:48] marcharper commented on #701
How do you feel about a method that makes the standard plots? Essentially I'm suggesting that we move `obtain_assets` from the tournament repository into the axelrod repository.

I think it would also be good to have a standard output data frame function, with columns for each strategy, much like what I did for my blog posts (and in the examples repository).:
* wins
* mean score
* std score
* perc

[2016-09-12 06:51] meatballs commented on #421
I'm going to look at this one next. I think this is the way that the API will need to receive definitions of tournaments to be run.

[2016-09-12 07:12] meatballs opened #706 "init_args as dict"
In the API, I think the strategies endpoint should indicate whether a strategy class takes init arguments and, if so, what those arguments should be.

In order to do so we'd need to re-work the way in which we currently handle init_args:
- A strategy class would have a dictionary whose keys give the names of the arguments (and, possibly, default values to be used if the arguments are omitted).
- O

[2016-09-12 07:26] drvinceknight commented on #706
Would inspecting the init method of the class work? Using something like https://docs.python.org/2/library/inspect.html: which lets you "[...] extract and format the argument list for a function, or [...]"

[2016-09-12 07:28] meatballs commented on #706
No - that's only going to work for instantiated objects. I want to get something from the class itself, so the API effectively says "here are all the strategy classes available to you and, for each one, everything you need to know in order to instantiate it"

[2016-09-12 07:29] meatballs commented on #706
That would then allow a UI to present a list of strategies with enough information for a tournament to be defined and passed back to the API for execution.

[2016-09-12 07:37] meatballs commented on #706
e.g. https://axelrod-api.herokuapp.com/strategies/random/

currently returns:
[code]

which gives no indication that a probability should be passed. I'm suggesting that this should instead be:

[code]

[2016-09-12 07:38] meatballs commented on #706
Possibly, the value for each dict entry should be a tuple of default value and a text description.

[2016-09-12 07:39] meatballs commented on #706
or even a further dict containing:

* default
* description
* mandatory?

[2016-09-12 07:52] drvinceknight commented on #706
I understand the use case.

My only current reservation with this idea is that (if I understand correctly) this would not be ideal for 'new to python contributors': they would no longer be writing a simple Python class but a simple Python class with a (given very simple) twist. We do already have an instance/player `init_args` so perhaps my reservation is not a good one.

FWIW I've just played wit

[2016-09-12 07:54] drvinceknight commented on #706
FYI (not directly related) it looks like the player `init_args` isn't setup quite right for the `Random` strategy anyway:

[code]

If that's the case that could be pointing to a nasty bug right?

[2016-09-12 09:28] meatballs commented on #706
Try:
[code]

[2016-09-12 09:36] meatballs commented on #706
My only current reservation with this idea is that (if I understand correctly) this would not be ideal for 'new to python contributors': they would no longer be writing a simple Python class but a simple Python class with a (given very simple) twist.

Actually, I think it would make things clearer and that normally leads to them being simpler.

For a class requiring init_args:

it would have an in

[2016-09-12 09:38] meatballs commented on #688
I don't believe this would work. The hash function is one-way and it would be virtually impossible to  deduce that 0.85 is the required probability from the hashed value.

This is partly the reason for creating #706

[2016-09-12 10:16] drvinceknight commented on #688
It would be doable if the hash was in fact a combination of a hash of the class and then some marked and then the init args.

So if `Random` had hash: `qwerty` and our 'separator' (which somehow couldn't ever appear in the class hash) was `!` then `qwerty!.2` would be the playing initiated by `Random(0.2)`.

That might indeed be a nicer way of doing this. We would just need to record the init_args

[2016-09-12 10:17] drvinceknight commented on #688
Although actually, I've just realised, we can already do this (by this I mean my use case)! We can use the player `init_args` method :)

I suggest we close this issue and concentrate on #706  :)

[2016-09-12 10:17] meatballs commented on #688
It would be doable if the hash was in fact a combination of a hash of the class and then some marked and then the init args.

So if Random had hash: qwerty and our 'separator' (which somehow couldn't ever appear in the class hash) was ! then qwerty!.2 would be the playing initiated by Random(0.2).

I started thinking about some similar schemes, but they all smell pretty nasty to me.

[2016-09-12 10:18] meatballs commented on #688
I don't think you can. It doesn't contain any information telling you which argument means what. You have to 'know' that from somewhere else.

[2016-09-12 10:19] drvinceknight commented on #706
I think **I** prefer the latter too but from the pov of someone who has not written much Code/Python at all it is 'different' and would require an extra little step. Having said that, the library is evolving and it's probably not that big a hurdle for a newcomer.

It's also neat to have this further 'differentiation'/'clarification' between a class/instance and a strategy/player.

[2016-09-12 10:19] meatballs commented on #688
That's where I've ended up.

[2016-09-12 10:21] meatballs commented on #706
I suspect that a class requiring init_args is already slightly more complex than a complete beginner would want to tackle.

[2016-09-12 10:29] drvinceknight commented on #688
Not for the use case I described. You can do it automatically (so for the use case I suggested above), this is in fact why the player `init_args` was implemented right?

[code]

So if my data file had:

[code]

Then that could be read in and used as above.

[2016-09-12 10:30] drvinceknight commented on #706
I think you're missing an intermediate level of someone who has written a couple of text book classes but that's a moot point :) 👍

[2016-09-12 10:30] meatballs commented on #688
OK, yes, that would work for your use case above. It wouldn't be good enough for the API, however.

[2016-09-12 10:32] meatballs commented on #688
In fact, it would work whenever we want to re-create a tournament that's already been previously defined.

I think we want more than that, though. We need to provide sufficient information within the class to enable it to be instantiated without reference to background information or previous instantiations.

[2016-09-12 10:33] meatballs commented on #706
Yeah, quite possibly. However, I think the danger of over-simplification rears its head here.

[2016-09-12 10:35] drvinceknight commented on #706
As does over complication and abstraction. But just to clarify, my last couple of comments have been agreeing with you right? As I said I like the idea of differentiating the class/strategy and instance/player.

[2016-09-12 10:36] drvinceknight commented on #688
Yup. That's what I was talking about. I'm agreeing with you. Going to close this issue, we can reopen if necessary. :+1:

[2016-09-12 10:36] #688 closed

[2016-09-12 10:37] meatballs commented on #706
We appear to be strenuously agreeing with one another. We should probably bring that to a halt!!

[2016-09-12 10:38] drvinceknight commented on #706
:+1: :)

[2016-09-14 18:14] drvinceknight commented on #701
Yeah sounds good.

Any reason why the columns for each strategy as opposed to the way I'm suggesting? Rows for strategies sorted by rank which I feel makes it nicely readable.

For percent cooperation, CC, CD etc this would add more calculations to the result set.

[2016-09-14 18:40] marcharper commented on #701
Just including features that I've found useful, we can also add on to the columns later.

[2016-09-14 18:50] drvinceknight commented on #701
My question isn't about the features but why the strategies as columns (as opposed to strategies as rows as per my initial suggestion)? It's not anything I'm against, I'm just curious as to what the reason is.

[2016-09-14 19:25] marcharper commented on #701
Oh, that was just a typo, sorry!

[2016-09-14 19:49] drvinceknight commented on #701
Ah cool :)

So yeah: I'm in favour of your suggestion: I think it's what I was suggesting with more things added to the result set (which after the re write is so fast anyway, it's probably not too bad a thing).

[2016-09-18 07:40] drvinceknight opened #708 "Method to make all standard plots"
From #701 @marcharper suggested:

[2016-09-18 07:40] drvinceknight commented on #701
Have opened #708

[2016-09-18 07:40] #701 closed

[2016-09-18 15:10] theref opened #709 "Fix citation link in documentation"
Browsing through the documentation i noticed that the link on [this](https://axelrod.readthedocs.io/en/latest/citing_the_library.html) page causes a 404 error.

Instead of pointing at `https://github.com/Axelrod-Python/Axelrod/blob/master/CITATION.txt` I think it should point to `https://github.com/Axelrod-Python/Axelrod/blob/master/CITATION.rst`.

This could be nice beginner issue for anyone who

[2016-09-18 16:38] drvinceknight commented on #709
Thanks: have labelled. 👍

[2016-09-19 08:44] Ducksual commented on #680
I'm confirming this issue as well.

In [5]: results = tournament.play()
Analysing:   0%|                                                               | 0/150 [00:00<?, ?it/s]---------------------------------------------------------------------------
PermissionError                           Traceback (most recent call last)
<ipython-input-5-b84cada0d038> in <module>()
----> 1 results = tournament

[2016-09-19 09:08] Ducksual opened #710 "Windows line endings break CSV reading"
Need to add line terminator to CSV writer.

[2016-09-19 09:39] #710 closed

[2016-09-19 10:06] drvinceknight commented on #680
It seems like the problem is related to the fact that the file is still open in "w" mode and that the results set does then open in in "r" mode which windows doesn't like.

@Ducksual, @meatballs  and I have had a chat and I think there's a fix using temporary directories.

[2016-09-19 10:42] lorenzoturrino opened #712 "Noisy match explaination in tutorial/glossary"
Currently exploring the library, I went to the tutorial first. The [first page](https://axelrod.readthedocs.io/en/latest/tutorials/getting_started/match.html) after install instruction mentions how you can add noise, but there is no explaination of that is. I Think it would help to link a reference and/or add a small explaination.

Having the Noise term in the glossary link might also help

[2016-09-19 12:59] souravsingh commented on #379
I would like to help in writing some of the strategies.

[2016-09-19 13:01] meatballs commented on #379
@souravsingh Are you here at PyCon UK?

[2016-09-19 13:06] souravsingh commented on #379
@meatballs I couldn't come to PyCon UK due to visa issues. But I can try and help remotely.

[2016-09-19 13:53] drvinceknight commented on #379
Welcome @souravsingh! Drop in to our gitter channel: gitter.im/Axelrod-Python/Axelrod

Otherwise, take a look at the contribution guidelines and don't hesitate to ask any questions :)

http://axelrod.readthedocs.io/en/latest/tutorials/contributing/strategy/index.html

[2016-09-19 16:28] marcharper commented on #634
The reason for the failures are because the order of random draws is not the same in the two cases since the opponent is `Random()`. The test function actually calls the strategy functions (to try to set the proper internal variables) and then overwrites with the intended (not necessarily actual history). So in this case `random.random()` is called one additional time (in the beginning), which muc

[2016-09-19 16:32] marcharper commented on #712
Good idea. Noise is explained for tournaments [here](http://axelrod.readthedocs.io/en/latest/tutorials/further_topics/noisy_tournaments.html?highlight=noise) but we should also explain what it means for individual matches, since that's where the action really is, perhaps in the "creating matches" section.

[2016-09-19 16:37] alcarney commented on #138
[Here](https://github.com/alcarney/axelrod-fingerprints/blob/master/fingerprints.ipynb) is my attempt from the sprint at the recent PyConUK to make progress towards implementing strategy fingerprints. - Unfortunately I had trouble reproducing some of the results from the thesis I was using as reference (which is linked in the notebook)

[2016-09-20 09:18] drvinceknight opened #718 "Fix parallel processing on windows"
After @Ducksual's great work on #713 I believe this is the only remaining bug on Windows.

We're now running CI on appveyor so we do have a test runner: https://ci.appveyor.com/project/drvinceknight/axelrod/build/1.0.17/job/nb5j3y5wrxkho04a

[2016-09-20 09:23] drvinceknight opened #719 "Add ability to keep everything in memory"
#718 adds a fix for using temporary files on Windows (see this python issue: [tempfile.NamedTemporaryFile not particularly useful on	Windows](https://bugs.python.org/issue14243)).

Another thing to consider is that for small tournaments it's perfectly fine to run them completely in memory. This would not require much work at all, just if a given switch is not passed we write to an interactions dic

[2016-09-21 17:39] #709 closed

[2016-09-21 17:40] #634 closed

[2016-09-21 19:10] drvinceknight commented on #616
Very glad we got this implemented: thanks @inglesp!

[2016-09-21 19:10] #616 closed

[2016-09-22 07:15] #680 closed

[2016-09-22 07:18] drvinceknight commented on #322
Whilst working on #721, I noted that the failure on 2.7 was now because of the mock module not necessarily being present in 2.7? It's not on there on appveyor...

I would suggest we could possibly close this issue though once we drop support for py2.

[2016-09-22 07:20] drvinceknight commented on #605
Can I suggest we announce and drop support for py2 on the first of December (a Christmas present for @marcharper :))?

My only reservation about doing it beforehand is that our paper just got published and it mentions support for py2. :)

[2016-09-22 07:59] drvinceknight opened #723 "Refactor `ResultSet`"
The `ResultSet` is not as efficient as `ResultSetFromFile`:

- `ResultSet` goes through the interactions dictionary each time for every attribute calculation;
- `ResultSetFromFile` reads through the file only once and calculates each attribute as it does.

This is not a difficult fix, basically porting the code from `ResultSetFromFile` that reads through the file to read through the dictionary.

[2016-09-22 08:27] #719 closed

[2016-09-22 08:28] drvinceknight commented on #290
I think that this is not an issue anymore? Based on test suite running and passing on appveyor.

[2016-09-22 08:28] #290 closed

[2016-09-26 09:54] drvinceknight opened #726 "Need to improve documentation for strategy test functions"
I am not the biggest fan of our strategy test functions (`test_responses` etc...). I feel they make the tests too implicit and often find myself rewriting things explicitly to try and find errors etc... (For example see: https://github.com/Huaraz2/Axelrod/pull/1/commits/4b62612d692c82cf6259bc21bb946f5d27ade4cf).

One person from the PyConUK sprints mentioned that they found them hard to use and th

[2016-09-27 19:16] drvinceknight commented on #605
I have opened https://github.com/python3statement/python3statement.github.io/pull/50 which will add us to: https://python3statement.github.io/

Once that's merged in I suggest we 'announce' dropping py3. Perhaps add it to the readme?

[2016-09-28 08:37] meatballs opened #728 "Human Strategy"
A strategy that presents the history of a match in the terminal and prompts for keyboard input rather than deriving its own action.

[2016-09-28 08:40] drvinceknight commented on #728
👍  Big fan of this idea.

[2016-09-28 08:41] drvinceknight commented on #728
@marcharper not for research obviously (?) although a lovely little thing to bring up for outreach/teaching activities.

[2016-09-28 10:49] meatballs opened #729 "Add docstring requirements to contribution guidelines"
One comment at the PyCon UK sprint was that it's not clear from our guidelines that we expect numpy style docstrings for methods and functions.

We do have #347 to clean up our existing codebase, but we've not been explicit in our expectations for new code.

[2016-09-28 10:53] meatballs commented on #728
There is a basic working version of this now on branch issue-728.

Stuff left to think about:
- [ ] How to test it
- [ ] How to make the screen printing prettier
- [ ] What to do about having to play against yourself in a tournament

[2016-09-28 11:09] drvinceknight commented on #729
👍  (Just an FYI for whoever works on this, the numpy guideline does not extend to strategies for which numpy style `----` etc under section headings breaks the autodoc as it conflicts with the rst syntax).

[2016-09-28 11:15] drvinceknight commented on #605
It's official now: https://twitter.com/axelrodpython/status/781089843749199872

I'm going to change the name of this issue also.

[2016-09-28 13:03] souravsingh commented on #605
@drvinceknight I can work on porting Axelrod to Python 3

[2016-09-28 13:26] drvinceknight commented on #605
Thanks for the offer @souravsingh. Axelrod already runs on py3, this issue is mainly dropping support for py2. Which will allow us to clean up various things and generally simplify development.

Once the 1st of December comes along we will basically drop py2 from our CI runs. There are then various things that will be cleaned up (for example we currently force float division in various places and

[2016-09-29 09:50] drvinceknight opened #731 "Add version number to library"
So that we can run `axelrod.__version__` or something like that.

This should be trivial, nice to not duplicate what is in `setup.py` obviously.

[2016-09-29 09:56] meatballs commented on #731
I've just done the same thing here: https://github.com/meatballs/aldryn-django-rest-framework

where setup.py picks up the version from the library.

[2016-09-30 15:05] #712 closed

[2016-09-30 15:11] meatballs commented on #476
Should be fixable >= 02-Dec-2016 #605

[2016-10-01 21:42] Ducksual commented on #718
This might be related to the fact that windows uses 'spawn' instead of 'fork'. I'd be interested to know if some of these tests fail on Linux if you use set_start_method('spawn') somewhere.

https://docs.python.org/3.5/library/multiprocessing.html#contexts-and-start-methods

Going through the current master and removing all of the block multiprocessing on Windows flags gives me 3 test failures. (P

[2016-10-02 03:03] marcharper commented on #728
Very nice idea @meatballs !

[2016-10-02 10:30] Ducksual commented on #718
Ok, I had a little look and by inserting a couple of lines at the start of integration/test_tournament.py I can get similar pickling errors, but they're not all the same.

The code:
`from multiprocessing import set_start_method
set_start_method('spawn')`

And the errors:
[code]

(I've removed one error about not having matplotlib setup correctly.)

[2016-10-02 16:47] drvinceknight commented on #718
Thanks for this @Ducksual.

[2016-10-07 09:18] drvinceknight commented on #723
Picking this one up.

[2016-10-07 15:58] mturzanska commented on #379
Hi. Is soft_tf2t up for grabs?
gradual_killer needs crossing out because it's already implemented.

[2016-10-07 16:35] drvinceknight commented on #379
@mturzanska I'm afraid that that's in already to under `TitFor2Tats`: http://axelrod.readthedocs.io/en/latest/_modules/axelrod/strategies/titfortat.html#TitFor2Tats

(Please correct me if you think I'm not quite right reading the two logics).

[2016-10-08 02:37] mturzanska commented on #379
You're right. Then continuing from the top:

- c_then_per_dc exists (as GrudgerAlternator)
- per_cccdcd needs implementing (as a subclass of Cycler)
- prober4 needs implementing
- doubler needs implementing

Please let me know if I sorted it out right this time.
Would you mind if I start working on those?

[2016-10-08 09:27] drvinceknight commented on #379
That would be awesome! Let us know if we can assist in any way :) 👍

[2016-10-08 09:32] drvinceknight commented on #225
@Nikoleta-v3 I think you've worked on some of these: could you open a PR for whatever you have done? No need to PR these all in one go, getting them in, even if it's one strategy at a time is good :)

[2016-10-08 10:56] gustavdelius opened #734 "Evolutionary dynamics?"
Do you think that your library could be a good basis for simulating evolutionary dynamics for populations of prisoner's dilemma strategies? I have a final-year undergraduate student who is interested in this. It seems to me that an easy first step would be to build on moran.py and allow the possibility of mutation when a succesful strategy is cloned. However I am new to the package and can not yet

[2016-10-08 11:00] drvinceknight commented on #734
Hi @gustavdelius the library certainly aims to be a good basis for evolutionary dynamics so if there's something that it doesn't do that your student would find useful we'd love to have that contribution (and or work to implement it ourselves).

Have you seen these two part of the documentation that are relevant:

1. Ecological variants: http://axelrod.readthedocs.io/en/latest/tutorials/further_to

[2016-10-08 12:07] drvinceknight opened #738 "Add state distributions to result set"
Following #737 we can now add to the result sets (base and 'from file') consistently (before that they were being built in two separate ways: now code is not duplicated).

The match class and interaction utils also now have functions to calculate the state distribution for a match: counts of turns spent in each of `CC, CD, DC, DD`.

It should be easy enough to add that to the result set. I suggest

[2016-10-08 12:08] drvinceknight commented on #738
Implementing this should be straightforward (done on top of #737) and follow how `results.cooperation` is calculated.

[2016-10-08 14:25] gustavdelius commented on #734
Hi Vincent, many thanks for the fast helpful reply. The essential ingredient for evolution that so far is missing in the Axelrod library is mutation. From your answer I learn that you would be quite happy for Axelrod to be extended to make it suitable for evolutionary experiments.

The link to the blog by @mojones was very useful. He writes: "The reason we're going to the trouble of defining our o

[2016-10-08 14:42] drvinceknight commented on #734
If there's something that can be added to the library that makes them easier we would indeed be delighted!

Fantastic. We look forward to it :)

Some thoughts:

One thing (I believe) that needs to be considered is that there are many options/variations for these mutations. Choosing the underlying structure (that the mutation would affect), for example:

- Zero determinant;
- Markov strategies;
- L

[2016-10-08 19:19] marcharper commented on #734
I think that @gustavdelius wants a Moran process with mutation, which is described in the literature. It would not be difficult to add this variant to the library, and in fact it was on my "get to it eventually list".

[2016-10-08 19:25] drvinceknight commented on #734
Fantastic. My apologies for misunderstanding :) (Out of curiosity, is the mutation to another of the strategies in the population?) Perhaps this is something that @gustavdelius and his student could contribute to the library :)

[2016-10-08 19:54] gustavdelius commented on #734
Hi Marc, a Moran process with mutation was indeed what I had in mind as the simplest way to introduce mutation. However, mainly due to the comment by @mojones on his blog, I suspect that the Axelrod library might need other changes in order to run evolutionary simulations fast enough, because those simulations have to now run for evolutionary timescales, not just population dynamics timescales.

V

[2016-10-09 08:09] meatballs opened #740 "Code Efficiency of Strategies"
It might be interesting to have a measure of how efficient a strategy is in terms of its code complexity.

e.g. If two strategies have similar scores but one does so in 12 lines of code whereas the other has 250 lines, the first could be considered more efficient.

It's perhaps best to use the inpsect module to look at the amount of byte code produced for a strategy, rather than its actual python

[2016-10-09 08:28] meatballs commented on #457
We could use the annotations instead of numpy style docstrings. There's a sphinx extension that will render the docs from them.

[2016-10-09 19:55] marcharper commented on #734
In the literature one often sets up a mutation matrix that determines how strategies mutate into each other. Of course it would not be difficult to add a variant of the Moran process that performs mutation in the same way to the library. However mutation could easily be done within a specific strategy by overriding the `.clone()` member function appropriately, and the rate of mutation itself could

[2016-10-09 20:27] drvinceknight commented on #734
Ah! A mutation matrix! That would be a great addition to the library.

I think the concern was due to a comment by Martin, but he was using
tournaments (which do have an overhead) and not the Moran process you
implemented from scratch.

On Sun, 9 Oct 2016, 20:55 Marc Harper, <notifications@github.com> wrote:

[2016-10-10 12:08] Huaraz2 commented on #728
@meatballs could you set it such that at the start of the first turn for the human strategy you have to input your name and then that way you could differentiate between the two human strategies. Not sure how you could test this though

[2016-10-10 14:01] meatballs commented on #728
@Huaraz2 It's already doing that!

[2016-10-10 14:50] Huaraz2 commented on #728
@meatballs ah ok wasn't sure as I haven't had time to have a play with it, what is the problem when it plays itself then at the moment?

[2016-10-12 13:49] #731 closed

[2016-10-12 13:58] #728 closed

[2016-10-13 08:31] drvinceknight commented on #738
Picking this one up.

[2016-10-13 10:53] #723 closed

[2016-10-16 01:43] marcharper opened #744 "Track CC, CD, DC, DD in player class"
Currently we track cooperations and defections for efficiency for several strategies. Some strategies also use the context counts, so we might consider doing the same for these as well. See [Retaliator](https://github.com/Axelrod-Python/Axelrod/blob/master/axelrod/strategies/retaliate.py for an example.

[2016-10-16 01:54] marcharper commented on #535
I'm going to take on:
* Moran process on graphs
* Moran process with mutation
* Both combined (probably)

Re #734

[2016-10-16 01:55] marcharper commented on #740
This would be interesting, we could also compare to the long-run time calculations (there's a notebook for it).

[2016-10-16 01:59] marcharper commented on #726
`test_markov` isn't a good name (that's on me). It's really just a test of how the player behaves in the four possible first contexts CC, CD, DC, and DD, and is the logical follow up to the first play test. Something like `second_plays_test` is a better name.

I think we could definitely improve the docs for using the `attrs` parameter for `responses_test` -- it's powerful and should be used more.

[2016-10-16 10:09] drvinceknight commented on #726
Sounds good to me.

[2016-10-16 11:05] #738 closed

[2016-10-18 08:28] drvinceknight opened #746 "Dual of finite state machine players"
In [Ashlock and Kim 2008](http://ieeexplore.ieee.org/document/4492964/) the dual of a strategy is defined as:

Note: this does not correspond to flipping the actions (using the `FlippedTransformer` for example), but needs to actually go in to the finite state machine and change the response (not the states).

This would be an easy addition to do for the generic finite state machine strategies (cou

[2016-10-18 14:18] meatballs commented on #746
An alternative to what?

Ashlock's work itself? (i.e Is there some issue with how the fingerprinting is done)?
Using Ashlock's work for #138? (i.e The fingerprinting is fine, but doesn't solve our issue)?

[2016-10-18 14:31] drvinceknight commented on #746
No issue with how it's done, just that it's not the best approach for #138 in general. He does what he describes but what he describes seems to be particularly aimed at finite state machine strategies and not immediately applicable to "any" strategy. My hunch is also that it's not terribly robust but time will tell as we evaluate it more. We've got a couple of ideas for other approaches for #138 t

[2016-10-19 04:28] marcharper commented on #746
Dual Strategy Transformer?

[2016-10-19 05:31] drvinceknight commented on #746
Thought about that but it would have to only apply to finite state machines (dual is only defined on fsm strategies). But there are also some strategies like `WSLS` that could have a dual although it's not currently written as a fsm.

My thinking was to write a transformer for the fsm and build the fsm strategies using it. We could still expose the fsm transformer.  What do you think?

[2016-10-19 09:03] theref commented on #746
I've come up with an algorithm that would allow us to create a Dual Strategy Transformer for any strategy. I don't think it will be difficult to implement either.
A quick explanation:

- Get the history for the game so far (Dual v's Probe)
- Flip the Dual's moves to obtain the history for the original Strategy (this is the step we were missing on monday)
- Obtain the original strategy's next move

[2016-10-19 09:20] drvinceknight commented on #746
Very nice @theref. That sounds like it would work! Fantastic.

[2016-10-19 15:07] meatballs commented on #706
I'll start having a look at this one - the API isn't going anywhere until this is sorted.

[2016-10-20 03:09] marcharper commented on #746
Interesting. Perhaps every strategy can be realized as a sufficiently complex finite state machine?

[2016-10-20 07:01] drvinceknight commented on #746
Yeah, I think that's definitely true for deterministic strategies. The existence proof would simply be that the sequence of [finite state machine] states correspond to cumulative histories of the interactions. So state 1 is the state of no histories, then depending on the actions the next state can be a choice of 4: `CC`, `CD`, `DC` or `DD`. And then a choice of 16 etc...

I'm not entirely sure wh

[2016-10-21 02:08] marcharper commented on #746
Let me know if I can help!

[2016-10-21 06:43] drvinceknight commented on #746
Thanks, we will :)

[2016-10-22 13:37] mturzanska commented on #744
Could I work on this one?

[2016-10-22 15:03] drvinceknight commented on #744
Please do!

[2016-10-24 18:41] drvinceknight commented on #708
I'll pick this one up (on a slow burn...)

[2016-10-24 18:43] drvinceknight commented on #676
I've been thinking about this and actually think there's not much to think about.

The example I gave above: with the match lengths is still the output we want. We could theoretically have data for a tournament with matches of different length, so the resultset should be able to tell us that.

I suggest closing this issue.

[2016-10-25 02:11] #676 closed

[2016-11-02 11:13] #708 closed

[2016-11-03 08:16] drvinceknight commented on #744
Cosed by #752

[2016-11-03 08:16] #744 closed

[2016-11-03 11:18] drvinceknight commented on #347
I'll pick this up next.

[2016-11-03 11:27] meatballs commented on #347
What's your opinion on my last comment on #457?

I suspect using annotations might be a better option.

[2016-11-03 11:28] meatballs commented on #457
Here's the extension: https://pypi.python.org/pypi/sphinx-autodoc-annotation/1.0

[2016-11-03 11:53] drvinceknight commented on #347
So the idea would be that the docstrings would no longer need:

[code]

or

[code]

is that the idea?

I guess when viewing the docstrings (via a notebook for example) the type annotation would be visible so that that would not be 'lost' and we would still have a docstring that describes what is going on right?

Could you explain what we would use that autodoc plugin for? We're not currently autod

[2016-11-03 12:00] meatballs commented on #347
there's quite a good example here: https://pypi.python.org/pypi/sphinx-autodoc-napoleon-typehints

[2016-11-03 12:01] meatballs commented on #347
The docstrings remain but argument types and return value types move into the annotations.

[2016-11-03 12:20] drvinceknight commented on #347
Just so that I understand, the advantage of that is two fold:

1. We don't have to have `Parameters` and `Returns` which is what the numpy spec is about.
2. By getting rid of those we ensure that they are never lies (which as and when we've changed things sometimes they have become).

That's a different plugin to the one you pasted on #457 right?

I'm still not sure I understand what the purpose o

[2016-11-03 12:25] meatballs commented on #347
Yes, there are a couple of different sphinx plugins doing the same job. That last one just had a nicer description.

[2016-11-03 12:27] meatballs commented on #347
No, we still keep the Parameters and Returns, but they no longer specify the types of each entry. That's done instead within the annotations

[2016-11-03 12:29] meatballs commented on #347
An example from match.py:

The current docstring for the init method starts with
[code]

which defines the type of each parameter. This would become:
[code]

[2016-11-03 12:36] drvinceknight commented on #347
Thanks for clarifying, I understand now.

I'll simply go through and add the `Parameters` and `Returns` where they are absent.

[2016-11-04 17:35] theref commented on #347
Is this how new contributions should be documented?

[2016-11-04 17:39] drvinceknight commented on #347
I would suggest we keep with the status quo for now (so use numpy style). Until we actually change things it's best to stick with the same message.

[2016-11-04 17:40] meatballs commented on #347
Yes please. Numpy style docstrings.

[2016-11-04 17:42] meatballs commented on #347
Ordinary Numpy docstrings please. The new style will only become possible once we drop python 2.

[2016-11-06 14:47] drvinceknight opened #760 "Do we want to skip random sampling for deterministic memory one (and other) strategies?"
**EDIT**: This is a long issue but it actually suggests a very minor edit to the `random_choice` function. Thought documenting the long thing was worth it as it's kind of quirky behaviour. :)

Here's a gist (with the code I'm about to write below): https://gist.github.com/drvinceknight/eea3e3e9efd5170fa9f15cdc9cf283a1

Seeding play and creating a `Random` player. Against `p2` and `p3` (two instanc

[2016-11-10 17:31] marcharper commented on #760
Looks fine to me. It's probably going to break a bunch of tests -- good luck!

[2016-11-10 19:37] drvinceknight commented on #760
I thought it was going to be pretty bad! It actually wasn't :)  #761

[2016-11-11 17:32] #760 closed

[2016-11-18 18:51] #746 closed

[2016-11-18 18:52] drvinceknight opened #764 "The Moran process can use a method from the match class to calculate the score per turn."
About to push a one line fix.

[2016-11-19 07:56] drvinceknight opened #766 "The fingerprint range for x and y doesn't go to 1."
Using `np.arange` for our coordinates means we don't necessarily get any coordinate at `1`:

[code]

Given the definition by Ashlock (which defines this as an analytical function on the unit cube) I think it would be better to have coordinates at 0 and 1 (inclusive) with a setting for the granulatiry. Numpy has this:

[code]

I should have noticed this on the PR.

Just pushing a PR that implements

[2016-11-19 10:10] drvinceknight opened #768 "A couple of extra progress bars for the fingerprint"
Would be good to pass the progress bar method to the `create_points` function and also `generate_data`. For big fingerprints there is a bit of a lag where there is no user feedback during these phases.

(Also: currently the `read_interactions_from_file` call is not passed the progress bar argument from the `fingerprint` method, so when it's used but `progress_bar=False` it will still display a pro

[2016-11-19 11:41] drvinceknight opened #769 "Make it possible to pass a title to the fingerprint plot."
Simple, pushing this shortly.

[2016-11-19 18:08] drvinceknight commented on #766
I'm about to push a better solution (or at least a solution that is less disruptive to the current api).

[2016-11-20 10:38] #764 closed

[2016-11-20 17:20] #766 closed

[2016-11-20 17:24] #769 closed

[2016-11-23 15:43] marcharper opened #771 "Short and Long Run-time strategies"
I'd like to add a few more meta strategies to the library, such as MetaWinners for the collections of stochastic and deterministic strategies. I do not, however, want to add more long run time strategies, since we've already got several and they take up the vast majority of the run time (especially against each other).

So I'd like to propose that we leave out the long run time strategies from the

[2016-11-23 17:35] drvinceknight commented on #771
My preference would be to add `short_run_time`. I think leaving the
`strategies` as is is important to do.

If only for backwards compatibility, but also, the risk of newcomers not
knowing that there's another set of valid strategies elsewhere is in my
opinion worse than that they might have some tournaments that run for a
while. The status quo of: all 'valid' strategies are in `strategies` and
th

[2016-11-24 18:34] souravsingh commented on #379
Are ``Resurrection`` and ``DoubleResurrection`` strategies implemented? If not, I would like to  work on them.

[2016-11-24 19:01] marcharper commented on #379
I don't believe so, what reference are they from?

[2016-11-24 19:04] souravsingh commented on #379
They are from CoopSim

[2016-11-24 19:06] marcharper commented on #379
These are not yet implemented, go for it!

[2016-11-25 23:00] marcharper commented on #734
Update: we now have the Moran process with the standard mutation set up in the library.

[2016-12-01 17:01] #605 closed

[2016-12-02 22:26] drvinceknight opened #776 "Add ability to pass more options to plot objects"
axis labels for example (this came up on gitter).

[2016-12-03 02:21] marcharper commented on #776
If we give access to the underlying matplotlib axes object then users can modify plots however they like. I do this in my ternary plotting library with a wrapper object, see [here](https://github.com/marcharper/python-ternary/blob/master/ternary/ternary_axes_subplot.py).

[2016-12-03 06:14] drvinceknight commented on #776
That sounds ideal.

On Sat, 3 Dec 2016, 02:21 Marc Harper, <notifications@github.com> wrote:

[2016-12-03 17:32] drvinceknight commented on #768
I'll pick this one up. Noticed it whilst doing the fingerprint repo.

[2016-12-03 17:33] drvinceknight commented on #734
I'm going to close this issue, as I feel it has been addressed. Please reopen if I'm incorrect.

[2016-12-03 17:33] #734 closed

[2016-12-03 17:34] drvinceknight commented on #776
@Nikoleta-v3 this could be a nice one to pick up if you wanted it.

[2016-12-03 17:48] Nikoleta-v3 commented on #776
Will do!

[2016-12-03 21:04] marcharper opened #779 "Cache Bug Lurking"
We have to instantiate the strategy before checking if it's stochastic since various strategies have parameters that could change the classification. This could easily be true for the other classifiers such as memory depth and even say length but I'm not sure if there are instances of the latter.

We need to change the cache to use the strategy names as keys and to check the instances for stochast

[2016-12-03 21:48] drvinceknight commented on #779
I'll look at this more closely tomorrow (if a fix hasn't appeared) but that fix seems straightforward enough?

As you say, I think we're mainly ok here because of how the cache is now being used (famous last words!).

[2016-12-04 02:36] marcharper opened #780 "Expand Default Tournment"
We have a lot of parameterized strategies, it would be nice to include some variants in our standard tournament, such as:
* Random(0.9)
* Random(0.3)
* GTFT(0.1)

and also to take better advantage of the strategy transformers. We have a lot of "cooperative" strategies and it would be good to have more of a mix.

[2016-12-04 10:48] drvinceknight commented on #780
Sure, we could add in a few, with the strategy transformers we could potentially add a transformed version of every strategy... (This would swiftly increase the size of our tournament).

As well as those three, do you have any other suggestions (I could add them all in for the next tournament run I do)?

[2016-12-04 11:23] drvinceknight opened #781 "Random strategy does not change it's classification"
We need to include something similar to the setup in memory one strategies that overwrite the stochastic classifier upon initialisation:

[code]

Mildly connected to #779 (found it whilst working on that).

[2016-12-04 11:34] drvinceknight commented on #779
Some code showing where this currently creates a problem (working on a fix):

[code]

The above creates 3 players that are **not** stochastic:

[code]

Their class is considered stochastic:

[code]

The `Match` class then falls over:

[code]

This is because the valid key check in the cache checks the cache but the Match checks the players (the match is correct).

**Note this example shows another

[2016-12-04 16:09] marcharper commented on #781
Good catch

[2016-12-04 18:47] #781 closed

[2016-12-04 19:12] #779 closed

[2016-12-04 19:33] marcharper commented on #138
Worth a revisit now?

[2016-12-04 19:37] drvinceknight commented on #138
Yup. @theref will be looking in to this as part of his project, mainly starting properly in the new year as part of his project (which will take a backseat for a bit as is exams come up), if we're happy to move in time with that it would be great (from his project's point of view) to leave this with that.

[2016-12-05 07:43] varung97 commented on #379
Hi guys! I'm new to open source software, but would love to contribute to your project.
Is it okay if I try implementing `better_and_better`, `worse_and_worse2` and `worse_and_worse3`, from the PRISON PROJECT?

[2016-12-05 08:15] drvinceknight commented on #379
Hi @varung97! Welcome to the project!

Those are up for grabs so it would be great to have them in.

If we can help please let us know. We have a gitter room here: https://gitter.im/Axelrod-Python/Axelrod feel free to drop by :)

[2016-12-05 08:23] varung97 commented on #379
Thanks @drvinceknight :D

[2016-12-05 12:58] #768 closed

[2016-12-08 04:30] marcharper commented on #780
I don't have a big list but more variation is good. I'd like to have more random strategies, or just to take advantage of our parametrized strategies. With the new meta strategies there are a lot of "cooperative" strategies and maintaining a diverse collection is healthy.

[2016-12-08 06:02] drvinceknight commented on #780
I'll put something together on the next run/release. We can always add more
after. :)  :+1:

On Thu, 8 Dec 2016, 04:30 Marc Harper, <notifications@github.com> wrote:

[2016-12-09 07:30] drvinceknight commented on #780
Have just pushed new results with 8 extra strategies. You can see this in the `player.py` script in the tournament repo <https://github.com/Axelrod-Python/tournament/blob/gh-pages/players.py>:

[code]

I'm going to close this issue, but we can add more there :)

[2016-12-09 07:30] #780 closed

[2016-12-09 07:32] drvinceknight opened #789 "Add initial play rate to the result summary."
Would be cool to have the summary of the initial play rate for each player as a column in the results summary.

[2016-12-09 08:48] drvinceknight opened #790 "The __repr__ method of the Dual strategy needs to include x and y values."
Currently the Dual strategy transformer does not include the particular used x and y values in it's repr.

[2016-12-13 06:07] #776 closed

[2016-12-22 12:30] #771 closed

[2016-12-31 14:40] drvinceknight commented on #789
I'm picking this one up :)

[2016-12-31 19:13] drvinceknight opened #798 "Python 3.6"
Python 3.6 was released over the Christmas break (https://docs.python.org/3/whatsnew/3.6.html).

We have discussed "supporting the latest two versions of py3" as a general policy.

On a branch ([`py3.6`](https://github.com/Axelrod-Python/Axelrod/commits/py3.6)) I've pushed the simple change to our travis build config: removing py 3.4 and adding py 3.6 (and a minor doctest compatibility fix).

One

[2016-12-31 21:33] marcharper commented on #798
Sounds good to me. We should also look into using [enums](https://docs.python.org/3/library/enum.html), introduced in Python 3.4, and a sweep of the library removing anything keep around for Python 2.7 compatibility.

[2017-01-01 11:22] drvinceknight opened #801 "Sweep of Python 2 compatibility features"
There are various things in the library that can now be simplified as we no longer support py 2.

For example various computations had to be explicitly done as float division. These can be removed now :)

[2017-01-01 11:28] drvinceknight commented on #790
Closing this as we don't do it for any of the transformers. Perhaps we should so will open another issue to discuss.

[2017-01-01 11:28] #790 closed

[2017-01-01 11:37] drvinceknight opened #802 "Automatically set strategy classes (and transformers) __repr__ to include parameters."
As an example:

Should:

[code]

which currently gives:

[code]

give:

[code]

?

[2017-01-01 15:14] #476 closed

[2017-01-01 18:23] #798 closed

[2017-01-01 18:46] marcharper commented on #802
Yes, it should. Do we want to change the name, or the `__repr__` function?

[2017-01-01 18:58] drvinceknight commented on #802
We're currently adding a prefix to the name so I suggest doing that?

[2017-01-02 11:06] #789 closed

[2017-01-02 20:16] drvinceknight opened #805 "Run py3.6 on appveyor"
I've run one build on appveyor and had some sort of error due to certain libraries not being precompiled (I think): https://github.com/Axelrod-Python/Axelrod/pull/804

I expect this can be fixed by either getting in touch with the appveyor people or waiting.

[2017-01-04 07:29] marcharper opened #806 "History class"
I added a preliminary implementation of a history class [here](https://github.com/Axelrod-Python/Axelrod/blob/history_class/axelrod/history.py). I'm curious for feedback @meatballs @drvinceknight before I progress any further. The idea is that by abstracting the history into a class we can:

* compute features in the history class rather than having strategies duplicate it
* enforce some boundarie

[2017-01-04 08:48] drvinceknight commented on #806
Sounds good to me.

[2017-01-05 10:51] drvinceknight commented on #535
I believe we can close this issue now?

[2017-01-05 15:44] marcharper commented on #535
Well there are still some variations:
* Link Dynamics
* B/D bias
* Wright-Fisher
* Variable population size / active linking

[2017-01-05 15:47] drvinceknight commented on #535
Cool :)

[2017-01-07 05:48] rkty13 commented on #801
Hi! I'm pretty new to open source projects even though I've been programming for a while now. I'm interested in contributing to this project and I thought this issue might be a good place to start. Do you have any suggestions for how I should tackle this?

[2017-01-07 11:55] drvinceknight commented on #801
Hi @rkty13! Welcome!

I think this issue would be a good place to start indeed :)

To give a bit of background (and apologies if this is all known), this library used to support python 2 but now only supports python 3. In the past, to ensure compatibility we had to do certain little things that aren't needed anymore. For example, in python 2, division was always integer division so `5/2` would giv

[2017-01-08 05:45] rkty13 commented on #801
Thank you for the pointer! I guess what I really meant to ask though was if I should do this all in a new branch in this repo or if I should fork the project first and then submit a pull request. Sorry about the confusion!

[2017-01-08 06:02] marcharper commented on #801
In a fork is best, since you probably can't push to this repository.

[2017-01-08 07:10] marcharper opened #808 "Type Hints and Annotations"
Now that we're Python 3.5+ exclusive, it's time for [type hints](https://docs.python.org/3/library/typing.html)!

Note to contributors: please run mypy on any newly annotated files. After installing with `pip install mypy`, please run:

`mypy --ignore-missing-imports --follow-imports skip axelrod/<file.py>`

for whichever files you annotate. You should receive no errors. We'll get this added to th

[2017-01-09 05:15] rkty13 commented on #801
Thank you, I'll get started on that now!

[2017-01-11 00:16] rkty13 commented on #801
For calling the methods of a superclass, which would be the best way to do so for Python 3?

In [https://github.com/Axelrod-Python/Axelrod/blob/master/axelrod/match_generator.py#L224](https://github.com/Axelrod-Python/Axelrod/blob/master/axelrod/match_generator.py#L224) this is written:

[code]

However, in the same file ([https://github.com/Axelrod-Python/Axelrod/blob/master/axelrod/match_generat

[2017-01-11 01:46] souravsingh commented on #808
I am interested in working on the issue.

[2017-01-11 03:46] marcharper commented on #801
My vote would be to change them all to the preferred py3 format.

[2017-01-11 04:03] marcharper commented on #808
@souravsingh Great! It's a huge undertaking so feel free to tackle it in chunks, maybe file by file, and open multiple PRs if you'd like.

A few notes:
* Start with the easy cases, things that are clearly ints or floats, things that are strings and unlikely to be anything else (like player names)
* Go inside -> out, meaning start with the basic things like actions and players rather than the deriv

[2017-01-11 04:04] marcharper commented on #808
@meatballs @drvinceknight Have you seen [PEP 526](https://www.python.org/dev/peps/pep-0526/)? It's Python 3.6 only and relevant to this issue. Unfortunately Python 3.7 won't be released for 18 months...

[2017-01-11 04:17] marcharper opened #811 "Release update pipeline"
Currently we manually update various components post release, such as running new tournaments in the tournament repository. It would be great if we had a script that we could run that would (after a release):
* run the sample tournaments, ideally including some newer versions like a spatial tournament or Moran process
* run the fingerprints (on just the new strategies?)
* run the scripts in the ax

[2017-01-11 04:19] marcharper commented on #802
I think name is fine for now although we do have some redundancy / overlap with the class name and the `__repr__` method, and it might be better for the transformer to wrap the `__repr__` method.

[2017-01-11 04:24] marcharper commented on #322
Closing since we're no longer supporting 2.7.

[2017-01-11 04:24] #322 closed

[2017-01-11 04:25] marcharper commented on #457
Closing re: #808

[2017-01-11 04:25] #457 closed

[2017-01-11 04:28] marcharper opened #812 "Autogenerate docs from annotations"
Use [this library](https://pypi.python.org/pypi/sphinx-autodoc-annotation/1.0) to autogenerate docs from type annotations. [@meatballs suggestion on #457]

See also #808 and #347.

[2017-01-11 04:30] marcharper opened #813 "More example and visualization notebooks"
We could use some more examples and demos in our [notebooks](https://github.com/Axelrod-Python/Axelrod-notebooks) repository.

[2017-01-11 04:37] drvinceknight commented on #812
My question on #457 remains, what would this be for, the only documentation that we autogenerate is for the strategies, is this for that?

[2017-01-11 04:43] drvinceknight commented on #811
The difficulty here is the lack of an API for archiving (zenod) the interaction data. I looked around but as far as I can see that needs to be a manual process (would be great if I've missed something).

https://github.com/Axelrod-Python/Axelrod-fingerprint/blob/master/update_fingerprints.py does this. (Only slight issue is for the new ML strategies that read from a file would have been retrained.

[2017-01-11 04:58] drvinceknight commented on #808
Just read it :)

[2017-01-11 18:04] rkty13 commented on #801
By that do you mean the zero arguments format?

[2017-01-12 05:39] marcharper commented on #801
Yep.

[2017-01-13 06:51] marcharper commented on #808
@drvinceknight we should look into running a type checker (with travis?) once we have a some annotations in.

[2017-01-13 16:00] drvinceknight commented on #808
Yeah: great idea! Do you know of a type checker for Python? A quick google has lead me to give up as the wifi is a bit slow in my hotel right now...

[2017-01-13 16:51] souravsingh commented on #808
@drvinceknight @marcharper We can make use of [mypy](http://www.mypy-lang.org/) for type checks. Guido likes the tool himself.

[2017-01-14 07:55] marcharper commented on #808
`mypy` is probably a good choice, assuming we can make it work with travis  -- it's been around for a while (and is the only type checker I've used before).

[2017-01-14 10:31] souravsingh commented on #808
There is pytest plugin for mypy here- https://github.com/dbader/pytest-mypy
We can utilise it

[2017-01-14 17:33] marcharper commented on #808
Here's a [patch](https://github.com/zulip/zulip/commit/c80f6993211011fc995270114f51d38a2f0489c0) that another project used to incorporate `mypy`.

[2017-01-14 17:58] souravsingh commented on #808
There is another package for type checking called Traits- https://github.com/enthought/traits

[2017-01-15 03:54] rkty13 commented on #801
In [https://github.com/Axelrod-Python/Axelrod/blob/master/axelrod/random_.py](https://github.com/Axelrod-Python/Axelrod/blob/master/axelrod/random_.py), there are two functions called `random_choice()` and `randrange()` that are used because of inconsistencies between Python 2's and 3's implementation of `random.choice()` and `random.randrange()`, respectively.

However, when I try replacing, for

[2017-01-15 06:37] marcharper commented on #801
The typical reason for these tests is to make sure that all the possible behaviors for stochastic strategies are seen, so ideally we'd find a new random seed in each case that makes the test pass.

There may be a few tests that this is difficult to do for so we may want to substitute a different test. If there are some tricky cases just skip them for now and we'll decide how best to fix them on a

[2017-01-15 19:30] drvinceknight opened #816 "Actions should probably be an enum now."
@marcharper you've mentioned this a couple of times, opening this issue to discuss :)

[2017-01-15 21:52] marcharper commented on #816
It causes a lot of errors since `C` becomes `Actions.C` but I'm sure we can figure it out...

[2017-01-15 21:58] marcharper commented on #816
Also note that `enum.auto()` is Python 3.6+.

[2017-01-15 22:03] marcharper commented on #812
Would apply to any function but right now we only really do this for strategies.

[2017-01-16 01:20] rkty13 commented on #801
Most of the changes have been made in #818. Some things I could not change:

- Dropping the use of `random_choice()` and `randrange()` in [https://github.com/Axelrod-Python/Axelrod/blob/master/axelrod/random_.py](https://github.com/Axelrod-Python/Axelrod/blob/master/axelrod/random_.py) as noted in [#801](https://github.com/Axelrod-Python/Axelrod/issues/801#issuecomment-272677267).
- Due to Multipl

[2017-01-16 04:39] drvinceknight commented on #816
And perhaps from a readability point of view just having `C` is still preferable?

I am not actually familiar with `enum` at all. What problem would moving to them solve?

[2017-01-16 04:41] drvinceknight commented on #812
I'm not sure it's needed is it?

[2017-01-16 04:44] drvinceknight commented on #808
Looks simple enough to me.

@souravsingh do you think there's anything that Traits adds over mypy?

[2017-01-16 05:38] marcharper commented on #816
None that I have in mind at the moment but it is an Enum technically.

[2017-01-16 05:39] marcharper commented on #812
The point is that the type annotations take the place of some of what we're manually putting in docstrings now.

[2017-01-16 06:56] drvinceknight commented on #812
I understand the point of type annotations just not sure what docs would be
autogenerated using them. We don't have much of an API documentation (which
is not a bad thing), only the strategies which we only really want the
class docstrings for (to have the list that can be searchable).

It feels like we'd add this because we can not necessarily because we need
it (from a docs point of view) but I'

[2017-01-16 07:02] marcharper commented on #812
Let's revisit once we've typed more things.

[2017-01-16 07:07] drvinceknight commented on #812
Good call. :+1:

On Mon, 16 Jan 2017, 09:02 Marc Harper, <notifications@github.com> wrote:

[2017-01-16 08:42] souravsingh commented on #808
@drvinceknight All I can think of is it supports Type Validation, Notification to other programs if the type of a varibale is changed. I haven't really used traits a lot.

[2017-01-16 16:07] drvinceknight opened #822 "Sphinx not building docs"
We have the following sphinx error:

[code]

Looks like it's due to the typing module which might not be in the version of python 3 I've configured to run in `.readthedocs.yml`.

Trying a fix now.

[2017-01-16 16:10] drvinceknight commented on #822
https://github.com/rtfd/readthedocs.org/issues/1990

[2017-01-16 16:58] drvinceknight commented on #822
On the `822` branch I've tried two separate fixes:

- Call for native py3.6 but that's not supported yet.
- Use a conda environment. This seems to work for the build but getting a syntax error on the `actions.py` file which has some type annotations:

[code]

Any help appreciated.

[2017-01-16 17:06] drvinceknight commented on #812
#822 might be relevant (hopefully we fix that before this makes a move).

[2017-01-16 18:38] drvinceknight commented on #822
Here's the build on rtd: https://readthedocs.org/projects/axelrod/builds/4904820/

[2017-01-16 18:58] #822 closed

[2017-01-19 14:07] drvinceknight commented on #726
This was closed by #820

[2017-01-19 14:07] #726 closed

[2017-01-19 14:11] drvinceknight commented on #801
Thanks @rkty13!

I suggest we close this issue and potentially open issues for those two remaining points?

[2017-01-19 14:58] marcharper commented on #801
It's really just one issue though right? There's not much we can do about the second one.

[2017-01-19 20:00] drvinceknight commented on #801
Yup!

And actually I'm not sure we do want to get rid of `random_choice` that's now doing more than just being py2 compatible but also ensuring the random state is not modified for deterministic p. I think that just needs the docstring to be fixed (it's not actually correct now: it doesn't emulate `random.choice`).

[2017-01-20 03:48] marcharper commented on #801
+1 let's close and leave `random_choice` as is.

[2017-01-20 04:54] drvinceknight commented on #801
Have opened #826 which tweaks the docstring for `random_choice`. Merging that will close this issue.

[2017-01-20 05:38] marcharper commented on #808
Thanks @juliahou8 and @souravsingh for getting the ball rolling on this issue!

[2017-01-23 15:47] #801 closed

[2017-01-29 12:14] janga1997 commented on #808
@marcharper I would like to work on this issue.

[2017-01-30 06:56] marcharper commented on #808
Whenever possible other than tests IMO.

[2017-02-01 04:52] marcharper opened #842 "Merge in Approximate Moran Process"
From the Moran repository.

[2017-02-01 15:25] drvinceknight opened #845 "Discussing the dynamically created classes"
The dynamically created classes are creating very minor issues with type checking (and also causing slight issues with hashing in the fingerprinting repo but that's not a big deal). Is it worth perhaps revisiting whether or not they are necessary?

Perhaps we could include the data in the corresponding modules themselves (as a class attribute for each given class). This has the negative side effec

[2017-02-01 17:09] #805 closed

[2017-02-02 01:13] marcharper commented on #845
Dynamic generation isn't necessary, though it could be useful in some situation. We can leave the data loading as is and just name the classes explicitly.

[2017-02-02 11:36] drvinceknight commented on #845
Is there a particular situation you have in mind?

Good idea, it will keep things a bit tidier. I'm happy to have a go at this.

[2017-02-02 15:26] marcharper commented on #845
If you wanted to study a tournament of randomly generated FSM strategies, for instance, it would be a huge pain to do if the classes were not dynamically generated. So if we remove that example from the main library, an advanced tutorial would be nice.

Also, before you remove those guys I'd check that the strategy transformers don't cause the same problem

[2017-02-02 16:10] drvinceknight commented on #845
I might be missing something but could this not be taken care of using inheritance from a parent FSM class? (like for the simpler memory one strategies for example)

Yeah, I was thinking that the PR should change travis to run `mypy` on everything anyway so it would see what this catches (or doesn't).

[2017-02-02 16:45] drvinceknight opened #848 "Run mypy on full library"
@marcharper found a bug in mypy but this has now been patched: https://github.com/python/mypy/pull/2786

This bug currently stops us from type checking the whole library (as some modules don't play nice) so `type_tests.sh` type checks each relevant module.

When mypy next does a release we should update `type_tests.sh`  (or get rid of it and simply run the required command in `travis.yml`?).

We s

[2017-02-03 03:13] marcharper commented on #845
Yeah maybe there is an easier way if the base strategies are parameterized, so maybe my example isn't very good.

[2017-02-04 06:20] janga1997 commented on #379
@drvinceknight Apart from type-hinting, I think I would like to work on a strategy.
Are these taken or already done?

copycat
craby
forgetful
golden

[2017-02-05 10:58] drvinceknight commented on #379
Hey @janga1997 sorry I saw this when I was busy and then it slipped my mind :)

I've taken a quick look through the matlab files that I seem able to read and to the best of my ability it looks like they're not done yet.

Probably best course of action is that once you identify a particular strategy if you can briefly say what it does we should be able to be a bit more confident in our ability to i

[2017-02-09 21:29] agroce opened #859 "Pip installed but import fails on OS X"
$ pip install axelrod
Collecting axelrod
  Downloading Axelrod-2.4.0-py2.py3-none-any.whl (118kB)
    100% |████████████████████████████████| 122kB 1.8MB/s
Collecting prompt-toolkit>=1.0.7 (from axelrod)
  Downloading prompt_toolkit-1.0.13-py2-none-any.whl (247kB)
    100% |████████████████████████████████| 256kB 2.0MB/s
Collecting pyparsing==2.1.1 (from axelrod)
  Downloading pyparsing-2.1.1-py2.

[2017-02-09 21:39] agroce commented on #859
Ah.  I see, it installed but doesn't really support Python 2 anymore?

[2017-02-10 03:55] marcharper commented on #859
@agroce We only support the two latest major python versions, currently 3.5 and 3.6. Sorry for the inconvenience! We want to take advantage of newer features and it's just too much overhead to continue to support 2.7.x.

[2017-02-10 04:14] agroce commented on #859
thanks -- just used to pip complaining it won't install on 2.7 if that's
the case!

On Thu, Feb 9, 2017 at 7:55 PM, Marc Harper <notifications@github.com>
wrote:

--
--
Alex David Groce
School of Informatics, Computing, and Cyber Systems
Northern Arizona University

[2017-02-10 07:45] marcharper commented on #859
@drvinceknight Perhaps we can add a warning on the next release?

[2017-02-10 09:25] drvinceknight commented on #859
Yeah good call, I'll look in to that, I'm a bit behind with a release, I'll do it this weekend :)

@agroce if there's anything we can assist with to get a python 3 install working for you please let us know :)

[2017-02-10 12:52] agroce commented on #859
Thanks!  I'm sure I can get 3.0+ working, but I was downloading in order to try using a testing tool (TSTL) on it, and it doesn't yet support 3.0, so I'll just wait until I get around to working on 3.0+ compatibility in TSTL.

[2017-02-10 13:46] #845 closed

[2017-02-11 16:53] drvinceknight commented on #859
I've added a classifier <https://packaging.python.org/distributing/#classifiers> to the setup script which after looking around seemed like the "done thing": https://github.com/Axelrod-Python/Axelrod/commit/5005cde3b7cb74a9185321e0ac97fa3dad9882c5#diff-2eeaed663bd0d25b7e608891384b7298R24

However, after experimenting with that a bit it does not seem to stop and/or complain when installing in to a

[2017-02-12 08:50] drvinceknight commented on #859
A kind soul on twitter (https://twitter.com/dstufft/status/830618459713261569) told me the right way to do this :)

Have opened https://github.com/Axelrod-Python/Axelrod/pull/862 which will be in the next release :D :+1:

[2017-02-12 21:14] nadia39 commented on #813
I would like to assist in this issue, could you give me more information on what you need?

[2017-02-13 06:45] drvinceknight commented on #813
Hi @nadia39 great to have you assist!

If you take a look at this repository: https://github.com/Axelrod-Python/Axelrod-notebooks we have a number of Jupyter notebook examples showing a variety of things that can be done with the library. We're always looking for more examples which is what this issue is asking for.

Perhaps take a look through the documentation http://axelrod.readthedocs.io/en/la

[2017-02-13 19:15] #859 closed

[2017-02-18 15:51] drvinceknight opened #868 "Mypy errors not recognised by travis"
#867 and #839 show that travis is passing even if mypy fails. Here is some of the travis output:

[code]

Not sure what the fix is, but let's keep an eye on travis when merging @marcharper @meatballs (#839 was my fault for not checking this before giving a positive review label).

[2017-02-18 16:04] drvinceknight commented on #868
I'm assuming the relevant part is:

[code]

[2017-02-18 16:08] drvinceknight commented on #868
I wonder if this approach is worth looking at: https://github.com/zulip/zulip/pull/639/files

[2017-03-01 16:18] #729 closed

[2017-03-03 20:26] drvinceknight opened #874 "Document passing a match length attribute to `responses_test`"
This is currently not documented at http://axelrod.readthedocs.io/en/latest/tutorials/contributing/strategy/writing_test_for_the_new_strategy.html

but it is implemented: https://github.com/Axelrod-Python/Axelrod/blob/master/axelrod/tests/unit/test_backstabber.py#L36 :+1:

[2017-03-04 19:13] marcharper commented on #874
I thought about this a while ago. I think we should try to move to testing direct matches whenever possible rather than enforcing potentially impossible histories. In this case we could test that the last action is a defection by simply running a short match and checking the last action.

Mock histories are ok in some cases, especially when finding just the right random seed would be very difficul

[2017-03-04 19:22] drvinceknight commented on #874
That sounds good to me. Would involve going through all the tests and structuring the docs a bit differently (just reordering what's there).

[2017-03-04 19:56] drvinceknight commented on #874
I was thinking of going through and sorting out those warnings at some point so I can change over to matches too. It'll probably be a slow burn but if no one else wants to do it I'm happy to assign this to myself...

[2017-03-04 20:11] drvinceknight commented on #874
Although thinking about it, we should do this carefully and from a review point of view it's probably easier to do it small set of strategies at a time. Perhaps I can do a few and then we can open a nice descriptive issue.

[2017-03-04 20:41] drvinceknight commented on #874
@marcharper I've just taken a quick look but the docs for `TestMatch.versus_test` are incorrect. http://axelrod.readthedocs.io/en/latest/tutorials/contributing/strategy/writing_test_for_the_new_strategy.html currently reads:

[code]

However the `versus_test` method of that class is:

[code]

(the arguments don't match up)

We could however just remove the `TestMatch` class and in the documentatio

[2017-03-04 23:06] marcharper commented on #874
I think this is on the right track. We should think about combining our responses test and the heads up test using our `Match` class (which didn't exist way back when). `responses_test` is actually quite powerful since it can check the player's attributes at steps along the way and we can't do that with matches. So while I like this approach it's not going to cover some of the test cases.

[2017-03-05 11:56] drvinceknight commented on #874
Very good point. I think I see a good way of doing this. I'm going to give something a go later today:

- Implement a `versus_test` in the `TestPlayer` class which would take the best of `responses_test` along with the `Match` class.
- Essentially depreciate the `responses_test` (although leave it in place until we have refactored all tests).
- Refactor some tests (`TitForTat` and maybe a couple o

[2017-03-05 15:08] drvinceknight commented on #874
I've opened https://github.com/Axelrod-Python/Axelrod/pull/875 with my suggestion :) :+1:

[2017-03-06 05:05] marcharper commented on #874
Thanks. This is looking like a better approach -- easier to understand and it dogfoods our Match class, which is always a good thing.

[2017-03-07 14:23] Chadys commented on #379
Hello ! I will be working on implementing those strategies :

- the generalization NTitsForMTats
- S (Win-stay lose-shift, Nerzhin): It cooperates if and only if it and the opponent both played the same strategy on the last round. (from No-tricks)
- memory-based strategies

[2017-03-07 14:29] drvinceknight commented on #379
Welcome @Chadys :)

Take a look at the strategy index that has everything currently implemented here: http://axelrod.readthedocs.io/en/latest/reference/all_strategies.html

We have a generic `LookerUp` strategy that could be used to make this :)

This is already implemented as WinStayLoseShift. (As a memory one strategy)

We have quite a few strategies implemented that make use of memory. We have

[2017-03-07 15:00] Chadys commented on #379
Sorry about the WinStayLoseShift, didn't read the index carefully enough I guess.
Yes, using LookerUp is an idea, I'll think of a few solutions before deciding how to implement that (I'll probably ask for advice on gitter).
Based on http://www.briannakayama.com/Research/UCNCpres.pdf, I thought about doing a generic strategy you give a number to as argument and that create a lookup table (using Loo

[2017-03-07 15:51] marcharper commented on #379
@Chadys FWIW I think it's probably better to implement NTitsForMTats directly without Lookerup, since the table could be quite large. I advise making the initial move C in line with the other variants, but you can make it an option if you'd like.

[2017-03-07 16:52] drvinceknight opened #877 "What is `player.receive_match_attributes` for?"
As far as I can tell we don't use it?

[code]

We only use the `set_match_attributes` method in the `Match` class. Can this be refactor out or am I missing something?

[2017-03-08 03:34] marcharper commented on #877
It's for when strategies make explicit use of the game matrix values so that they can be passed in to a strategy at Match time. MemoryOne uses it; others are supposed to. Currently some strategies just grab the default game matrix, which isn't ideal.

[2017-03-08 07:11] drvinceknight commented on #877
Yeah I understand that purpose but the match attributes are already passed to players using `set_match_attributes`. That's how `Stalker` does it for example, I'm not sure why we need the extra `receive_match_attributes`. Here's the generic player class:

[code]

The `Match` class then uses `set_match_attributes`. I see how the memory one strategies use it but is the way `Stalker` does it not suffi

[2017-03-08 07:13] drvinceknight commented on #877
FYI, this is how `Stalker` does it:

[code]

[2017-03-08 16:25] marcharper commented on #877
I think the idea was that `set_match_attributes` gives an external way to set the player's `match_attributes` rather than just overwritting the attribute and `receive_match_attributes` is what you override if the strategy is going to do something about it. That's why `receive_match_attributes` is called at the end of `set_match_attributes` and its the one to override.

If someone decides to change

[2017-03-08 16:34] drvinceknight commented on #877
Ok cool that makes sense. Let's leave this issue open and aim to fix Stalker (and possibly others). :)

[2017-03-09 08:24] drvinceknight commented on #868
As noted on #876 `Punisher` got merged with an error in the type checking. Would be good to get this setup so travis complains properly...

[2017-03-09 11:59] drvinceknight commented on #868
Closes by #878

[2017-03-09 12:01] drvinceknight commented on #868
Woops, closed the wrong thing!

[2017-03-09 12:29] meatballs opened #879 "Move Strategy Tests to Dedicated Folder"
For 2 reasons:
- So that they are more easily identified
- Because they aren't really unit tests at all

[2017-03-09 15:16] meatballs opened #881 "Error in DeterministicCache"
Lines 108-116 in `deterministic_cache.py` currently check whether the first two entries in the tuple that's being passed as a key are instances of `Player`:
[code]
But this is wrong. Those are supposed to be classes, not instances.

[2017-03-09 15:19] meatballs commented on #881
Correction. These keys ARE supposed to be instances. It's the test that is incorrectly passing classes.

[2017-03-09 16:59] drvinceknight commented on #868
Closed by #878

[2017-03-09 16:59] #868 closed

[2017-03-09 21:40] drvinceknight opened #884 "Refactor all strategy tests"
With the merge of #875 we have a new method for testing strategies called `versus_test` (http://axelrod.readthedocs.io/en/latest/tutorials/contributing/strategy/writing_test_for_the_new_strategy.html). The goal is for this to eventually replace the currently used `responses_test`.

This will take a slow refactor of all strategy tests. Ideally any PRs towards this issue should only do a small numbe

[2017-03-09 21:42] drvinceknight opened #885 "Implement an `__eq__` method for players"
A way to test equality of players. This should not only check the class, str but also that all attributes are equal.

That sort of check is currently used in the `TestPlayer` class so as well as implemented an `__eq__` metho a very minor refactor of the `TestPlayer` class can be carried out.

[2017-03-10 07:19] #881 closed

[2017-03-10 07:34] #879 closed

[2017-03-11 13:54] meatballs opened #894 "Bug and Testing of plot.py"
There is no unit test for the `default_cmap` function and, as a result, there's a bug in the case of matplotlib not being installed.

The coverage report is also showing several other lines in `plot.py` which are not covered by tests.

[2017-03-11 14:33] meatballs commented on #894
Also a bug if matplotlib version is 2.0 or greater

[2017-03-11 14:40] meatballs commented on #894
I could do with some help on this one as I don't know matplotlib terribly well.

There are two similar lines which are covered by tests: 51 and 221. They both deal with axes being passed to the plot but we only ever call the functions with that parameter set to None.

Could somebody add to this PR with whatever is needed in test_boxplot to specify ax properly and test the result?

[2017-03-11 15:45] drvinceknight commented on #894
Could you give some more details about this: I'm running matplotlib 2.0 and tests pass (on master). What's the issue here?

[2017-03-11 17:33] drvinceknight opened #896 "Bug in option to pass an axis to `axelrod.Plot.boxplot`"
(**EDIT:** Fix on `issue-984` branch. Commit hash: 90be7ca)

For a given tournament:

[code]

We can obtain a plot using:

[code]

We get:

![download](https://cloud.githubusercontent.com/assets/2131546/23825263/67aa5940-067e-11e7-81d8-ca93da40cbc7.png)

We have the option to pass a Matplotlib axes object so we could theoretically plot multiple things together. For example here's a plot of a strai

[2017-03-11 17:34] drvinceknight commented on #896
I expect this is up @marcharper's street but I'm also tagging in @geraintpalmer who might have an idea :)

[2017-03-11 17:52] drvinceknight commented on #894
Have opened #896 about those.

[2017-03-11 18:20] drvinceknight commented on #896
I've got a fix, pushing it to `issue-984` :) Damn differences between pyplot and axes...

[2017-03-11 18:45] drvinceknight commented on #896
I have pushed 90be7caad1e8ee343389fa82baccf92cedc6d526.

[2017-03-11 18:45] drvinceknight commented on #894
That's fixed on this branch I believe @meatballs: 90be7caad1e8ee343389fa82baccf92cedc6d526

[2017-03-11 19:17] marcharper commented on #896
Thanks for looking into this. In my ternary plotting library I use the AxesSubplot as you've done now for the same reason, so as far as I know this is the right way to do it.

[2017-03-11 19:19] drvinceknight commented on #896
It was fun: I think my `matplotlib`foo up levelled a fair bit doing it!

Thanks for confirming it's the way to go.

[2017-03-11 20:07] meatballs commented on #894
The tests pass because there is no test for the default_cmap function.

If you start to write a test, you discover that the existing function has two problems:

1) It hits matplotlib internally, so it crashes if matplotlib is not installed
2) The existing condition looks for major version >= 1 AND minor version >=5, and so fails for 2.0-2.4

[2017-03-12 19:48] #894 closed

[2017-03-12 19:48] #896 closed

[2017-03-17 09:28] drvinceknight opened #915 "Our README.rst file is not rendering"
This looks like it might be bug on github's side for rst files: https://github.com/github/markup/issues/1016

(So let's not do anything)

[2017-03-17 12:09] drvinceknight commented on #915
I think this is fixed now: https://twitter.com/vmg/status/842697017830850561

Once we push something new to master I believe it'll fix it (I'll do a new release and that should test that).

[2017-03-17 13:31] drvinceknight commented on #915
Doesn't look like it is fixed (I've just pushed https://github.com/Axelrod-Python/Axelrod/commit/5061f1a5d4e5fef1b01249483697e2a370966adc)

[2017-03-17 13:38] drvinceknight commented on #915
Closed by the latest commit which change the README file: https://github.com/Axelrod-Python/Axelrod/commit/7437362a27f94684bfddb5a7616ebe2e39465a8d

[2017-03-17 13:38] #915 closed

[2017-03-20 00:35] Chadys commented on #802
Instead of making it the strategy responsibility to change its \_\_repr\_\_ method according to its parameters like Random does, wouldn't it be more efficient to change Player.\_\_repr\_\_ to something like this :
[code]
Tested on Random, returns `Random: 0.5`

[2017-03-20 00:53] Chadys opened #916 "Some typos in titfortat.OmegaTFT"
While looking at the code of titfortats strategies, I found some mistakes in the implementation of OmegaTFT.

titfortat L319:
[code]
As the comment implies, the `==` should be `!=`

titfortat L323:
[code]
`8` should be replaced by `self.randomness_threshold` (whose default value is 8, typo must come from this)

The reference to this strategy can be found here : <https://arxiv.org/pdf/cs/0609017.pd

[2017-03-20 01:13] Chadys commented on #916
Also, but it's just a personal opinion and not a mistake, instead of
titfortat L303:
[code]
and
titfortat L329:
[code]
I would rather have
[code]
and
[code]
for performance sake

[2017-03-20 06:33] marcharper commented on #802
Interesting idea! For some strategies this could produce very long names depending on the parameters. I think we need to check that this produces good results for all strategies. We'd also need to document the automatic name generation and give instructions on how to override.

I recommend rewriting the function a bit to use the stored `__init__` parameters that `Player.__new__` places in `self.in

[2017-03-20 08:29] #916 closed

[2017-03-20 08:33] drvinceknight commented on #802
I really like this idea and @marcharper's suggestions too. :+1:

[2017-03-20 13:28] Chadys commented on #802
Using `self.init_args` is even better yes, but it only store the specified parameters we use to call the constructor ; so, not default ones. So we need to choose if the expected behavior is to have `__repr__` of `Random()` return "Random" and  `__repr__` of `Random(0.5)` return "Random: 0.5" , or if we want "Random: 0.5"  for the first one also. Then we'd need to use inspect or to store also defau

[2017-03-20 14:34] Chadys opened #920 "Should Player class dynamically add init arguments in name ?"
Following discussion started at Axelrod-Python/Axelrod#802 :

[2017-03-20 14:35] Chadys commented on #802
Anyway, this matter, doesn't solve the initial question, so I've opened another issue about it Axelrod-Python/Axelrod/#920

[2017-03-20 14:37] drvinceknight commented on #920
@Chadys I think it's ok to keep this discussion in #802, I'm going to close this issue (so that the discussion doesn't fragment) but if I've misunderstood something we can reopen.

[2017-03-20 14:37] #920 closed

[2017-03-20 14:39] drvinceknight commented on #802
I think it's ok to keep the discussion on these topics here, in essence the original question has evolved in to  "what's best way to do this" (we can always rename this issue which is nicer because we see the evolution of the discussion). I've closed #920 (but we can always reopen it if we feel that it's worth compartmentalising things). :+1:

[2017-03-20 14:41] drvinceknight commented on #802
My initial thought is that it would be ok to keep defaults "silent": although `Random()` returning `"Random"` and `Random(0.5)` return `Random: 0.5` is not ideal...

[2017-03-20 14:43] meatballs commented on #802
I think that if the strategy has init args, then they should appear in its representation even if they weren't specified and are just the defaults. Not doing so make the strategy look as if there are no init args at all.

[2017-03-20 14:51] drvinceknight commented on #802
I see 3 approaches to doing this:

1. @Chadys's great suggestion of picking up through inspection;
2. Tweaking (somehow) @marcharper's `self.kwargs` idea to pick up defaults (am I right?)
3. Leaving as is but manually doing it.

I don't think 3 is a good option at all. 1 or 2 can be complemented by the possibility of overriding if need be in some specific cases so I suggest one of those. In fact I

[2017-03-20 15:17] Chadys commented on #802
Ok for the original problem in `StrategyTransformer`, since this wouldn't solve it anyway, We could just add something like :
strategy_transformer : L111
[code]
Wich then give
[code]

As for the basic strategies, I tested what the output would be :
[code]
So the Meta strategies have a way too long name, and some strategies (like HardGoByMajority10, WinShiftLoseStay or Feld) don't print their args

[2017-03-20 15:45] Chadys opened #921 "Delete parameters from GoByMajority variants"
For all the GoByMajority variants, I don't think we should have parameters. Because, for example, if you call `HardGoByMajority5(10, True)`, it's not a `HardGoByMajority5` anymore but a `GoByMajority10`. I suggest that only GoByMajority should have parameters, and the variants should only call GoByMajority with their defining parameters. If that's ok, I'll make the modification.

[2017-03-20 15:56] drvinceknight commented on #921
Seems sensible to me. Please open a PR :) :+1:

[2017-03-20 16:00] drvinceknight commented on #802
That looks great. Perhaps for the meta strategies we could override the `__repr__` to include the number of strategies in the team only?

So:

[code]

[2017-03-20 16:02] YetiYetYet commented on #885
Can i try to do it ?

Thanks bro.

[2017-03-20 16:03] drvinceknight commented on #885
?

[2017-03-20 17:02] Chadys commented on #802
Yes seems like a good solution.
I found the reasons for the bad display of some players with inspect :
For The GoByMajority, the first arg isn't displayed because memory_depth isn't an attr of the player directly but is in `self.classifier`.
We could make the new `__repr__` search inside `self.classifier` as well as in attr to resolve GoByMajority or make that strategy override `__repr__`. Using i

[2017-03-20 17:05] drvinceknight commented on #802
Another option could be to use inspect and override/rewrite `__repr__` for the specific strategies that it does not work great for perhaps?

[2017-03-20 22:49] Chadys commented on #802
Yes maybe, still seems a little dirty to me that the new `__repr__` would assume `__init__` args have corresponding attribute, but as long as it's documented I guess it's okay.
Should I try to implement all that (inspect solution, override `__repr__` for problematic strategies and the solution I suggested for StrategyTransformers) ? I'll probably need some help to update the `writing_the_new_strat

[2017-03-21 00:18] alajara commented on #884
Hi I would like to help with this. Its my first contribution, any guidance how to start, I will much appreciate it.

[2017-03-21 00:44] marcharper commented on #802
* We could store the `Parameter` objects that `inspect.signature` returns for `__init__`, which also solves the default value issue -- there is an attribute that contains the default value [docs](https://docs.python.org/3/library/inspect.html#inspect.Parameter)
* We should change `Limited Retaliate (0.1/20): 0.1, 20` to not repeat parameters after the change, same for Cycler
* We can help with the

[2017-03-21 03:10] Chadys commented on #802
Yes after some reflexion, I don't know why I was set on using getattr when inspect has all that we need. There are several implementations possible, I'll think about them.
And yes a lot of strategies will need some tweaks after that I expect.

[2017-03-21 08:36] drvinceknight commented on #802
:+1:

[2017-03-21 08:37] drvinceknight commented on #802
I've assigned this issue to you @Chadys :) :+1:

[2017-03-21 08:42] drvinceknight commented on #884
Hi @alajara, welcome!

We have introduced a new testing framework for strategies, you can read about this here: http://axelrod.readthedocs.io/en/latest/tutorials/contributing/strategy/writing_test_for_the_new_strategy.html

So this issue is about rewriting the various tests that have already been written for strategies using the new framework.

Here are some PRs that I've written that do this:

-

[2017-03-21 13:29] alajara commented on #884
Hey Mr. Knight,

Thank you for the email response explaining how to get started. A little background on me, I recently got out of the military, 6 years , and this past year I have been attending college for Computer Systems and have been learning Python and Java.  I have been doing different types of projects to teach myself more and i have gotten to the point where I can read and write my own cod

[2017-03-21 19:25] eric-s-s commented on #884
Hello Dr Knight,

I'm also interested in helping with this.  should i simply write a comment on which strategy i'm doing? This is my first time contributing to someone else's project.  while trying to understand the process, i came across a possible issue with backstabber.py  The DoubleCrosser class does not follow its documentation and the test to demonstrate it doesn't seem to do anything. i'm n

[2017-03-21 20:36] uglyfruitcake commented on #884
Hi @eric-s-s,
Welcome to the Axelrod-Python Project!
I'm Tom the original author of Backstabber and Doublecrosser.
The current code for Doublecrosser is very old and was written when I was very new to Python. As far as I can tell your refactor does do exactly the same thing (and in a much more elegant way).
You say that due to the tests you have shown, Backstabber and Doublecrosser do the same thi

[2017-03-21 20:51] alajara commented on #884
Hey Dr. Knight I can begin working on worse and worse, if it's open.

[2017-03-21 20:55] eric-s-s commented on #884
@uglyfruitcake excellent.  thank you very much.  while i'm changing from self.response_test to self.versus_test i'll put that test situation in there.  just to confirm for DoubleCrosser

opponent = 6 * [C] + 4 * [D]  -> next move (and all other moves or will it revert if opponent cooperates?) = D
opponent = 6 * [C] + [D, C, D, D, D] -> next move = C
opponent = 6 * [C] + [D, C, D, D, D] + 171 * [C]

[2017-03-21 21:22] uglyfruitcake commented on #884
@eric-s-s

Not quite. Here's what the tests should be I think.

6 * [C] + 2 * [D] -> D
6 * [C] + 20* [D] -> D
6 * [C] + 2 * [D] + [C] - > C
6 * [C] + 20 * [D] + [C] - > C

Between round 7 - 180 it will only defect if the previous 2 were [D, D]. Nothing else is relevant.

After 180 rounds it is EXACTLY like Backstabber. No difference.

Hope that helps.

Tom

[2017-03-22 00:41] marcharper commented on #884
Since there are several people working on this issue please just state here which strategies you are handling. Feel free to get started wherever you like and open a PR when you think you are ready to merge.

[2017-03-22 03:18] eric-s-s commented on #884
@uglyfruitcake that is clear.  thank you.  If you don't mind, i'll refactor backstabber.py in the process.

-eric

[2017-03-22 05:42] eric-s-s commented on #884
working on backstabber

@uglyfruitcake thank you.  please review the PR i'll post later.  DoubleCrosser had an off-by-one error.  so i ?fixed? it and did a little refactor.

@marcharper sorry.  i am new to all this, so i'm not sure where/how to raise the issue of test coverage/bug on a specific strategy.  is there a protocol for doing so?

[2017-03-22 07:26] drvinceknight commented on #884
@eric-s-s you can just go ahead and address it in the PR under this issue (no need for a new issue). We'll discuss anything relevant on the PR itself :)

[2017-03-22 07:27] drvinceknight commented on #884
Please do @alajara! :)

[2017-03-22 07:43] drvinceknight commented on #921
Closed by #922

[2017-03-22 07:43] #921 closed

[2017-03-22 13:52] eric-s-s commented on #884
#924

[2017-03-22 15:26] eric-s-s commented on #884
i'll work on the b's and c's.
better_and_better
calculator
cooperator
cycler

[2017-03-23 18:40] eric-s-s commented on #816
here's my 10 minute demo of what it would look like.  for convenience, I built it in another project, but you get the idea.
[code]

as far as i can see, the advantages are that

- it's impossible to get an error when you flip.
- It can't, in any way be mixed up with strings.
- It now works in the type hints.  (i'll put the type hints for current action below.)
- there is no need for Action and Act

[2017-03-23 18:53] eric-s-s commented on #816
you could also make a scoring method.
C.score(C) returns (3, 3)
C.score(D) returns ....

[2017-03-23 23:43] marcharper commented on #816
Did you try subbing this into axelrod? When I tried it broke **a lot** of tests.

[2017-03-23 23:51] marcharper commented on #816
Could also add `random_choice(p)` to the class.

[2017-03-24 01:56] eric-s-s commented on #816
not as yet.  I could put some actual work into it, but i'd like to finish with the response_test to versus_test first #884 .  when i run the test suites, i get snowed under by all the warnings generated by response_test.  (I didn't even know that's what was causing it until i started coding the first one in the issue.  as someone new to this package i was grateful for the change.  running those te

[2017-03-24 03:14] eric-s-s commented on #884
i'll start on the D's
darwin
defector
doubler

[2017-03-24 03:56] marcharper commented on #816
I agree that it's worth doing, it's just going to be a lot of tests to fix. And yes we're trying to reduce the warnings -- you can suppress them all with the warnings package. The reason for the warnings is that some of the old tests used impossible histories as a shortcut to test strategy behavior, and while that works, it's not really the right way to do things.

[2017-03-24 08:17] drvinceknight commented on #816
This all looks great! :)

Small point: I don't immediately see if this would be helpful as the scoring is currently the job of the `axelrod.Game` class which is used in the `interaction_utils` etc. We could pass a `game` instance to such a scoring method but that feels weird to me (could just be that it's different).

[2017-03-24 15:31] jtsmith2 commented on #379
I can take care of the following from the PRISON list:

- soft_spiteful
- slow_tft
- better_and_better
- gradual_killer

Also, I think soft_tf2t is just an instance of a more generic NTitsForMTats that @Chadys is working on where N=1 and M=2. Basically it responds with a single defection only if the opponent has defected on the last two turns and otherwise cooperates.

[2017-03-24 15:37] jtsmith2 commented on #379
Looks like better_and_better is already done so you can strike that one.

[2017-03-24 17:30] drvinceknight commented on #379
Not at all, we try and keep the issue itself up to date :) I've struck those out now.

[2017-03-24 21:17] alajara commented on #884
I opened a PR on worse and worse, it was my first PR, if I made any mistake please let me know and I will correct it. Thanks.

[2017-03-25 03:05] ebeweber commented on #884
Attempted strategies.very_bad here: https://github.com/Axelrod-Python/Axelrod/pull/928

[2017-03-25 08:39] drvinceknight commented on #816
I've opened #930, with a one line addition to mute all the warnings. My thought process being that we're actively working to refactor the tests so they're done properly now so perhaps we can make things less "suprising". I'm not at all insistent on that though, @marcharper if you'd prefer to keep the warnings feel free to just close the PR.

[2017-03-25 08:59] drvinceknight commented on #816
Have closed it, my one line broke other tests. Not worth the bother :)

[2017-03-25 12:31] alajara commented on #884
doing shortmem, stalker, selfsteem

[2017-03-25 15:36] meatballs commented on #816
I don't like the scoring method as I think that's better done in the Game class, but I like the idea overall.

It might also be good to define the `__nonzero__` method so we can use boolean expressions on actions. (We'd have to decide which it True and which False).

[2017-03-26 21:52] MariosZoulias commented on #808
Hey.

I have heard that this issue isvery easy to begin with and am really beginner so i would like to start with it.
Someone suggested me to take this issue and add type hints on these files : finite_state_machines.py, hmm.py, human.py

**I will start from (really) Zero** as i dont even know what is PRs and Type Hints , so i hope to have finished all these by Friday ...

So may i take this issue

[2017-03-26 23:37] souravsingh commented on #808
@MariosZoulias I would suggest you to work on any one of the file for the PR.
For contributing see here- http://axelrod.readthedocs.io/en/latest/tutorials/contributing/strategy/instructions.html
For Type hinting, Read this- https://docs.python.org/3/library/typing.html

[2017-03-27 02:49] jtsmith2 commented on #379
I'm going to take a look at the FORTRAN code from the 2nd Axelrod tournament.  I spent some time in gradschool translating an old genetic algorithm from FORTRAN into python so hopefully I can be of some use there.  I know there was a moment on the Talk Python podcast where you guys said someone had already done some work in this area.  Is there any list of which ones have already been implemented?

[2017-03-27 05:22] jtsmith2 commented on #379
I started working my way through the FORTRAN code and I've gotten some (pythonish) psuedocode for the first 6 algorithms pasted in a gist [here](https://gist.github.com/jtsmith2/b69bb3d630d6610dbf12aad03aa4ad2b).  I'll likely get a few more on the gist and then start actually writing the code, tests, etc. for those and then mark them as completed and continue on.

[2017-03-27 06:06] drvinceknight commented on #379
That's awesome @jtsmith2!

As well as the PyCon person who worked on the Fortran code @marcharper had a go a little while ago, here's an issue where he described what insights he managed to get #381

[2017-03-27 14:55] GGOUSSEAUD commented on #379
Hello! I'm glad to announce that I'll start working on BM(Bush Mosteller) starting from now on, I think I've gotten the whole theory down and am pretty confident that I can try to implement it.
Here's my source: http://www.intechopen.com/books/reinforcement_learning/dynamics_of_the_bush-mosteller_learning_algorithm_in_2x2_games

If any of you has any idea for l (learning rate) value,it is not give

[2017-03-27 16:51] YetiYetYet commented on #885
So, with a **lot of love** i do this :

[code]

When i try it, it's work, it's make me feel verry happy. But there is still a problem.
I need to import all Axelrod or it's doesn't work. I mean :
[code]
These strategies need the player class and i can't import just the strategies.
So my spirit say "You should use a mock_player" and i said to my spirit "Ho yes, i will try to use it !"
But Axelrod sa

[2017-03-27 20:44] MariosZoulias commented on #808
Ok then i would like to work on this issue and start with hmm.py
I didnt answer fast because i was searching about what is type hinting and more about it...
Can you give me some examples of file "before and after" type hinting in order to have a better view???
Thank you
Marios Zoulias

[2017-03-27 20:58] janga1997 commented on #808
@MariosZoulias you can check out any of the merged PRs referencing this issue a few comments above above, and click on `Files Changed`.

[2017-03-27 21:01] MariosZoulias commented on #808
Thank you very much for your fast aswer.
So anyway i have the issue about the hmm.py file ??? (am just beginner and i dont really know the procedure) (of course i read the contributing instructions)

[2017-03-27 21:06] janga1997 commented on #808
@MarioZoulias Could we take this up in the gitter room?
Also, i didn't quite understand your problem.

[2017-03-27 21:07] MariosZoulias commented on #808
Yes of course am already there ;)

[2017-03-27 21:12] drvinceknight commented on #885
Hi @YetiYetYet thanks for your efforts but here is the kind of thing that is required for this PR:

[code]

As you can see there I'm doing this:

and just lifting the things out of the `TestPlayer`.

I see that in your attempt you're actually trying to test if the players do the same thing, I'm afraid that's a completely different problem and not one we're trying to solve here. Here we just want t

[2017-03-27 22:11] drvinceknight commented on #885
(My code snippet can improved by doing what you were doing which is returning `False` when it first occurs otherwise returning `True` at the end.)

[2017-03-28 00:33] marcharper commented on #379
@jtsmith2 There is a strategy file `axelrod_second.py` that has the strategies from that tournament, with a few exceptions (e.g. TitForTat is in a different file, it's famous). Note that a few of the strategies also appeared in the first tournament, see `axelrod_first.py`. IIRC there should be ~40 strategies from the second tournament that are not implemented in the library.

Once upon a time I wo

[2017-03-28 00:34] marcharper commented on #379
@GGOUSSEAUD I recommend experimenting with the learning rate to try to find something good. Just run some tournaments and see what seems to work best.

[2017-03-28 00:50] marcharper commented on #379
@jtsmith2 If it's possible to run the Fortran still we could test each player's response to say the first possible 8 or 16 histories -- that is every permutation of opponent plays C and D of length 3 or 4 -- and use those values as tests.

[2017-03-28 17:40] eric-s-s opened #941 "a way to sidestep inspecting source code."
I was refactoring the tests for Darwin and came across the use of the "inspect" module.  This slows down the strategy by about a factor of 20ish.  same goes for Geller and MindReader.

I came up with a workaround.
I have a PR that, while not great, clearly demonstrates the idea and will submit a PR that references this as soon as this issue is up and running.

here's the gist of my solution.

Play

[2017-03-28 17:43] drvinceknight commented on #941
I'm not sure I like the sound of this idea: these strategies are really niche and artefacts of the start of their library. They're labelled as `cheaters` so don't get used often. I don't think it's worth spending too much time on this and also I'm not a fan of adding a method to the `Player` class just to deal with this weird strategies.

[2017-03-28 17:54] drvinceknight commented on #941
A more succinct version: I'm hesitant to add a (minor) layer of abstraction/complexity for the sake of performance in this (niche) case.

But let's wait to hear what @marcharper and @meatballs have to say.

[2017-03-28 17:55] eric-s-s commented on #941
got it.
so are these strategies basically dead-ends, then?  could/should they be deleted?

[2017-03-28 17:57] drvinceknight commented on #941
That's certainly a valid/logical pov. I would suggest they're a bit of fun so would personally like to see them stay in the library but I don't think we should worry about optimising them.

[2017-03-28 18:00] eric-s-s commented on #941
yes, that all makes a lot of sense.  i do have the tendency to get caught up on small details, in case the previous PR did not make that obvious.

[2017-03-28 18:00] meatballs commented on #941
I agree with @drvinceknight: we should leave them alone. It isn't worth adding anything in `Player` just for the sake of these strategies, but there is also nothing to be gained by getting rid of them. The classifier dict allows us to exclude them from any tournament.

[2017-03-28 18:09] eric-s-s commented on #941
i'll wait on @marcharper before closing this and the associated PR, then.

[2017-03-28 18:18] eric-s-s commented on #941
or do one of you close it?

[2017-03-28 18:20] #941 closed

[2017-03-28 18:34] drvinceknight commented on #941
You did awesome work on that PR :) It ended up being quite complicated!

[2017-03-29 01:07] marcharper commented on #941
Let's add a note to the top of those files that basically says not to put a lot of time into optimizing them.

We do have some simulation code in MockPlayer, simulate_play, etc. that maybe is worth cleaning up. I haven't looked at it in a while.

I also created a history class some time ago but it too had a lot of additional runtime -- might be worth revisiting: see [this branch](https://github.co

[2017-03-29 06:25] drvinceknight commented on #941
Good call. I'll do that now :)

Might be worth holding on that till after the dust clears on #884 (`responses_test` is a heavy users of `mock_player.simulate_play` so might be worth waiting until we're using `versus_test` throughout).

Yup :+1: :)

[2017-03-29 06:30] drvinceknight commented on #941
See #944

[2017-03-29 06:47] drvinceknight commented on #842
I can pick this up.

[2017-03-29 11:05] meatballs commented on #706
Mostly resolved by #817 and superseded by #802

[2017-03-29 11:05] #706 closed

[2017-03-29 11:19] meatballs commented on #802
That would help a great deal in the API.

If there were a class attribute that returned the full information for init kwargs, that could then be used by both the __repr__ method and also the API.

[2017-03-29 12:20] meatballs commented on #802
There are two related, but slightly different requirements here:

1. The __repr__ method
This needs access to the arguments that were passed to the init method of an instance so that it can include them in the name.

2. The API
This needs access to the parameters of the the init method so that they can be presented in the strategies endpoint.

[2017-03-29 13:13] meatballs opened #945 "Remove init_args"
Now that all strategies are using kwargs instead of args, we can remove init_args from the Player class.

[2017-03-29 13:20] Chadys commented on #802
For now I did that :
[code]

[2017-03-29 13:22] meatballs commented on #802
`init_params` would be a class method, so it would not have the values.
I'm getting rid of `init_args` at the moment on #945

[2017-03-29 13:27] Chadys commented on #802
`init_params` would only contains the default values then ?

[2017-03-29 13:35] Chadys commented on #945
But that means that a user of Axelrod won't be able to use `clone` if they instantiated a player like this `axl.Random(0.5)` ?

[2017-03-29 13:35] Chadys commented on #945
But that means that a user of Axelrod won't be able to use `clone` if they instantiated a player like this `axl.Random(0.5)` ?

[2017-03-29 13:36] meatballs commented on #945
Yes - they would have to use `axl.Random(p=0.5)`

[2017-03-29 13:57] Chadys commented on #802
Ah sorry I read to quick since I was thinking about attribute not method. So `init_kwargs` would contain the values like it does now and, if there is none, the default values.

[2017-03-29 14:02] drvinceknight commented on #945
Which is more verbose :+1: :)

[2017-03-29 14:04] drvinceknight commented on #945
Although it's not ideal if you can create the player but then it won't run/work... We should think about a good error message of some sort. Perhaps even in the init itself?

[2017-03-29 14:08] Chadys commented on #945
I though the same thing, if you only permit the use of kwargs (for which I am still skeptical but no matter), the init should fail if args isn't empty

[2017-03-29 14:08] drvinceknight commented on #945
This might be relevant:

[code]

[2017-03-29 14:24] drvinceknight commented on #945
Question: we would still be able to do `axl.Random()` right? Ie this is not throwing away the ability to have defaults?

[2017-03-29 14:26] meatballs commented on #945
Yes we would. No it is not throwing anything away other than positional arguments

[2017-03-29 15:11] Chadys opened #947 "Delete parameters from Cycler variants"
In the same manner as #921, it seems logical to me for only `Cycler` to have a `cycle` argument and for `CyclerDC`...`CyclerCCCDCD` not to have it.

[2017-03-29 15:21] drvinceknight commented on #947
:+1:

[2017-03-29 16:03] Chadys commented on #802
So I've nearly finished, I still need to change the tests and I'll be done. For now what I get by calling `__repr__` on all strategies is this :
[code]
Is it ok ? I know about the parameters repetition in `Cycler` but it'll get resolved when I'll make the PR for #947

[2017-03-29 17:03] eric-s-s commented on #884
finished so far (or being worked on)

- test_a* to test_d*
- test_headsup
- test_inverse
- test_rand
- test_s* to test_w* but NOT test_sequence_player

are these finished? they have no responses_test but also no versus_test

- test_hmm
- test_human
- test_mindcontrol
- test_mindreader
- test_negation
- test_qlearner
- test_random

[2017-03-30 00:24] marcharper commented on #802
Looking good :) If you want to handle the cycler parameters in this PR go ahead, or maybe wait until after #946 (may cause some merge conflicts).

[2017-03-30 00:27] Chadys commented on #802
Nice, I'll change Cycler too then. But yes, I planned to wait for #946, too many conflicts otherwise

[2017-03-30 00:29] marcharper commented on #884
We're trying to test as much as possible with actual opponents (Cooperator, Defector, Alternator, etc.) so feel free to add tests if it seems appropriate.

[2017-03-30 12:15] eric-s-s commented on #816
👍

ran the tests, finally.  a decent number of the failures just look like they can be managed by fixing areas where things assume Actions.C = 'C'.  this could be done in a series of small PR's that change a few things here or there, but don't break any original code.

in that vein, it would be nice to have a temporary actions.py like so:

[code]

and a test_actions.py starting with:

[code]

that

[2017-03-30 14:26] drvinceknight commented on #816
Naive question: could this be taken care of by a big find/replace on the test files in one PR?

[2017-03-30 15:44] eric-s-s commented on #816
@drvinceknight
it was a good question.  the short answer is, "AHHHHHHHH!"

the longer answer is, i don't think it did much. but it did break some stuff. not too much, but it barely helped either.

the real big help was changing test_player.TestPlayer
first_play_test and second_play_test needed tweaking that make them a little ugly.  they call test_responses, which has a "responses" variable that i

[2017-03-30 15:45] eric-s-s commented on #816
now i didn't try it on the docs and i didn't run any doctests

[2017-03-31 02:42] marcharper commented on #816
One big PR is preferable to multiple PRs that break some tests. Consider using the string_to_actions function that was recently added in `test_responses` (perhaps in conjunction with `isinstance(..., str)` to reduce the number of failing tests, and perhaps issue a warning when you do find a string of actions.

[2017-03-31 05:38] eric-s-s commented on #816
i will happily try to tackle writing a PR that fixes test so that they're not broken in either implementation after finished helping  in #884 .   of course, if someone wants to go for it before then, please do.

[2017-03-31 05:40] eric-s-s commented on #884
starting next four:
finite_state_machine
forgiver
gambler
geller

[2017-03-31 13:31] meatballs commented on #945
I'm re-opening this but the suggestion now is that we use kwargs throughout the library but we don't remove `init_args` Thus, positional arguments are allowed and will work, but we don't use them ourselves.

[2017-03-31 17:16] MariosZoulias commented on #884
I would like to take the mutual.py ;)

[2017-04-01 06:23] #945 closed

[2017-04-02 06:39] #947 closed

[2017-04-02 06:47] drvinceknight commented on #802
This has been closed by #953.

@meatballs if I understand correctly the `init_params` method (https://github.com/Axelrod-Python/Axelrod/blob/master/axelrod/player.py#L95) is now good to go for the API :)

[2017-04-02 06:47] #802 closed

[2017-04-02 06:53] drvinceknight opened #957 "A script to automatically detect if all strategy modules are listed in `docs/reference/all_strategies.rst`"
Currently, whenever a new strategy module (file) is added to `axelrod/strategies` it needs to be also added to `docs/reference/all_strategies.rst` to ensure that an index of all strategies is built as can be seen here: http://axelrod.readthedocs.io/en/latest/reference/all_strategies.html

This needs to be checked during the review process but it would be helpful to have a script that could be run

[2017-04-02 06:54] drvinceknight commented on #957
@MariosZoulias perhaps you would like to take this one?

[2017-04-02 11:07] drvinceknight opened #958 "The `__repr__` for the human strategy includes an extra `C` and `D`."
This is a result of #953 which now automatically add the various attributes to the players so it looks like:

[code]

You can pass different symbols for the `C` and `D`:

[code]

I suggest that in this case we can override the `repr` to not display the `c_symbol` and the `d_symbol`. I think that as the Human player is only going to be used at a repl so it's ok to clear it up a bit (whereas normall

[2017-04-02 11:08] Chadys commented on #802
Yes, just call it without parameters and you'll have all default values !

[2017-04-02 11:11] Chadys commented on #958
Should it still display 'Human: Vince" or just keep "Vince" ? Adding 'Human' doesn't seems necessary for the reason you gave above

[2017-04-02 11:32] drvinceknight commented on #958
Sure. I'm easy here, whatever is preferred :)

[2017-04-02 21:03] #958 closed

[2017-04-03 09:13] #842 closed

[2017-04-03 09:34] drvinceknight opened #961 "Fragment the Moran documentation."
Currently all of the Moran documentation is in one place under the "Getting started" tutorials.

This includes:

- Moran processes on graphs;
- Approximate Moran processes.

I suggest that these two get moved to a `further_moran_processes.rst` (or to two individual tutorials?) and put in the `further topics` section.

These would just streamline the beginner documentation (we could add pointers fr

[2017-04-03 09:58] drvinceknight commented on #961
My suggestion: #962

[2017-04-03 11:09] eric-s-s commented on #884
working on

lookerup.py

it's connected to gambler.

[2017-04-04 00:56] #961 closed

[2017-04-08 15:08] drvinceknight commented on #957
Unless you want this @MariosZoulias I might pick it up tomorrow :)

[2017-04-08 16:37] MariosZoulias commented on #957
Hi .
I already have the little issue of refactoring mutal.py , and the one i would like to work on about the "stein and rapoport" strategy.
I would love to work on this as well .
I have scheduled my program and i will work on my issues during the Easter as it is a free-of-lectures period.

Sorry for answering so late .

[2017-04-09 06:03] drvinceknight commented on #957
Ok sounds good, no problem about the late reply: good to know you want this issue :) :+1:

[2017-04-09 17:30] edouardArgenson commented on #379
Hello,
I've read the DBS article and started to work on an implementation

[2017-04-09 18:30] marcharper commented on #379
@edouardArgenson Great! Let us know if you need help writing tests (or anything else).

[2017-04-11 14:58] eric-s-s opened #969 "some ideas on refactoring fingerprint"
@drvinceknight

here are some thoughts on refactoring fingerprint.py

- move most of the staticmethods to private functions.  it seems that their main point is to aid in the fingerprint or plot methods, and not be of use by themselves.
- use those private methods to make a set of instance variables.  thus, at instantiation, call methods to create self._probe_list, self._points, self._cheap_to_gene

[2017-04-11 15:20] drvinceknight commented on #969
This was something we discussed quite a lot and that @meatballs is in favour of. So :+1: from me.

Sounds good :+1:

I'm not sure about this one. Comparing fingerprint data is actually straightforward the fp class has a dictionary attribute so you can just compare those directly (the main reason it was awkward on #966 is because I had to checkout different branches so needed to write the data to f

[2017-04-11 17:51] eric-s-s commented on #969
thank you.  will get to work on it.

[2017-04-12 08:52] drvinceknight commented on #969
Cool :) One thing the refactoring of those static methods to functions should help with is clearing up the unit tests a bit (this is Owen's point but he's away right now so I'm doing my best to represent him :)). A lot of the unit tests currently need the creation of a fp, if they're true functions then we can unit test them properly based on io. :+1:

[2017-04-12 09:09] meatballs commented on #969
A big 👍  from me for that one!

[2017-04-13 17:48] eric-s-s commented on #884
next up. finish "g"

gobymajority
gradualkiller
grudger
grumpy

[2017-04-14 14:29] drvinceknight opened #971 "Bug with strategy transformers"
On #970 @eric-s-s has pointed out what I believe is a bug with how the strategy transformers are cloned and random seeding (somehow?).

Here's 5 matches between a noisy transform of `Cooperator` and `Cooperator` itself:

[code]

Each row corresponds to a match and the first action corresponds to the Cooperator. We see there that the transformer is acting randomly in each match.

Similarly if I clo

[2017-04-14 14:31] drvinceknight commented on #971
Nothing like writing a long bug report to figure out where the problem is.

The classifier is not being updated by the transformer:

[code]

which means our [cache](http://axelrod.readthedocs.io/en/latest/tutorials/advanced/using_the_cache.html) is kicking in and not rerunning matches it thinks are deterministic (because it thinks the transformer is not stochastic).

Investigating.

[2017-04-14 14:33] drvinceknight commented on #971
Working on a fix. PR inbound.

[2017-04-14 16:20] drvinceknight commented on #971
#972

[2017-04-15 05:27] eric-s-s commented on #969
okay, i would like a decision on something, please.

**step**: it's both a variable of the fingerprint() method and a property of the class.

currently, AshlockFingerprint creates `self.step` outside of the __init__ . If `step` is part of the class, it seems intuitive to be set at the __init__ and not be re-settable in fingerprint method.  instead have it be independently called/set by `@property`

[2017-04-15 05:38] drvinceknight commented on #969
My preference would be a variable of fingerprint.

On Sat, 15 Apr 2017, 06:27 eric-s-s, <notifications@github.com> wrote:

[2017-04-15 05:44] eric-s-s commented on #969
while  i think of it, is there a need for `self.spatial_tournament` ?  it's already in `self.data` and `self.interactions`.  `self.spatial_tournament` and `self.step`  were the cause of me trying to refactor this as a specialized tournament that sets up the probes at instantiation.

[2017-04-15 05:55] drvinceknight commented on #969
Removing it sounds sensible.

[2017-04-16 12:34] drvinceknight opened #974 "Refactor the static methods to functions in fingerprint"
There are 4 static methods in the fingerprint class. As they are methods they cannot be tested in isolation (you need to create the class first):

- `create_jossann`
- `create_edges`
- `generate_data`
- `reshape_data`

This issue would be to pull those methods out in to their own functions and adjust/isolate their tests.

[2017-04-16 13:41] eric-s-s commented on #974
i've got the tests 1/2 written.  so i'll be happy to do it.

[2017-04-16 13:47] drvinceknight commented on #974
:+1: Thanks :D

[2017-04-16 13:48] drvinceknight commented on #969
Closed by suggestion on #970 :+1:

[2017-04-16 13:48] #969 closed

[2017-04-16 14:40] eric-s-s commented on #974
i'll have this done in a day or so, but these tests might be worth revisiting once #885 is completed.

[2017-04-16 14:43] drvinceknight commented on #974
Because you're testing equality of the probes?

I'm thinking of attacking #885 myself. I've got all the code in place, so it's just a question of putting it in place. The work that was being done on it seems to have stalled.

[2017-04-16 14:43] eric-s-s commented on #974
exactly!

[2017-04-16 14:45] drvinceknight commented on #974
I'm just finishing something off and then I'll submit a PR for #885. Shouldn't take me long (famous last words).

[2017-04-16 17:08] eric-s-s commented on #974
do you prefer the pulled out functions to be above or below the main class?  if below, should create_points be pulled down below the main class too?

[2017-04-16 17:18] eric-s-s commented on #974
I'd like to add `create_probes` to the list of things to pull out of the class.  It becomes static once `create_jossann` is out of the class.

[2017-04-16 17:23] drvinceknight commented on #974
I have no indication as to whether or not there's a best practice. I think if I was doing it I'd put it above...

Sounds sensible :+1:

[2017-04-16 17:35] drvinceknight commented on #974
Have opened #975

[2017-04-16 18:00] eric-s-s commented on #974
also will do typehinting as per #808

[2017-04-17 05:37] eric-s-s commented on #974
@drvinceknight

if it really is 6 of one, half a dozen of the other, i'll submit in a top-down style (main class, then supporting functions)  and if it looks bad, it's just a matter of cut and paste

[2017-04-17 14:38] #971 closed

[2017-04-17 15:44] MariosZoulias commented on #379
Hello .

Can i work on Stein and Rapoport strategy ???
If so , can you give me a guide (i suppose i have to add a new file and one more for testing it)  ???

http://axelrod.readthedocs.io/en/latest/reference/overview_of_strategies.html#stein-and-rapoport
"
Stein and Rapoport
Not implemented yet

This strategy plays a modification of Tit For Tat.

It cooperates for the first 4 moves.
It defects on

[2017-04-17 15:54] eric-s-s commented on #974
any issue with removing the progress bar from `create_points` and `create_edges`.  The slow ones are `create_jossann`  and `SpatialTournament.play()`.

`create_points` and `create_edges` are effectively list comprehensions and too short to see a progress bar.  here are the timeits for creating a million-point square and a million edges.  and no one would accuse me of having a fast computer.  (alth

[2017-04-17 16:34] drvinceknight commented on #974
I would like them to stay. They can always be turned off by a user.

Let's keep this issue about simply moving the static methods out in to private functions and not change any functionality.

[2017-04-17 16:59] drvinceknight commented on #379
Hi @MariosZoulias, this strategy can go in `axelrod/strategies/axelrod_first.py`: that's where all the strategies for the first tournament go. Similarly the test file for it can go in to `axelrod/tests/strategies/test_axelrod_first.py`.

Here's the general guidelines on writing a new strategy but let me know if you'd like more guidance: http://axelrod.readthedocs.io/en/latest/tutorials/contributin

[2017-04-17 17:00] drvinceknight commented on #379
And when you've made the strategy be sure to update the docs at http://axelrod.readthedocs.io/en/latest/reference/overview_of_strategies.html#stein-and-rapoport to say that the strategy is now implemented :D

[2017-04-17 17:04] drvinceknight commented on #974
@eric-s-s I think I caught a few of them in #972 (which is now in) but in general run the tests with `progress_bar=False` to keep testing output as clean as possible. There will also be some that have to stay obviously for testing purposes that the progress bar actually work (as is currently the case) but if you see any that can be suppressed that we've missed please turn them off :)

[2017-04-17 17:15] eric-s-s commented on #974
btw - i move these lines out into a function to be able to explicitly test them. (and found a warning on unclosed file in the process.)
[code]

[2017-04-17 17:20] drvinceknight commented on #974
Nice! :+1:

[2017-04-17 17:34] drvinceknight commented on #974
Although I wonder if that file needs to stay open? I expect that warning didn't happen when that file was being used directly in the test when it was part of the other method that actually wrote to it.

[2017-04-17 17:40] drvinceknight commented on #974
Yes indeed (just checked) it's being closed properly by the tournament when used by it. Make sense that the warning would trigger when it's pulled out though.

Let's try to stick to removing those static methods for this issue please.

[2017-04-18 18:39] MariosZoulias commented on #379
@drvinceknight Thank you so much.
I will start working as soon as possible

[2017-04-19 09:03] #885 closed

[2017-04-19 16:45] drvinceknight commented on #957
@MariosZoulias I had a couple of minutes spare so I've picked this one up (#980) : hope that's ok :)

[2017-04-19 17:03] drvinceknight commented on #812
I would like to close this issue. I don't feel that automated api/reference docs are needed (or necessarily a good thing) and the tutorial format we're using doesn't need any more information.

I realise we "could", I guess I'm saying I don't think we "need" to.

[2017-04-19 17:08] drvinceknight commented on #884
I'm picking up handshake :)

[2017-04-19 17:21] drvinceknight commented on #884
Picking up `sequence_player`.

[2017-04-19 18:13] drvinceknight commented on #848
@marcharper I think the latest release of mypy might have the fix but I'm not sure, I've tried running things locally:

[code]

Runs fine without errors but it doesn't report failures (I've tested this by breaking type hints and they're failing silently). If you could take another look to see if it's just me that'd be great.

We've missed at least 1 module in PRs (the `random_` module, PR here: #9

[2017-04-19 23:59] marcharper commented on #812
Ok, close it. We can always reopen it later.

[2017-04-20 04:08] marcharper commented on #848
I confirm no errors running the latest mypy with our master or the `mypy_random` branch.

[2017-04-20 04:18] marcharper commented on #848
Errors are reported with `mypy --ignore-missing-imports -m axelrod`

[2017-04-20 05:41] drvinceknight commented on #848
Ah, but errors are reported there on `master` as is. So there's no command we can currently run that will run `mypy` on all the files that have been typehinted? (For example that command reports errors on `meta.py` which we have not typehinted yet).

There's no way (yet) to replace our `run_mypy.py` script? We still need to make sure we manually add everything to it is that right?

[2017-04-20 07:14] marcharper commented on #848
I think so.

[2017-04-20 12:11] #957 closed

[2017-04-20 20:37] drvinceknight opened #985 "Fragment the results documentation"
Currently this is quite a heavy part of the documentation: http://axelrod.readthedocs.io/en/latest/tutorials/getting_started/tournament_results.html

In the previous tutorial (on running tournaments) we see how to access `ranked_names` and get basic plots.

I suggest we fragment this:

- In the `getting_started` section have a `summarising_a_tournament.rst` section (replacing the current section)

[2017-04-20 20:37] drvinceknight commented on #985
I'll push a first go at this now.

[2017-04-20 20:38] #812 closed

[2017-04-20 20:53] drvinceknight opened #987 "Redraw all the documentation images in matplotlib 2.0"
Our plots look a bit dated. This is a very simple PR: simply go through the documentation and obtain new versions of all the graphs under matplotlib 2.0.

[2017-04-23 16:07] #985 closed

[2017-04-27 08:01] haraldschilly opened #991 "include in anaconda via conda-forge"
As an idea to expose this library to more people and make it easier to install it, I propose to package it up at [conda forge](https://conda-forge.github.io/) for anaconda. I think this lib is already in a good shape (maybe one needs to be more explicit with the dependencies) and well, what's left is to create such a feedstock with setup and build definitions, etc.

[2017-04-27 08:14] meatballs commented on #991
Sounds great! Is that something you would be able to pick up for us?

[2017-04-27 08:37] drvinceknight commented on #991
When/if we do this can we make sure we update https://github.com/Axelrod-Python/Axelrod/wiki/Release-Process to reflect any new steps. :+1:

If I'm correct, including in conda-forge just means that the library becomes `conda install`able right? It doesn't become part of the anaconda package. Is that right?

[2017-04-27 09:16] drvinceknight commented on #991
I'm keen to understand the benefits before we add another moving part to the release process. Currently it's pip installable with [dependencies](https://github.com/Axelrod-Python/Axelrod/blob/master/requirements.txt ) that are either simple (`pip install tqdm`) or in anaconda, so if a user has anaconda I don't see a big benefit to making it `conda install`able (apart from visibility).

Certainly n

[2017-04-27 09:25] drvinceknight commented on #991
Also FYI: one of our dependencies (which is very light weight and pip installable) is **not** on  https://conda-forge.github.io/feedstocks which might cause issues with (faq at https://github.com/conda-forge/staged-recipes):

[2017-04-27 13:00] souravsingh commented on #991
I can quickly create a recipe for ``prompt-toolkit``.

[2017-04-27 13:21] drvinceknight commented on #991
That might prove to be helpful @souravsingh (and I'd suggest that it would be just as easy to then do a recipe for Axelrod itself). But let's wait to figure out what the advantage of having a conda forge recipe would be.

My understanding is that this would just enable users to either `pip install axelrod` or `conda install axelrod` (essentially having our library in two different indexes). Given

[2017-04-27 13:35] souravsingh commented on #991
The only advantage I can think of for conda-forge is that it can make installation of packages like NumPy easier, since conda handles building for you (which for Windows, can be pain).

As for the disadvantage part, The problem with conda is it makes certain assumptions for your host system for you, which can be wrong. I was sometimes hit with library linking problems with ``ffmpeg`` whenever I up

[2017-04-27 13:40] drvinceknight commented on #991
Yup: fully aware of the difficulties of installing numpy on windows. But that's not solved by putting Axelrod on conda-forge. Assuming someone has a working version of `numpy` which if you install Anaconda (which has been a godsend for my teaching :)) or miniconda you have. Then you can just pip install axelrod.

Conda fully supports this two fold approach by the way. Here for example is a conda e

[2017-04-27 14:30] souravsingh commented on #991
Update- ``prompt_toolkit`` is available in conda-forge- https://github.com/conda-forge/prompt_toolkit-feedstock

[2017-04-27 17:02] haraldschilly commented on #991
Sorry for the delay...

The background is that I want to install this globally on SageMathCloud in the anaconda python environment. I know it works with pip, but I had bad experiences with mixing conda and pip. In particular, it's not the part about installing it, but the part where it then doesn't work. This conda-forge project is not anaconda-official, but still very good because it uses all tho

[2017-04-27 17:57] souravsingh commented on #379
@drvinceknight I am looking to implement the `Eugine_Nier` Avenger strategy from the link-http://lesswrong.com/lw/7f2/prisoners_dilemma_tournament_results/

Do we have to create a separate script or put it in ``TitforTat``?

[2017-04-27 17:58] drvinceknight commented on #991
This just sounds like a duplication of `requirements.txt`. (Forgive me, I'm not at all knowledgeable about conda-forge so do correct me). We consciously avoid this duplication in our `setup.py` for example. This sounds a lot like we're essentially going to write "another" `setup.py`.

Overall I'm still not convinced: this sounds too much like duplication for very little value added. It certainly i

[2017-04-27 18:05] drvinceknight commented on #379
I think that sits nicely in the `titfortat` file :+1:

[2017-04-27 18:06] drvinceknight commented on #991
In essence I think we have the same point of view @haraldschilly :)

[2017-04-28 04:16] marcharper commented on #991
FWIW my python-ternary library is in conda forge and I do almost nothing to maintain it. It depends on matplotlib (which depends on numpy). Other than the missing dependency mentioned above there shouldn't be much effort to maintain the inclusion.

[2017-04-28 07:12] drvinceknight commented on #991
That's good to know @marcharper.

What does this actually involve? I was under the impression that this would be another step in the release process (be it uploading something or changing a version number in a "config" file). Is that incorrect? Is this "just" a one off PR to the conda forge repo?

[2017-04-28 07:21] souravsingh commented on #991
@drvinceknight It is just creating a PR to the conda-forge repo. The PR will be tested by the CI frameworks and once it looks good, it will be merged to create a feedstock.

The maintainer of the recipe has to take care and update the feedstock by updating the version number and hash and merge updates from conda-forge.

(P.S. I am a maintainer of asteval and validictory feedstocks in conda-forge)

[2017-04-28 07:36] drvinceknight commented on #991
And this is done via a PR I assume?

[2017-04-28 07:51] souravsingh commented on #991
Yes

[2017-04-28 07:58] drvinceknight commented on #991
Great that's very helpful @souravsingh.

This sounds like potentially no extra work for the Axelrod maintainers (indeed it sounds like anyone can PR a recipe to conda-forge). I suggest we keep the "main" release/install instructions to be via pypi and that's what will be ensured by the Axelrod maintainers.

Then if anyone wants to put a recipe together for conda-forge: they're of course welcome to

[2017-04-28 08:01] drvinceknight commented on #991
(And indeed we [the Axelrod Maintainers] could update this assuming we have time etc.)

[2017-04-28 08:39] souravsingh commented on #991
@drvinceknight @marcharper A recipe for Axelrod has been made here- https://github.com/conda-forge/staged-recipes/pull/2886

Let me know if there are any fixes needed for the recipe.

[2017-04-28 08:41] drvinceknight commented on #991
@haraldschilly :arrow_up: :)

[2017-04-28 08:44] haraldschilly commented on #991
nice :clap:

[2017-04-28 19:36] souravsingh commented on #991
@drvinceknight ``tqdm 3.4.0`` is not available as a feedstock in conda-forge. Would it be a problem if we are using the latest version of ``tqdm`` for the recipe?

[2017-04-28 19:54] drvinceknight commented on #991
No that shouldn't be a problem. I've just opened https://github.com/Axelrod-Python/Axelrod/pull/994 to remove the upper bound (it's not necessary) on the version so that this aligns with what will be on conda-forge.

[2017-04-28 20:28] souravsingh commented on #991
@drvinceknight The conda-forge recipe has passed all the tests. It is now ready for merging.

I have also added the names of the core devs of `Axelrod` as recipe maintainers, Would it fine if they are added as a maintainer?

[2017-04-28 21:42] drvinceknight commented on #991
I don't mind for me but please wait to hear from @marcharper and @meatballs to make sure they're happy.

[2017-04-29 01:09] marcharper commented on #991
You can add me.

[2017-04-30 04:53] 0101010001010111 commented on #379
Are the FORTRAN strategies from Axelrod Tournament 2 still open?

[2017-04-30 10:47] drvinceknight commented on #379
There are indeed, if you find a particular one you want to tackle probably always worth double checking http://axelrod.readthedocs.io/en/latest/reference/all_strategies.html that it has not been implemented already or ask here :)

[2017-04-30 17:45] souravsingh commented on #991
@meatballs Are you okay with being added as the maintainer of the Axelrod conda-forge recipe?

[2017-04-30 17:47] meatballs commented on #991
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

Yep, that's fine.

Sourav Singh wrote:

or mute the thread

-----BEGIN PGP SIGNATURE-----

iQFPBAEBCgA5FiEEHRdukrzKa2ex7jnZeD4xLRArKQgFAlkGIx4bHG93ZW4uY2Ft
cGJlbGxAdGFudGkub3JnLnVrAAoJEHg+MS0QKykIE3IH/0bBCAWGFuE8SlsIMb3F
6YBqymYEC16QY8T5K4+kk0o3Gik0QOu2mCDNVSNwivcyzFf/FZABF1w6fzbgvx0z
BUTNxF55G/PsulTwP3eB9hQcHaZULC+uVdqpFXrEczzSwxoGu1l95l++uW7gpV9s

[2017-04-30 18:30] 0101010001010111 commented on #379
@drvinceknight Are there naming conventions for the strategies? I see that K61R is named Champion, K46R is named Eatherley, but K76R is named Tester.

- Should I default to naming the strategies after their authors?
    - How about the case of authors having the same last name? K47R and K48R are by Richard Hufford and George Hufford respectively.
    - How about a singular strategy that has multip

[2017-04-30 21:29] drvinceknight commented on #379
@0101010001010111 (awesome handle btw): I think the more descriptive the name the better but feel free to make a judgement call (and it can always be discussed on the PR).

The main reason we went for author names for the first of Axelrod's tournament was because there were no other names to go for.

Note that we try to include all relevant names (in the case of strategies being called different t

[2017-05-01 20:18] MariosZoulias commented on #379
Hey i have 2 questions .

1) I am working on the new  strategy and i try to implement it into to axelrod _first.py as you said so i make the class "stein_and_rapoport" but when i try to create a match stein_and_rapoport vs Alternator it says that there is no stein_and_rapoport strategy in axelrod. **So how do i insert my strategy into axelrod files** (i followed the steps in docs) .

2)In stein an

[2017-05-01 20:47] drvinceknight commented on #379
It sounds like you're not quite following all the steps (but it's difficult to guess without seeing your code). From: http://axelrod.readthedocs.io/en/latest/tutorials/contributing/strategy/adding_the_new_strategy.html

Here's what the description says: "Every 15 moves it makes use of a chi-squared test to check if the opponent is playing randomly."

So you need to do a chi squared test on the dis

[2017-05-02 18:06] souravsingh commented on #991
The feedstock for Axelrod is now available here- https://github.com/conda-forge/axelrod-feedstock

It will take some time to populate the repository.

[2017-05-02 18:06] drvinceknight commented on #991
Thanks. Closing this issue.

[2017-05-02 18:06] #991 closed

[2017-05-02 20:23] haraldschilly commented on #991
For future reference, it landed: https://anaconda.org/conda-forge/axelrod

[2017-05-02 20:26] drvinceknight commented on #991
Thanks, I'll tweet that out 👍 Thanks for the nudge on this Harald.

On Tue, 2 May 2017, 21:23 Harald Schilly, <notifications@github.com> wrote:

[2017-05-06 13:45] Epsiilon commented on #987
Hello i am in a data processing licence and i have find your project.
I have started the issue https://github.com/Axelrod-Python/Axelrod/issues/987
For the moment i have a result like this (see thereafter) and i have just one trouble with the placement of the title.
Does this correspond to what you want ?
![title_labels_payoff](https://cloud.githubusercontent.com/assets/11098300/25772809/fb450202-

[2017-05-06 14:12] drvinceknight commented on #987
That's exactly what we want thanks @Epsiilon although there's no need to add the titles, we're simply looking to reproduce the plots exactly as they are given by the code in the documentation. For example in http://axelrod.readthedocs.io/en/latest/tutorials/getting_started/visualising_results.html the plots that are there were made when we put a default title in place, however now we don't so it t

[2017-05-06 14:17] Epsiilon commented on #987
Okay i will do that :)

[2017-05-06 14:52] Epsiilon commented on #987
The circle around the segment is not in the same direction, is it normal ?
![title_labels_payoff](https://cloud.githubusercontent.com/assets/11098300/25773354/4e6356d8-327c-11e7-819b-ad5785ef1f38.png)
![title_labels_payoff](https://cloud.githubusercontent.com/assets/11098300/25773358/55e4ce6e-327c-11e7-8aec-3791f4ba0e8f.png)

[2017-05-06 15:27] drvinceknight commented on #987
Yes, that's fine.

[2017-05-06 19:58] drvinceknight commented on #974
Closed by #984

[2017-05-06 19:58] #974 closed

[2017-05-07 13:56] Epsiilon commented on #987
Okay fine.

[2017-05-07 14:07] Epsiilon commented on #987
There are an instruction for adjust the size of the out image ? But she is too small, the left indication do not appear

![demo_strategies_stackplot](https://cloud.githubusercontent.com/assets/11098300/25781844/3bd116ae-333f-11e7-8608-e18936f98cb3.png)

[2017-05-07 16:35] Epsiilon commented on #987
Exept the previous picture, all the rest is done.

[2017-05-07 21:20] MariosZoulias commented on #379
Thank you for your answer.
But i still have a question .
Lets assume that the game is Stein_and_Rapoport vs Random ...
So the Stein_and_Rapoport player will understand that the random one plays randomly .
So how does this fact (that the opponent playes randomly or not) changes the move of Stein_and_Rapoport.
Do we search for it just theoritically (just to know if the opponent plays random) or prac

[2017-05-08 01:17] marcharper commented on #379
Hi @MariosZoulias -- the strategy isn't well-described but I assume that the Chi-squared test is used to determine if the opponent is playing randomly by some level of confidence, and if so, defect against it.

[2017-05-08 22:09] MariosZoulias commented on #379
Thanks a lot for the answer.
I also have two more question (actually i need your advice if possible).
Working on the chi-squared test ,
1) in order to understand if the opponent behaves randomly do i have to take into account ,his next moves after C and D of my player (stein_and_rapoport)  and then check the chis-squared ? Or it is even simpler ?
2) Strategy Random is random (ok). But i think stra

[2017-05-09 07:22] drvinceknight commented on #379
I believe it's a straight forward chi squared test based on the two numbers: the number of cooperations and the number of defections. A chi squared test checks those counts and infers (from the total number of counts) whether or not this is a random distribution.

No Alternator, Cooperater and Defector are not random. If you were playing against Cooperator the count of cooperations after 40 turns

[2017-05-09 07:37] drvinceknight commented on #379
Note that `axl.Player` has a `cooperations` and `defections` attribute that counts these things already. So using the chi squared test with the library will be straight forward:

[code]

[2017-05-09 12:43] marcharper commented on #806
I'm going to close this one. If anyone wants to attempt this in the future feel free to reopen. My implementations had a big performance hit for e.g. copying shared histories in the metaplayers.

[2017-05-09 12:43] #806 closed

[2017-05-09 13:30] MariosZoulias commented on #379
Thank you for the analysis .
The only thing that is note clear in my mind is that :
If i do

and i have

The pvalue of TitForTat is gonna be a big number (like 0.65) which means that we have to say the opponent (titfortat) plays randomly .
Which does not exist because he doesnt play randomly but according to titfortat strategy .

What do i think wrong here?

[2017-05-09 14:30] drvinceknight commented on #379
You're not doing anything wrong, I think you're just pointing out a weakness of the strategy. From how it is described I think the only thing you can do is test the distribution of C and D as I have written. Because of the way the strategy in question plays it would in fact recognise that Tit for Tat is not random.

[2017-05-10 12:21] drvinceknight commented on #987
Closed by #1004

[2017-05-10 12:21] #987 closed

[2017-05-10 12:32] drvinceknight commented on #597
At the moment a generic FSM strategy has default memory 1, I think the number of states in the underlying FSM is a better estimate (until we obtain a better algorithm).

[2017-05-10 16:12] souravsingh commented on #808
Here is the list of files in main module done so far-
- [ ] _strategy_utils.py
- [ ] actions.py
- [ ] deterministic_cache.py
- [ ] ecosystem.py
- [ ] eigen.py
- [ ] fingerprint.py
- [ ] game.py
- [ ] graph.py
- [ ] interaction_utils.py
- [ ] load_data.py
- [ ] match.py
- [ ] match_generator.py
- [ ] mock_player.py
- [ ] moran.py
- [ ] player.py
- [ ] plot.py
- [ ]  random_.py
- [ ] result_set.py
-

[2017-05-10 16:13] drvinceknight commented on #808
That's awesome :+1: @souravsingh

[2017-05-10 16:18] souravsingh commented on #808
Let me know if I have missed something in the main module, I just skimmed through the code.

I will also be making a second list for the type hint progress in strategies module.

[2017-05-10 16:55] janga1997 commented on #808
I would like to take up `match.py` and `match_generator.py`, if that's fine.

[2017-05-10 17:06] drvinceknight commented on #808
That's great, thanks @janga1997!

[2017-05-10 17:23] souravsingh commented on #808
For strategies we have this list-

- [ ] _filters.py
- [ ] adaptive.py
- [ ] alternator.py
- [ ] ann.py
- [ ] apavlov.py
- [ ] alternator.py
- [ ] appeaser.py
- [ ] averagecopier.py
- [ ] axelrod_first.py
- [ ] axelrod_second.py
- [ ] backstabber.py
- [ ] better_and_better.py
- [ ] calculator.py
- [ ] cooperator.py
- [ ] cycler.py
- [ ] darwin.py
- [ ] dbs.py
- [ ] doubler.py
- [ ] defector.py
- [

[2017-05-19 08:07] drvinceknight commented on #884
Picking up `test_retaliate`

[2017-05-21 17:54] drvinceknight commented on #884
Picking up `test_qlearners`.

[2017-05-22 09:02] drvinceknight opened #1019 "RTDs is falling over again because of scipy"
https://readthedocs.org/projects/axelrod/builds/5453271/

Taking a look, we might need to revert https://github.com/Axelrod-Python/Axelrod/pull/1011

[2017-05-22 09:16] drvinceknight commented on #1019
Fixed this by changing the rtd settings (no longer installs the library): https://readthedocs.org/projects/axelrod/builds/5453374/

You can see the Stein and Rapaport strategy (from #1012) has autodoc'd fine: http://axelrod.readthedocs.io/en/latest/reference/all_strategies.html#axelrod.strategies.axelrod_first.SteinAndRapoport

[2017-05-22 13:51] drvinceknight commented on #884
Picking up `test_punisher`.

[2017-05-22 14:29] drvinceknight commented on #1019
RTD has fallen over again, not finding tqdm, perhaps it used a cached version before?

Just checking a fix works by mocking tqdm.

[2017-05-23 04:04] #1019 closed

[2017-05-23 10:10] drvinceknight commented on #884
Picking up `test_prober`.

[2017-05-26 23:16] drvinceknight commented on #884
Picking up `test_oncebitten`.

[2017-05-27 00:09] drvinceknight commented on #884
Picking up `test_negation`.

[2017-05-27 00:10] drvinceknight commented on #884
My bad: nothing to be done for `test_negation`.

[2017-05-27 19:04] drvinceknight commented on #884
Picking up `test_meta`

[2017-05-28 09:07] drvinceknight commented on #884
Picking up `test_mathematicalconstants`.

[2017-05-28 20:07] drvinceknight commented on #884
Picking up `test_memorytwo`.

[2017-05-29 08:40] drvinceknight commented on #884
Picking up `test_memoryone`.

[2017-05-29 14:09] drvinceknight commented on #884
Picking up `test_hunter`.

[2017-05-29 15:55] drvinceknight commented on #884
I believe #1035 might be the last of them. Will wait to adjust as required and get them all merged before taking stock :+1:

[2017-06-01 11:01] drvinceknight commented on #884
All the strategy tests have been refactored. I'm going to refactor some of the boiler plate code in `test_player` to remove what is no longer needed. We still use `responses_test` for `first_play_test` and `second_play_test` but I'll take a look at if anything can be simplified there. That should close this issue.

[2017-06-01 11:04] marcharper commented on #421
@erik-sn @meatballs What's the current state of this re: the API?

[2017-06-01 13:05] drvinceknight commented on #884
Thanks to everyone for your efforts on this! Closed by #1036

[2017-06-01 13:05] #884 closed

[2017-06-03 17:52] drvinceknight opened #1038 "Remove `second_play_test` and `first_play_test`"
Following #884 all strategies are tested through matches with other strategies however some still make use of `second_play_test` and `first_play_test`. These can also be removed replacing all strategy tests by matches with other players.

[2017-06-04 10:32] #1038 closed

[2017-06-04 20:56] drvinceknight commented on #225
I'm going to start working on this now.

[2017-06-07 09:46] drvinceknight commented on #379
Some simple ZD ones to implement from the literature. From @marcharper on #1041:

[2017-06-07 14:17] erik-sn commented on #421
@marcharper  sorry for the delayed response - the API can sort of do this right now, I just need to do some documentation. Essentially you would POST to `/tournaments` with a set of strategies and their parameters in the body. It will return JSON with the results.

I added "sort of" because this does require an HTTP client - using requests in a python script, curl, postman,  a browser UI, etc.

I

[2017-06-08 22:15] #225 closed

[2017-06-10 21:08] SirRichter commented on #813
Is there a strategy where the player assumes that their opponent's probability of defecting is a Bernoulli variable, where the parameter is based on a Bayesian analysis of the opponent's previous moves?

[2017-06-10 21:20] marcharper commented on #813
@SirRichter Not one that explicitly uses a Bayesian prior AFAIK. There are some strategies that attempt to determine the opponent's probability of cooperating in various ways, such as the running counts of the opponent's plays, which would correspond to some uninformative prior (Beta(0, 0) I guess) and then taking the posterior maximum.

Feel free to implement such a strategy (ideally using scipy)

[2017-06-10 23:01] marcharper commented on #678
Perhaps -- I can still think of some ideas, like applying a transformer to all strategies, or further tournament variations. But we can close if you'd like and reopen later if needed.

[2017-06-10 23:03] drvinceknight commented on #678
:+1:

[2017-06-10 23:03] #678 closed

[2017-06-10 23:12] marcharper commented on #678
It might be worth thinking about decorators for `Match`.

[2017-06-18 17:35] marcharper opened #1047 "Add a little Pizzaz to the Readme"
Some suggestions:

* Image of a small tournament (see examples repo)
* Sparklines of a match
* A plot of the Moran process like the one in [this notebook](https://github.com/Axelrod-Python/Axelrod-notebooks/blob/master/Moran%20Process.ipynb)
* A cooperation heatmap from the examples repository
* A couple of fingerprints
* Remove some of the installation instructions (like mpl issues on ubuntu) --

[2017-06-18 17:40] marcharper opened #1048 "Standard plots for the Moran process"
We should have plots for the output, like the population distribution per round over time.

Perhaps we could consider one for fixation probabilities (time consuming for some parameters perhaps).

[2017-06-18 18:40] meatballs commented on #1047
Yep - sounds good. We should have installation and usage stuff in the docs. The readme can then be a 'sales pitch'

[2017-06-18 18:48] drvinceknight commented on #1047
I also reckon the initial paragraph ("Currently ...") is a bit heavy, by the time I get to the `README` I'd like short and sharp information/sale pitches. If I want details I'll look at the documentation.

[2017-06-18 18:54] drvinceknight commented on #1048
Sounds good.  Perhaps:

[code]

Perhaps:

[code]

So it's essentially the same plot in both cases just that if only one population is passed to it, it will plot the mean distribution over 1 repetition...

I can't think of anything else we'd plot than a population distribution though so perhaps we don't need a `MoranPlot` class but simply an `axelrod.plot.population_distribution` function?

[2017-06-18 18:59] drvinceknight commented on #1047
We should have a very minimum of installation stuff still:

[code]

and

[code]

[2017-06-18 19:31] marcharper commented on #1047
Might I humbly suggest something more like [this repository](https://github.com/marcharper/python-ternary)?

[2017-06-18 19:35] marcharper commented on #1048
Let's start with a population plot for a single match, could be as simple as
[code]
or as you suggested above. Maybe a function to compute the fixation probability of a given set of match parameters would also be nice (but not sure if we need a plot).

[2017-06-18 19:42] drvinceknight commented on #1047
There is a lot in that README. Do you have separate documentation elsewhere
for that or is that your user documentation also?

It might just be the nature of tertiary but I'd be cautious about overlap
with our docunentation (our README is not our user documentation). I like
@meatballs way of phrasing it: a sales pitch.

I'd suggest the audience of the README is either developers who will want
to b

[2017-06-18 19:44] drvinceknight commented on #1048
Hmmm... For better or worse what I'm not sure I like about that is that it
is different to how we plot tournament results which is not ideal from a
user's pov. I think I'd prefer to pass the output of the `mp.play` to a
thing that plots (to be in line with the tournament...).

On Sun, 18 Jun 2017, 20:35 Marc Harper, <notifications@github.com> wrote:

[2017-06-18 19:49] drvinceknight commented on #1047
And here's another example: https://github.com/PyconUK/ConferenceScheduler

[2017-06-18 20:09] drvinceknight commented on #1047
I wouldn't be surprised if we're actually all on the same page and it might be helpful for someone to just take a stab at this to give us a reference point...

[2017-06-18 20:11] drvinceknight commented on #1048
Perhaps a better way of thinking about this is that a Moran process is closer to a match than a tournament and that the plot of the population distribution would be similar to the sparklines...

[code]

?

[2017-06-18 20:13] drvinceknight commented on #1047
For further reference (I'm not suggesting that any of these are what we want for Axelrod, just throwing things out here):

- https://github.com/numpy/numpy is extremely short and just has a few bullet points.
- https://github.com/scipy/scipy#documentation also pretty bare but points to all relevant links.

[2017-06-18 20:21] drvinceknight commented on #1047
- https://github.com/pandas-dev/pandas is a brief overview of what it can do (bullet points) followed by pointers.

I'd suggest that's a way to go:

- Clean up the currently heavy initial paragraphs, replace them with bullet points (of what the library can do, similar to pandas, conference scheduler etc): brief sentences for Matches, Tournaments, Moran processes, fingerprints etc...
- Point at the

[2017-06-18 22:26] marcharper commented on #1047
My repository readme is all the documentation, I'm not suggesting we do that. But it has some nice plots, some easy "get started" examples, some visuals of what the library can do, etc. Once people are hooked on that, then the drudgery of how to install and such can follow.

When I go to a readme for a project I don't know about, how to install it is not what I care about. It's *do I want to insta

[2017-06-18 22:31] marcharper commented on #1048
I'm not fussed about the API. IMO the existing plot class is already over-engineered -- I just want a function that makes the plot of interest and returns a matplotlib handle of some kind. So whatever your preference for the API is fine with me.

I do think that a Moran process object is more like a Match than a tournament (I can imagine a tournament of Moran processes) but that's debatable.

[2017-06-19 05:39] drvinceknight commented on #1048
Cool, let's go for `mp.populations_plot`, which would be the "graphical" version of `mp.populations`.

[2017-06-19 05:58] drvinceknight commented on #1047
You're right. The README should be an overview of what the library can do.

My preference would be that it is very brief though, so not only should the README tell me if I want to install this but also if I want to invest more time reading about what this is. So I'd suggest no plots, no visuals, just a bullet point list at the start with the things it can do. We could/should of course link to wher

[2017-06-19 05:59] drvinceknight commented on #1047
Note that we do have a similar such list at the start of the documentation: http://axelrod.readthedocs.io/en/stable/

Depending on what we do with the README we should remember to potentially change that.

[2017-06-19 09:54] drvinceknight commented on #1047
Here's an SO discussion about writing README's: https://stackoverflow.com/questions/2304863/how-to-write-a-good-readme

[2017-06-19 10:13] Nikoleta-v3 commented on #1047
I am looking forward to a good re-write of the read me. If you don't mind me commenting.

I like the idea of pointing out what you can do with the library but more as a little sections that also
includes plots/graphs, as Marc suggested.

For example:

Fingerprinting
-------------------
Allow you to this.
`scroll`
Images one, Image two.

I agree with Marc that this is a good sale point and the libr

[2017-06-19 10:18] drvinceknight commented on #1047
It sounds like this is the main point where we don't agree, I'd suggest we don't include plots and keep things VERY brief (no code snippets, just elevator pitches). Fwiw, that's also what's suggested by the top answer in that SO link (although I'm keen to stress that just because "someone on the internet has said it, it doesn't mean it's right").

[2017-06-19 11:48] drvinceknight commented on #1047
Two suggestions to give us a relative discussion point:

- A streamlined README according to how I'm thinking about things: https://github.com/Axelrod-Python/Axelrod/blob/c0b33eee7d980cf491c7e250e73025a093f3a3e7/README.rst
- The same README with two plots: https://github.com/Axelrod-Python/Axelrod/blob/354c7ae6bf3330a037ea573bb2be108ad0ab7f29/README.rst

The way I've thrown the plots in that secon

[2017-06-19 14:23] marcharper commented on #1047
Counterexample: [seaborn](https://github.com/mwaskom/seaborn), which leads with some nice plots. It's a plotting library so it's sort of expected... nevertheless I have some idea what the library will do for me before I've really read any words.

I think maybe three plots: a tournament, a heatmap, and a fingerprint, perhaps. I also recommend a few lines for running a match + sparklines.

[2017-06-19 14:31] drvinceknight commented on #1047
That's a good counterpoint to why I'm hesitant right? A good balance of images presented it the right way would help with the "elevator pitch" I'm trying to edge towards. I'm just keen to make the README brief.

Cool, I'm not averse to that, @marcharper do you want to perhaps take a stab on top of that `readme-revamp` branch: https://github.com/Axelrod-Python/Axelrod/blob/readme-revamp/README.rst?

[2017-06-19 14:33] drvinceknight commented on #1047
Feel free not to of course, if you think that's setting off in the wrong direction to begin with :)

[2017-06-19 14:39] marcharper commented on #1047
I'll give it a go.

[2017-06-19 14:47] drvinceknight commented on #1047
Personally I've always thought of seaborn's documentation as some of the worse I've seen (for something that has a lot of documentation) but I like the README: still short, brief and sharp. :+1:

[2017-06-22 08:09] drvinceknight opened #1051 "Specific strategy request: Graaskamp"
This strategy is one of the strategies from Axelrod's original tournaments. It is described here http://axelrod.readthedocs.io/en/stable/reference/overview_of_strategies.html#graaskamp as:

1. Play Tit For Tat for the first 50 rounds;
2. Defects on round 51;
3. Plays 5 further rounds of Tit For Tat;
4. A check is then made to see if the opponent is playing randomly in which case it defects for the

[2017-06-23 19:45] SplitInfinity commented on #1051
I'd like to work on this. I did some (admittedly superficial) research and couldn't find anything about the 'Analogy' strategy, so I'm going to follow your suggestion leave that unimplemented for now (with a note in the documentation of the strategy).

That being said, I have one question. [This paper](http://groups.csail.mit.edu/belief-dynamics/pdfs/PD_mdsMap.pdf) defines Graaskamp slightly diffe

[2017-06-23 20:36] drvinceknight commented on #1051
That's great @SplitInfinity!

I suggest going with both implementations. So one can be `Graaskamp1980` and the other `Graaskamp2001`.

In terms of "playing it's own twin", you can see the histories of both so `self.history == opponent.history` in the strategy method would be a sufficient test for that.

I hope that helps :)

[2017-06-23 20:37] drvinceknight commented on #1051
You might have already looked through the documentation but if not this is the specific section on contributing with guidance on writing a strategy: http://axelrod.readthedocs.io/en/stable/tutorials/contributing/index.html

:+1:

[2017-06-24 01:27] marcharper commented on #1051
If you are willing to look through some Fortran, this strategy appears to be in the second Axelrod tournament as well. See the [source code](http://www-personal.umich.edu/~axe/CC/CC2/TourExec1.1.f.html) and look for a line "C TYPED BY AX, 3/27/79 (SAME AS ROUND ONE GRAASKAMP)" (there's another strategy "C BY JIM GRAASKAMP AND KEN KATZEN" that I think is different).

Here is [some info](http://www-

[2017-06-24 03:28] SplitInfinity commented on #1051
@marcharper

How do you interpret the if statements in that Fortran code? For example, what is the meaning of:

`IF (MOVEN - 51) 1, 2, 3`

I assume from my knowledge of C that predicate is false only if `MOVEN = 51` and true otherwise. But what does the `1,2,3` after the if clause mean?

[2017-06-24 20:46] marcharper commented on #1051
If (...) < 0 go to 1, == 0 Goto 2, < 0 Goto 3. See 11.4 [here](https://www.fortran.com/F77_std/rjcnf-11.html).

[2017-06-25 00:02] SplitInfinity commented on #1051
@marcharper

Okay, I think I understand the implementation you linked on a statement level but not yet on an algorithmic level. Should  `Graaskamp1980` be essentially a translation of the Fortran implementation you linked to, or should I implement what is currently described in the Axelrod documentation as the Graaskamp strategy?

[2017-06-25 16:06] marcharper commented on #1051
Ideally these are the same -- hopefully the Fortran can help explain anything missing.

[2017-06-25 16:12] eric-s-s commented on #816
hello all,

I have free time again and am interested in tackling this issue.

below is code that incorporates roughly what was being discussed.  i notice there was no discussion to call it Action or Actions.  Let me know what you think - what should be set and how, and if it's still a good idea to go ahead with this.

[code]

[2017-06-25 19:16] SplitInfinity commented on #1051
@marcharper

The one thing @drvinceknight and I couldn't figure out is how to detect if the opponent is using the 'Analogy' strategy. How does the Fortran code you linked do that?

[2017-06-25 21:10] marcharper commented on #1051
I don't know -- I haven't taken the time to translate the Fortran code and we don't know what the analogy strategy is in any case. Probably one or more of the conditionals detects whatever analogy was doing...

[2017-06-25 21:22] marcharper commented on #816
@eric-s-s Welcome back! Thanks for tackling this. IIRC we've finished the test conversions so there should not be any warnings in the way.

For efficiency I might implement str_to_actions as:

[code]

I also recommend implementing `flip` as something like

[code]

and

[code]

Whenever you are ready please open a PR -- hopefully not too many tests are affected.

[2017-06-26 05:47] SplitInfinity commented on #1051
@drvinceknight

My interpretation of this is that the strategy class should take a constructor argument called `random_defect_frequency` that is between 5 and 15 inclusive, and `random_choice()` should be used to decide what to do in each round (after round 56) that is a multiple of `random_defect_frequency`. The defect probability should also be a constructor argument.

Another interpretation is

[2017-06-26 15:51] eric-s-s commented on #816
@marcharper i like those. i think the first time we talked about `str_to_actions` that was the code.  The only issue with a generator vs tuple is that the tuple fails immediately and the generator only fails once the action is reached.  With a generator,  `Cycler('CCoops')`  doesn't fail until round 3 while the tuple(style?) fails at instantiation.

str_to_actions is currently only used in two pla

[2017-06-27 01:37] marcharper commented on #816
Ok, tuple is fine instead of a generator. I think hard coding the logic is probably faster than building a dictionary every time; regardless if we find a more efficient implementation we can also refactor, the bigger issue is making sure all the tests pass for the enum.

[2017-06-27 01:48] marcharper commented on #1051
The FORTRAN is below.

It looks like at some point (near the end) the strategy computes `N = RANDO * 10.0 + 5.0` and counts down to `N=0` at which time it defects; otherwise it plays TFT or cooperates depending on the opponent's moves. So it looks like the second interpretation is closer to the original.

Whether the opponent is playing analogy appears to be depending on some count of four things

[2017-06-27 04:57] eric-s-s commented on #816
from [test_player](https://github.com/Axelrod-Python/Axelrod/blob/master/axelrod/tests/strategies/test_player.py#L556)

[code]

does anyone have any idea why the dictionary keys are sorted?  i removed the `sorted` to no ill effect on tests.  or i can leave the `sorted` and write `__lt__`, `__gt___` etc.. for Actions.

[2017-06-29 02:39] SplitInfinity commented on #1051
@marcharper

I've been studying the Fortran and unless I've made a huge mistake (which is possible), it is **not** the same as the Graaskamp strategy in the Axelrod documentation and in the very first post above. The Fortran code plays tit for tat for 50 rounds, defects in round 51, and plays tit for tat for 5 more rounds. But after that, it does things differently. In round 57, the Fortran code c

[2017-06-29 13:46] marcharper commented on #1051
My guess is that one of the following is happening:
* they are the same and that the description above comes from a summary (one of the books about Axelrod's tournaments perhaps) that doesn't fully explain the strategy
* it's possible that the comment in the Fortran code is incorrect and this isn't the same as round one Graaskamp
* it's possible that I misunderstood the comments in the Fortran cod

[2017-07-01 12:26] eric-s-s commented on #816
okay, now that the Enum is in, these two seem like they would be nice payoffs:

1 - remove `flip_action` . since actions are type hinted, any instance of that can be replaced by `action.flip()`. It would also remove any need for error checking
2 - remove the alias `Action = Actions` and either have `Action.C` and `Action.D` are of type `Action` from the module `action.py` OR `Actions.C` and `Actio

[2017-07-01 14:19] marcharper commented on #816
@eric-s-s sounds good to me

[2017-07-02 16:13] SplitInfinity commented on #1051
I'm almost ready to post a pull request with an implementation of Graaskamp as deciphered from the Fortran. I have a few more loose ends to tie:

1. One of the four "modes" I described earlier is stochastic. I know that you can specify an RNG seed when writing a test case, but how can you know what sequence of random numbers you'll get (and therefore the sequence of moves the strategy will make)?

[2017-07-04 07:16] drvinceknight commented on #1051
Hi @SplitInfinity :)

Yup, no smart way that I'm aware of, simply search for a seed which ultimately pins the behaviour you want.

I'd suggest going with:

[code]

I've gotten those details from the header on the source code.

[2017-07-05 04:14] eric-s-s commented on #816
Next I would love to remove the alias.  Should the class name be `Action` or `Actions`?

[2017-07-05 06:16] drvinceknight commented on #816
It should be `Action` I reckon.

[2017-07-05 14:36] eric-s-s commented on #816
if the class name is `Action`, should i leave the module name as `actions.py` or also change that to `action.py` ?

[2017-07-06 18:32] josemoura opened #1055 "Installation problem"
Hi,

I am trying to install Axerold in Ubuntu. After installation I could not run it.
I got the following output:

Welcome to Python 2.7!  This is the online help utility.

help> modules axelrod
Here is a list of matching modules.  Enter any module name to get more help.
axelrod

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "axelrod/__init__.py", line 8, in <modu

[2017-07-06 18:37] drvinceknight commented on #1055
Hi @josemoura it looks like you're running Python 2.7. Axelrod only support python 3.4+.

On ubuntu you might have python 3 as `python3` in which case you can install it using `pip3 install axelrod`.

Otherwise if you're familiar with virtual environements you can also use those to create a python 3 virtual environment. For example if you use Anaconda you would type:

[code]

I hope that's helpful

[2017-07-06 18:57] meatballs commented on #1055
We should probably make it far more clear and explicit that we only support the current and previous two versions of Python.

[2017-07-06 19:48] josemoura commented on #1055
Hi,

Many thanks for your reply. It is already running!

I have made the following commands:
- sudo apt install python3-pip (I got 3.5)
- pip3 install axelrod
- pip3 install --upgrade pip (pip: 8.1.1 -> 9.0.1)
- sudo apt install python3-tk

After these, I have tried the README tournament example and it ran without
problems.

Cheers,
Jose Moura

2017-07-06 19:57 GMT+01:00 Owen Campbell <notificatio

[2017-07-06 20:04] drvinceknight commented on #1055
That's great to hear!

[2017-07-06 20:04] #1055 closed

[2017-07-08 10:09] eric-s-s commented on #816
Is there more to do with this issue, or is it now closable?

[2017-07-08 10:30] drvinceknight commented on #816
Nope I think this is closable: thanks @eric-s-s!! :+1:

[2017-07-08 10:30] #816 closed

[2017-07-08 14:39] eric-s-s commented on #816
you're welcome.  i enjoyed doing it.

[2017-07-08 15:19] eric-s-s commented on #718
i tried this out on my windows machine using python 3.6 . i only had one issue.  with a little searching i got a workaround (multiprocessing uses pickle, which apparently doesn't mix well with MagicMock.)

[code]

not sure what to make of that but maybe this is a problem that has solved itself?

the `PickleableMock` seems to address the error that @DavidCEllis got in `test_run_parallel`

[2017-07-09 15:41] marcharper opened #1059 "Profile DBS Runtime"
So DBS is long run time (thanks @drvinceknight). This is unfortuante since DBS is a very high performing strategy (unlike the meta strategies which are good but not top performers). Perhaps we can optimize the implementation of DBS and reduce its CPU usage.

[2017-07-09 15:49] drvinceknight commented on #1059
:+1:

[2017-07-09 18:29] marcharper commented on #718
@eric-s-s Want to open a PR?

[2017-07-10 02:59] marcharper opened #1060 "New Classifiers"
* From literature
* Is main variant (e.g. for the different version of go by majority, retaliate, etc.)
* other ideas?

[2017-07-10 03:02] marcharper opened #1061 "Create New Strategy Class: Function Stacks"
Function stack based strategies from "Ashlock, Daniel. "Training function stacks to play the iterated prisoner's dilemma." Computational Intelligence and Games, 2006 IEEE Symposium on. IEEE, 2006."

[2017-07-10 03:03] marcharper opened #1062 "Create New Strategy Class: Binary Deciders"
Binary decision strategies defined in "Varying Decision Inputs in Prisoner’s Dilemma", Barlow and Ashlock 2015

[2017-07-10 03:17] marcharper opened #1063 "Add specific memory two strategies"
* A generic class for memory 2 strategies (or Gambler can be used)
* ~~The specific strategy on page 21 of this [paper](http://math.uchicago.edu/~may/REU2014/REUPapers/Li,Siwei.pdf)~~
* AON_2 and Delayed AON_1 from [Memory-n strategies of direct reciprocity](http://www.pnas.org/content/114/18/4715) [See table 1, bottom of page 4].

[2017-07-10 03:29] marcharper opened #1064 "Gruder: Memory One?"
Could be implemented as the four vector (1, 0, 0, 0)

[2017-07-10 03:31] marcharper opened #1065 "Alternate name for AllCorAllD: Repeat"
Reference: What You Gotta Know to Play Good in the Iterated Prisoner’s Dilemma, Ethan Akin

[2017-07-10 16:28] eric-s-s commented on #718
sigh.  not so fast.  on unittest, it works fine, but with nosetest i get (in test_start_workers and test_run_parallel).  this leads me to believe that my workaround was more lucky than right. here's the error in nosetests.

[code]

which means that something is trying to pickle the Queue, maybe (there were a lot of github issues in the google search)?  i'll look further.

also, does the CI test in

[2017-07-10 16:33] eric-s-s commented on #718
someone also wrote a a package called `dill` and a used it to make a multiprocessor in `patheos.multiprocessing` [https://pypi.org/project/pathos/](url) it's supposed to be improved pickling better able to handle curve balls.  i haven't looked at that, but i'll get around to it soon.

[2017-07-10 17:17] drvinceknight commented on #718
Yes we use appveyor <https://www.appveyor.com/> (which comes up in PRs) to test on windows.

I believe we used dill/multiprocess at some point however ended up removing it when we started passing parameters to the parallel workers. I don't know if that means it's not a solution to our problem, just flagging it up.

In case this helps, here's a couple of issues/PRs related to it:

- https://github.

[2017-07-10 17:43] drvinceknight commented on #1064
I swear we've had this conversation before but I can't find it and memory 1 makes sense to me: https://github.com/Axelrod-Python/Axelrod/pull/1066

[2017-07-10 17:53] eric-s-s commented on #718
@drvinceknight thanks.  i'll look through stuff and get back to this page if when i find something useful.

[2017-07-11 14:50] #1064 closed

[2017-07-11 14:50] #1065 closed

[2017-07-11 14:56] drvinceknight commented on #1063
Tagging @Chadys as she was working on a generic memory $m$ strategy. (I think :))

[2017-07-11 15:04] Chadys commented on #1063
I was working on a generic NTitsForMTats, N, M and starting move as parameters. Planning to finally get back to it after I finish work on the 21st :)

[2017-07-11 15:05] drvinceknight commented on #1063
Ah yes! Apologies for the ping I remembered incorrectly!

[2017-07-12 15:33] drvinceknight opened #1069 "Add a reactive strategy class"
Any objection to adding a reactive strategy class?

First described here: http://dl.acm.org/citation.cfm?id=64712 it's just a subset of a Memory One strategy where only the action of the opponent is considered.

So where a mem 1 strategy is defined by $(p_1, p_2, p_3, p_4)$ (probabilities of cooperating in states CC, CD, DC, DD), a reactive strategy is a mem 1 strategy with the constraint: $p_1=p_

[2017-07-12 16:08] Nikoleta-v3 commented on #1069
I am happy with this. I am currently working on the advantages and the limitations of memory for IPD strategies. I am studying reactive strategies and though ` MemoryOnePlayer` works just fine when
attaching code into the reports `ReactivePlayer` could make more sense to the reader.

[2017-07-13 14:25] eric-s-s commented on #718
the issue with noestests seems to be that nosetests runs tests in parallel, which doesn't work with parallel processes.  i'm pushing up a PR that will hopefully work.

[2017-07-13 14:32] drvinceknight commented on #718
I'm not too sure I follow. None of our CI test runners use nosetests.

[2017-07-13 14:32] #1069 closed

[2017-07-13 14:35] drvinceknight commented on #718
(Ping me on gitter if you're around, might be quicker to explain there.)

[2017-07-14 17:19] eric-s-s commented on #718
tl;dr  - unix can use os.fork() and doesn't need to pickle everything in Tournament (just some things?) but windows needs to pickle every last bit.  to get multiprocessing working on windows, we would need to isolate/remove the unpickleable bits.

multiprocessing does work in Windows if `in_memory=True`, `progress_bar=False`, and all the players in `self.players` are pickle-able.

the three specif

[2017-07-14 17:20] eric-s-s commented on #718
here was the extra test for writing to a specific file.

[code]

[2017-07-14 17:40] DavidCEllis commented on #718
That TLDR sounds like the conclusion I came to when working on this in the PyCon UK sprints last year. I didn't really get the time to dig into it and figure out exactly what was unpickleable though. The NamedTemporaryFile being the source of the extra issues makes some sense - it's not used in Windows because it doesn't work in windows the way it was being used on unix.

[2017-07-14 17:46] drvinceknight commented on #718
Note we already had issues with this which is why the tournament does not actually pass players to the processes but indices of players which refer back to the tournament player list attribute. Obviously something else is still happening.

[2017-07-14 17:54] drvinceknight commented on #718
One simple simple "fix" which would end up not disrupting the code base too much would be to overwrite `progress_bar` to `False` and `in_memory` to `True` if on windows and `processes is not None` and display a warning:

[code]

I'm not too sure what I think about this but it does make it possible to run parallel processing (as a second citizen) on Windows without disrupting the code base.

Anothe

[2017-07-15 04:43] marcharper commented on #718
FYI strategies decorated by a transformer are not pickleable, or were not when we last rewrote this part of the library IIRC. SequencePlayer isn't pickleable because of the generator.

[2017-07-15 16:07] eric-s-s commented on #718
@marcharper - interestingly, strategies with strategy_transformers (like BackStabber) are pickle-able, while just making a transformed strategy is not.

[2017-07-16 01:07] marcharper commented on #718
Right -- to be pickleable (with the standard library implementation of object serialization) a function or class has to be defined as a top-level object in a module.

[2017-07-16 14:20] eric-s-s commented on #718
the only problem that can't be worked around is that all the strategies must be pickle-able. i believe this requires the least amount of change to present code.  I tested all the strategies in axelrod.strategies, and the only problem is `SequencePlayer` . i wrote **a** solution, that works.  here it is.

[code]

and if you added a pickling test to `TestPlayer`, that would cover all the strategies.

[2017-07-16 14:35] drvinceknight commented on #718
How does this work for users creating their own strategies using transformers? (http://axelrod.readthedocs.io/en/stable/tutorials/advanced/strategy_transformers.html)

The idea being that a user can take any strategy in the library and build a new class with a transformer, those strategies should also be able to be used (in effect there is an infinite number of strategies).

[2017-07-16 14:36] drvinceknight commented on #718
(Thanks a lot for working on this @eric-s-s!)

[2017-07-16 14:44] drvinceknight commented on #718
Perhaps something similar could be added to the strategy transformer tests.

[2017-07-16 15:04] eric-s-s commented on #718
riddle me this:
using that same pickling test, i wrote a class like so:

[code]

when i test `Apology`, it passes.  however, if i remove the `name_prefix=None`, it fails like so:

`_pickle.PicklingError: Can't pickle <class 'axelrod.test_pickling.ApologizingApology'>: attribute lookup ApologizingApology on axelrod.test_pickling failed`

[2017-07-16 17:50] marcharper commented on #718
There's also the case of a dynamic strategy creation, where a user at run time e.g. applies a transformer to every strategy (to defect on the first turn) before starting a tournament.

[2017-07-16 19:08] drvinceknight commented on #718
Also, fwiw, here's another (parallel processing) test that's skipped on Windows: https://github.com/Axelrod-Python/Axelrod/blob/master/axelrod/tests/unit/test_fingerprint.py#L199

[2017-07-20 12:35] Chadys opened #1073 "SlowTitForTwoTats duplicate of TitFor2Tats"
After poking around titfortat strategies, I found out that `TitFor2Tats` and `SlowTitForTwoTats` do the exact same thing although coded differently. Shouldn't we get rid of `SlowTitForTwoTats` ? And, in that case, should we rename `SlowTitForTwoTats2` ?

[code]

[code]

[2017-07-20 12:47] drvinceknight commented on #1073
I've taken a quick look (running through an airport) and think I agree. The
fingerprints (https://github.com/Axelrod-Python/Axelrod-fingerprint) look
quasi identical, could you also perhaps just confirm that all the tests
written for one pass for the other?

In terms of renaming, I think we get rid of `SlowTitForTats` (moving it's
name to the list of names in `TitFor2Tats` docstring) and I'd sugge

[2017-07-20 13:59] Chadys commented on #1073
I switched the code of `test_strategy` for the two and yes, tests are passing. I can make the needed changes in the pull request I'll make after adding NTitsForMTats.

[2017-07-20 15:59] meatballs opened #1074 "Axelrod's Second Tournament"
Add the strategies from the second tournament to the reference docs

Include references to the Fortran code at https://github.com/Axelrod-Python/TourExec

[2017-07-20 17:05] meatballs commented on #1074
I've started on this and the WIP is available at http://axelrod.readthedocs.io/en/issue-1074/reference/overview_of_strategies.html#axelrod-s-second-tournament

[2017-07-20 17:09] meatballs commented on #1074
If anyone has any suggestions for improving this (especially how I might avoid repeating very similar URLs above the table), please chip in!

[2017-07-20 20:40] drvinceknight commented on #1074
I think it looks great @meatballs.

Not sure if this is what you had in mind but this one of script will generate the urls which can then just be copied in to the rst **OR** it might be possible with sphinx to write these targets to a file... (I don't know if that's a thing in sphinx and I'd have thought for our purposes just copying them in is fine - this is a one time job).

[code]

I suppose so

[2017-07-20 20:48] drvinceknight commented on #1074
Turns out it is a thing! And it works quiet nicely: https://github.com/Axelrod-Python/Axelrod/pull/1076 (that's a PR to the `issue-1074` branch).

I've built the docs locally and they work fine (as intended). I expect writing the table could be then done in a relatively similar way (just a question of whether or not something better than the file names can be used as the names in the tables).

[2017-07-21 01:59] marcharper commented on #1074
Can we write a wrapper class for these strategies that uses f2py?

[2017-07-21 02:01] marcharper commented on #1073
Great, let's remove the redundant strategy. Nice catch :)

[2017-07-21 11:43] meatballs commented on #1074
I've changed the way this table is done in two way:

1. I've replaced the basic table with a csv_table. This removes the formatting and replaces it with simple column width definitions. The resulting output table remains identical
2. I've used :class: directives in the third column instead of :code: so that they become links to the documentation for the strategy

[2017-07-21 13:00] meatballs commented on #381
An extra complication is that all internal variables in the Fortran functions maintain their state between invocations.

This was handled orginally using "a. the -SAVEALL option must be used in the Language Systems Fortran compiler to make the local variables in the rule functions static (ie remembers from one call to the next)."

It's done now within gfortran by passing the `-fno-automatic` flag

[2017-07-21 13:45] meatballs opened #1079 "Refactor Overview of Strategies Documentation"
- [x] Replace the inline tables with csv_tables
- [x] Replace the :code: directives with :class: directives
- [x] Remove the text descriptions of each strategy (ensuring that the relevant docstring includes all of the information within that text)

[2017-07-21 13:47] drvinceknight commented on #381
My current line of thought is that I'd prefer us not to automatically load in the Fortran code:

1. Readability. A big strength of the library is that we've tried to emphasise readability of the strategies. Someone new to Python but wanting to use the library and potentially understand it would have to pick up Python and **potentially** Fortran.
2. Testability. This is somewhat linked but every st

[2017-07-21 14:02] meatballs commented on #381
I agree with the thoughts above. I'm also not entirely convinced the import is possible because of the issue with persistence of state. (Although that may just be that I haven't yet found how to cope with that).

[2017-07-21 14:26] marcharper commented on #381
I would be in favor of automatic loading (so we have them, or at the user's discretion), translating each to python implementations with sufficient test coverage.

For the state retention issue, could we reload in the `reset` method?

[2017-07-21 14:46] drvinceknight commented on #381
Testing them is one thing, readability and cohesiveness is the other.

Would the suggestion of an optional library be ok for this? (Like my suggestion for `pip install axelrod-fortran` or perhaps `axelrod-extra` or something like that).

[2017-07-22 01:06] marcharper commented on #381
Yes. Do we know if it's even possible to import the Fortran yet?

[2017-07-22 09:49] meatballs commented on #381
A little further research:

https://docs.scipy.org/doc/numpy-1.10.1/user/c-info.python-as-glue.html
Talks about there being two methods for consideration: writing extension modules or using the ctypes module.

Extension modules is the method f2py (and now, numpy) does.

There is some guidance at http://www.fortran90.org/src/best-practices.html#interfacing-with-python for using the ctypes module.

[2017-07-22 09:55] meatballs commented on #381
So, my thoughts at the moment are to compile the strategy functions that we wish to import into a single shared object file which is then called from within Python using the ctypes module.

As we translate strategies into Python properly, we remove them from the list of those we compile.

[2017-07-22 10:05] meatballs commented on #381
Side Note:

Whilst some (many?) of the Fortran strategies are indecipherable, that doesn't mean we can't translate them to Python - we could just do a 'literal' translation line by line.

We'd end up with the most un-pythonic Python code you've ever seen, but it would work.

Writing tests would be almost impossible, because we'd still have little idea of the intention behind the strategy!

[2017-07-22 10:16] meatballs commented on #381
Further research:

https://docs.scipy.org/doc/numpy-dev/f2py/usage.html#command-f2py shows that f2py has options to pass flags to the compiler:

--f77flags=<string>

    Specify F77 compiler flags
--f90flags=<string>

    Specify F90 compiler flags

So, both f2py (numpy) and ctypes look like viable options

[2017-07-22 10:47] drvinceknight commented on #381
This all sounds great to me. I also understand very little about it though :)

:+1:

It'll be awesome to have these run if indeed it's possible to do so. Potentially a paper in itself just about reviving the code and running the tournament :)

[2017-07-22 14:55] #1074 closed

[2017-07-22 15:18] marcharper commented on #381
I think you'd find this difficult, what with all the implicit GOTOs in the compound if statements.

Indeed! And we can add our ML-strategies to the mix for a nice validity test (since they've never seen most of the original tournament strategies).

[2017-07-23 10:41] drvinceknight commented on #1079
Closing this after merging #1081 (reopen if I'm mistaken and there's something left to do here).

[2017-07-23 10:44] meatballs commented on #1079
There is still text to remove from the overview doc. I've only done that for the first tournament.

[2017-07-23 10:45] drvinceknight commented on #1079
Thanks :+1:

[2017-07-24 15:32] meatballs opened #1085 "Matplotlib on OSX again"
By adding type hints to `plot._violinplot` we've now broken the checking we do for whether matplotlib is available.

[2017-07-24 15:35] meatballs commented on #1085
We have a check for whether matplotlib is installed in lines 49-50. Those ensure that the function returns gracefully if not.

However, by using type hints from matplotlib in the method's signature, the class fails to import if matplotlib is not installed.

[2017-07-25 19:16] #1073 closed

[2017-07-26 01:52] #1085 closed

[2017-07-27 10:14] meatballs commented on #381
Can I be so bold as to suggest we can now close this one?!!!

[2017-07-27 10:41] eric-s-s commented on #718
phew!  i now have a PR that can pickle everything.   however, it will not pass `test_fingerprint.py` .

In order to get things to work, I had to change how `DualTransformer` was implemented.  The old way made a call to the strategies of the original instance and a new player instance.  The new way only calls the original player instance.

`AshlockFingerprint` uses a `DualJossAnn`, a stochastic Dua