[2017-07-27 13:30] drvinceknight commented on #381
Yeah I think this can be closed. I'll add a comment to https://github.com/Axelrod-Python/Axelrod/issues/379 and then we can open up specific individual issues for translating specific strategies :+1:

Great work @meatballs!

[2017-07-27 13:30] #381 closed

[2017-07-27 13:36] drvinceknight commented on #379
Have edited the above list with a pointer to the fortran strategies.

[2017-07-27 14:13] meatballs opened #1093 "K86R Strategy"
This is one of the strategies from [Axelrod's Second Tournament](http://axelrod.readthedocs.io/en/stable/reference/overview_of_strategies.html#axelrod-s-second-tournament) for which we have the [orginal Fortran code](https://github.com/Axelrod-Python/TourExec/blob/v0.3.0/src/strategies/k86r.f).

From my analysis of the fortran code, the strategy:

- Cooperates on the first two rounds
- For rounds

[2017-07-27 18:20] drvinceknight commented on #1047
#1072 refactored the README. Closing but reopen if it's not felt that's sufficient.

[2017-07-28 14:07] meatballs opened #1095 "Reverse engineer Fortran strategies"
Each of the of the original strategies from [Axelrod's second tournament](http://axelrod.readthedocs.io/en/stable/reference/overview_of_strategies.html#axelrod-s-second-tournament) needs to be reverse engineered and an issue created for each which describes its operation.

- [ ] GRASR
- [ ] K31R
- [ ] K32R
- [ ] K33R
- [ ] K34R
- [ ] K35R
- [ ] K36R
- [ ] K37R
- [ ] K38R
- [ ] K39R
- [ ] K40R
- [

[2017-07-30 13:49] meatballs opened #1100 "K91R Strategy"
This is one of the strategies from [Axelrod's Second Tournament](http://axelrod.readthedocs.io/en/stable/reference/overview_of_strategies.html#axelrod-s-second-tournament) for which we have the [orginal Fortran code](https://github.com/Axelrod-Python/TourExec/blob/v0.3.0/src/strategies/k91r.f).

A description of this strategy is given in Axelrod, R. (1980). More Effective Choice in the Prisoner’s

[2017-07-30 13:55] meatballs opened #1101 "K75R Strategy"
This is one of the strategies from [Axelrod's Second Tournament](http://axelrod.readthedocs.io/en/stable/reference/overview_of_strategies.html#axelrod-s-second-tournament) for which we have the [orginal Fortran code](https://github.com/Axelrod-Python/TourExec/blob/v0.3.0/src/strategies/k75r.f).

A description of this strategy is given in Axelrod, R. (1980). More Effective Choice in the Prisoner’s

[2017-07-30 13:59] meatballs opened #1102 "K76R Strategy"
#This is one of the strategies from [Axelrod's Second Tournament](http://axelrod.readthedocs.io/en/stable/reference/overview_of_strategies.html#axelrod-s-second-tournament) for which we have the [orginal Fortran code](https://github.com/Axelrod-Python/TourExec/blob/v0.3.0/src/strategies/k76r.f).

A description of this strategy is given in Axelrod, R. (1980). More Effective Choice in the Prisoner’s

[2017-07-30 14:00] drvinceknight commented on #1100
Is there more information available on this one? The given description
isn't quite enough.

On Sun, 30 Jul 2017, 14:49 Owen Campbell, <notifications@github.com> wrote:

[2017-07-30 14:01] drvinceknight commented on #1101
Similarly with this one, is there more available? The description as is
isn't really sufficient.

On Sun, 30 Jul 2017, 14:55 Owen Campbell, <notifications@github.com> wrote:

[2017-07-30 14:07] meatballs opened #1103 "K67R Strategy"
This is one of the strategies from [Axelrod's Second Tournament](http://axelrod.readthedocs.io/en/stable/reference/overview_of_strategies.html#axelrod-s-second-tournament) for which we have the [orginal Fortran code](https://github.com/Axelrod-Python/TourExec/blob/v0.3.0/src/strategies/k67r.f).

A description of this strategy is given in Axelrod, R. (1980). More Effective Choice in the Prisoner’s

[2017-07-31 13:01] drvinceknight commented on #1102
Following a good discussion on this I agree with @meatballs. Note that the textual description mentions "not counting the first defection" to ensure that the ratio "remains" below 0.5. We are in agreement that this is equivalent to simply counting the total number of moves to ensure that the **current** ratio is below 0.5.

:+1:

[2017-07-31 17:25] drvinceknight commented on #1100
I have a hunch about this one. I might pick it up if no one else wants it.

[2017-07-31 17:29] meatballs commented on #1100
I'm intrigued. What's the hunch?!!!!

[2017-07-31 17:32] drvinceknight commented on #1100
Oh just my hunch of what the text description is saying.

I'm guessing it's got a simple set of probabilities (either 2 or 4) that get updated based on opponents actions (essentially a reactive or a mem1). Based on that it probably uses closed form expressions for the probabilities ("long term") of states and then on top of that it probably calculates the expected score based on the game value and

[2017-07-31 17:34] meatballs commented on #1100
Welcome to the wonderful world of Fortran...

[2017-07-31 17:39] drvinceknight commented on #1100
![](https://media.giphy.com/media/twSrnNsCC4z60/giphy.gif)

[2017-08-02 06:37] drvinceknight commented on #1051
Hi @SplitInfinity just checking how this is going? How do you feel your strategy compares to the description at http://axelrod.readthedocs.io/en/stable/reference/overview_of_strategies.html#graaskamp

That description is from Axelrod's first tournament and the Fortran code is from his second. We've come to realise that it's not necessarily true that the author (Graaskamp) would have submitted the

[2017-08-02 06:43] drvinceknight commented on #1051
It might be that we mark your strategy as `MoreGraaskamp` as it's based on the Fortran code from the second tournament. Axelrod's first tournament was written up in a paper called "Effective choice in the
Prisoner's dilemma" and his second in a paper called "**More** Effective choice in the Prisoners Dilemma".

Note we've created a separate/partner library that directly speaks to the Fortran code

[2017-08-02 06:44] drvinceknight opened #1105 "Specific strategy: Tideman and Chieruzzi"
This is one of the remaining strategies from the first tournament and is described here: http://axelrod.readthedocs.io/en/stable/reference/overview_of_strategies.html#tideman-and-chieruzzi:

This strategy begins by playing Tit For Tat and then things get slightly complicated:

1. Every run of defections played by the opponent increases the number of defections that this strategy retaliates with by

[2017-08-02 16:48] eric-s-s commented on #718
here's the note in `tournament.py` about multiprocessing.

   Class rather than Processes and Queues. However, Pool can only accept
   target functions which can be pickled and instance methods cannot.

i did a little checking, and i believe this problem is solved in python3. i checked this with the following code, and it worked just fine in windows.

[code]

would someone mind checking that in li

[2017-08-02 16:58] drvinceknight commented on #718
Worked just fine for me **but** we need to be **very** careful here and make sure the parallel processing doesn't trip up the writing to file (or dict) of the interactions.

This answer/question is mildly relevant:

https://stackoverflow.com/a/37465654

We also need to make sure that the memory consumption is not effected etc... (Just noting down potential pitfalls of changing this very carefully

[2017-08-03 01:12] marcharper commented on #718
Also note the Fortran strategies are not (yet) pickable

[2017-08-03 02:53] dmanc commented on #1102
I would like to work on this but there is a strategy in axelrod_second.py already called "Tester". It is somewhat different than the description given here so i'm not sure if I should modify it or just make a new class.

[2017-08-03 07:19] drvinceknight commented on #718
To give some context to this:

- There is a side library called `axelrod_fortran` https://github.com/Axelrod-Python/axelrod-fortran
- It is a python interface to some original fortran code
- There is an issue open to reverse engineer and subsequently write those strategies in pure python and include them in `axelrod`

TLDR:

There is no need to worry about getting those strategies pickalable. It's

[2017-08-03 07:21] drvinceknight commented on #1102
That's great @dmanc!

I suggest the class name for this strategy be `Gladstein` (the name of the author) but then include `Tester` in the docstring as one of the other names (also clarify in the docstring that this is based on reverse engineering the Fortran code from the second tournament).

[2017-08-04 01:39] SplitInfinity commented on #1051
Hi @drvinceknight

I've been on vacation for the last month - sorry for not communicating this to the team! The strategy as I deciphered it from the Fortran provided is _completely different_ from the description in the Axelrod documentation (hence the confusion in my earlier posts on this issue).

**Status**
The strategy itself has been implemented, and basic tests against a cooperator, defector

[2017-08-04 06:22] marcharper commented on #1051
This repository, please. For the stochastic tests please set random seeds for reproducibility. If you have trouble finding suitable seeds try looping the test over `range(0, 1000)` or similar.

[2017-08-04 06:25] drvinceknight commented on #1051
Absolutely no problem :) Hope you had a great vacation.

Ok that's great to have all confirmed. :+1:

Not sure if you've seen but there's the option to pass a random seed to `versus_test`: http://axelrod.readthedocs.io/en/stable/tutorials/contributing/strategy/writing_test_for_the_new_strategy.html

So that lets you check behaviour for a fixed random path.

Please send it to this repo, the `axelro

[2017-08-04 07:00] drvinceknight opened #1109 "Specific strategy: Graaskamp"
This strategy is one of the strategies from Axelrod's first tournament. It is described here http://axelrod.readthedocs.io/en/stable/reference/overview_of_strategies.html#graaskamp as:

1. Play Tit For Tat for the first 50 rounds;
2. Defects on round 51;
3. Plays 5 further rounds of Tit For Tat;
4. A check is then made to see if the opponent is playing randomly in which case it defects for the res

[2017-08-04 07:24] drvinceknight commented on #718
@marcharper and I spoke and his point was that this should not break anything on *nix (whilst I thought he meant that we should ensure the Fortran strategies can be run in parallel on Windows - my mistake).

So... we should make sure that all strategies being pickalable is not a constraint on how parallelisation is done on *nix machines.

[2017-08-04 08:08] dmanc commented on #1102
Just to make sure, these two statements are equivalent right?

[2017-08-04 08:16] meatballs commented on #1102
After much debate, yes, we think they are equivalent.

The second statement is a direct description of what the fortran code actually does.

[2017-08-05 13:12] drvinceknight commented on #1102
Closed by #1110

[2017-08-05 13:12] #1102 closed

[2017-08-05 18:26] drvinceknight opened #1112 "Newly implemented Gladstein isn't correct"
Woops we should have checked this on @dmanc's #1110. Using `axelrod_fortran` (https://github.com/Axelrod-Python/axelrod-fortran):

[code]

In the 3rd round the strategy implemented by #1102 is defecting but the fortran strategy (https://github.com/Axelrod-Python/TourExec/blob/master/src/strategies/k76r.f) cooperates.

[2017-08-05 18:35] drvinceknight commented on #1112
I have found the bug and pushing the fix.

[2017-08-06 11:04] #1112 closed

[2017-08-06 11:16] drvinceknight opened #1114 "Some refinement and reduction of Hypothesis"
We've been getting what feels like a few more health warning type errors with hypothesis including indications of some depreciations of features we're using (we always pip install the latest hypothesis on travis). I'll take a look at this (just opening an issue to keep track). If we get any hypothesis type failures on travis could we copy the error message in to this issue to give me some pointers

[2017-08-06 13:02] drvinceknight commented on #1114
At: https://travis-ci.org/Axelrod-Python/Axelrod/jobs/261514887

[code]

[2017-08-07 02:18] SplitInfinity opened #1116 "test_repeat_tournament_stochastic is nondeterministic"
`test_repeat_tournament_stochastic` in `tests/integration/test_tournament.py` is non-deterministic. It passes sometimes and fails sometimes. While running all of the tests before submitting a PR (#1115), this test failed with the following error message:

[code]

I ran only this test again and it passed. I don't think my changes should have caused it.

[2017-08-07 07:23] drvinceknight commented on #1116
This test failed because you don't have a `reset` method in your strategy thus it is conserving state across the matches.

[2017-08-07 07:23] #1116 closed

[2017-08-07 11:03] drvinceknight commented on #1103
My two Summer students have said they might like to have a go at this one.

[2017-08-07 11:08] drvinceknight commented on #1103
(Am I imagining that you wrote somewhere that you wanted to pick this up @meatballs? No problem if so, we can pick something else up :)).

[2017-08-08 11:15] meatballs commented on #1103
No, I'm not intending to pick this one up. Go for it!!

[2017-08-08 19:06] eric-s-s commented on #718
i tested multiprocess.Join and original flavor.  The current code wins (on a big tournament it's about 50% faster.  If i don't pass a chunksize, it's even worse).  Whatever is done, there should be no conflict with @marcharper 's stipulation.

[2017-08-10 03:29] dmanc commented on #1105
I would like to implement this strategy but I have a couple of questions.

1. Would one defection count as a run of defections?
2. What is the 50-50 random sample?

[2017-08-10 08:33] drvinceknight commented on #1105
I believe so.

My assumption would be that this models the C/D as a draw from the binomial distribution (a coin flip). The probability is .5 (`p`) and the number of samples would be the current turn length (`N`). Using known formulae for the standard deviation we would then have:

[code]

So I understand this to mean that let's say we have a count of C/D to be 76/74. The total number of turns is 1

[2017-08-10 08:33] drvinceknight commented on #1105
This seems like a sensible link on the Binomial distribution: http://stattrek.com/probability-distributions/binomial.aspx

[2017-08-11 04:45] dmanc commented on #1105
Ah that makes sense, thank you.
 I've started working on the strategy and I have come up with some more questions.
1. "and it has not just started a run of defections", would this mean that if there is a run of defections [D, D, D] I will be able to give it a fresh start on the 2nd and 3rd defection given that the rest of the conditions hold?
2. Does a retaliation only occur when this strategy pla

[2017-08-11 06:53] drvinceknight commented on #1105
No my understanding is that "it has not just started a run of defections" means it has just cooperated.

Or if both players played D.

[2017-08-11 08:29] drvinceknight commented on #1047
@marcharper can you clarify what you still want done for this?

[2017-08-11 13:31] marcharper commented on #1047
I'll open a PR or close the bug if I'm happy soon

[2017-08-12 19:12] souravsingh commented on #1109
@drvinceknight I am interested in working on the issue.

[2017-08-13 15:36] drvinceknight commented on #1047
:+1:

[2017-08-13 16:29] drvinceknight commented on #1109
That would be great @souravsingh :+1:

[2017-08-13 18:16] souravsingh commented on #1109
@drvinceknight I have a question- Is this strategy related to the PR at #1115

[2017-08-13 18:18] drvinceknight commented on #1109
No.

That's related to:

[2017-08-15 01:14] marcharper opened #1119 "Minor refactor of __init__ and reset"
Often we set and clear `Player` attributes in our `__init__` and `reset` methods, resulting in duplicate code and sometimes subtle bugs when we miss something in the `reset` method (or leave it out altogether).

I think it makes sense to have either a special method called something like `set_default_attributes` that handle all the attribute initialization and clearing that is called by the defaul

[2017-08-15 06:08] drvinceknight commented on #1119
This sounds like a good idea to me. I'm happy with either, `set_default_attributes` sounds good.

[2017-08-16 10:50] #1105 closed

[2017-08-18 17:03] drvinceknight commented on #1119
I think there's actually a better way to do this. I've just experimented with modifier the base `axl.Player` class's reset method to:

[code]

Essentially using `self.__init__` as the `set_default_attributes` that you suggested. This has thrown up a couple of failures which I believe are reset bugs (for example `KnowledgeableWorseAndWorse` has no `reset` method). I'll look through the others and o

[2017-08-19 00:46] marcharper commented on #1119
Sounds good to me, as long as we impose a rule that no new attributes can be created outside of `__init__`. [Here's an example](https://stackoverflow.com/questions/3603502/prevent-creating-new-attributes-outside-init).

[2017-08-19 04:38] drvinceknight commented on #1119
Any particular reason why you think we need this?

On Sat, 19 Aug 2017, 01:46 Marc Harper <notifications@github.com> wrote:

[2017-08-19 06:52] drvinceknight commented on #1119
I've had a quick try and this doesn't immediately work (there are a number of areas where we take advantage of the mutability of Python classes, for example `set_match_attributes` and of course :roll_eyes: our cheating players). I also don't think it's necessary: we have tests for the reset method (in the base `Player` class) specifically for this.

I've opened #1121 which implements a parent `res

[2017-08-19 09:34] drvinceknight commented on #718
This is now fixed. Thanks @DavidCEllis for the initial work and effort and to @eric-s-s for a the great work hunting it down :clap: :+1:

[2017-08-19 09:34] #718 closed

[2017-08-19 15:22] marcharper commented on #1119
Ideally we don't create new attributes outside of `__init__` so we don't have the same issues with missing or incomplete resets, where an attributes is created and maintains state across resets. If the approach and tests guarantee that won't happen then we don't need to freeze attributes.

Another possibility would be for `reset` to simply use `clone` and make a new instance. It's not as efficient

[2017-08-19 15:33] drvinceknight commented on #1119
Yeah the approach implemented in #1121 ensures nothing persists (it does no worse than what we had before). A little while back when I re wrote the tests for reset a couple of bug of this genre got pointed out but they're not there anymore.

I suggest that goes in and then we can close this issue.

[2017-08-19 18:55] drvinceknight commented on #1119
I've just tried to quickly use `clone` and as I mentioned above have already tried freezing attributes: they both don't work immediately and require further work.

Whilst I don't believe they're needed (because they haven't been needed until now), I agree that freezing them would be a further way to lock down the reset method **but** I'm not planning on doing that right now.

Let's merge #1121 bec

[2017-08-20 00:24] marcharper commented on #1119
Sure. I'm very curious to hear why `clone` doesn't work though -- I would have expected otherwise, and suggests I'm missing something important.

[2017-08-20 08:21] drvinceknight commented on #1119
I'm taking a quick look, I think what I implemented was stupid (either way it's a nice thing to do on top of #1121).

[2017-08-20 08:27] drvinceknight commented on #1119
Hmmm... I think it's not a big deal but just plugging it in trips a bunch of tests. At some point I might chase them down.

[2017-08-20 15:23] #1119 closed

[2017-08-22 06:25] drvinceknight commented on #1114
Closed by #1121

[2017-08-22 06:25] #1114 closed

[2017-08-23 03:18] buckbaskin commented on #1093
@meatballs I spent some time today doing a first pass at implementing this strategy. I'd appreciate any feedback.

[2017-08-23 08:30] #1048 closed

[2017-08-26 16:05] #1047 closed

[2017-08-31 09:23] souravsingh commented on #1109
The description of the strategy looks very similar to what is written here- https://github.com/Axelrod-Python/Axelrod/issues/1051

[2017-08-31 09:59] drvinceknight commented on #1109
#1051 started out as this strategy but has since changed to be about a completely different strategy. That is why this issue has been opened.

[2017-08-31 12:45] #877 closed

[2017-09-04 06:56] drvinceknight commented on #1103
Closed by #1126

[2017-09-04 06:56] #1103 closed

[2017-09-14 03:17] souravsingh commented on #379
@drvinceknight The link to Mensa strategy shows a license which says that- "Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer."

Should we be working on adding the strategies to the library, considering the license is incompatible?

[2017-09-16 06:17] drvinceknight commented on #1109
I think we should implement (and clearly document in the docstring) the following change to rule 5:

IE it only checks if the opponent is playing TfT. In which case it responds by paying TfT otherwise it cooperates and randomly defects every 5 to 15 moves. I suggest that this late part is implemented as:

[2017-10-09 12:37] drvinceknight opened #1129 "Plot incompatibility with mpl 2.1"
Something seems to be broken with mpl 2.1, and possibly, the violon plots, working on a fix now :+1:

[2017-10-10 12:32] #1129 closed

[2017-10-29 05:19] eshansingh commented on #808
@souravsingh I'm looking to complete the whole thing. I'm taking up `graph.py` for now.

[2017-10-29 05:21] souravsingh commented on #808
@eshansingh Awesome. Go for it

[2017-11-12 05:57] gaffney2010 commented on #1095
K31R seems to be implemented as [GoByMajority](http://axelrod.readthedocs.io/en/latest/reference/all_strategies.html#axelrod.strategies.gobymajority.GoByMajority).

[Technically, K31R doesn't take a majority because the denominator will always be one too big, but it comes very close to being this solution and the docs say that its the same strategy.]

[2017-11-12 06:35] drvinceknight commented on #1095
Yup: have added the tick :+1: Thanks.

[2017-11-29 15:31] gaffney2010 commented on #1101
I'd like to take this one.

[2017-11-29 15:41] drvinceknight commented on #1101
Please do :+1:

[2017-12-08 14:21] meatballs commented on #138
Can we close this one now?

[2017-12-08 15:07] drvinceknight commented on #138
I'm happy to, the fingerprints give us the ability to check any given pair and the work @theref did gives us the ability to check more. I've got writing that (@theref's work) as a paper and exposing it a bit more (it involves training models etc which will need to be updated etc...) on my to do list so we might prefer to leave this issue open until I've done that? (But I'm also perfectly happy to

[2017-12-08 15:07] drvinceknight commented on #138
(I'm going with closing, feel free to reopen :+1:)

[2017-12-08 15:07] #138 closed

[2017-12-12 08:52] drvinceknight opened #1149 "Probable (certain?) implementation error in `axelrod_first.TidemanAndChieruzzi`"
@gaffney2010 has recently implemented `MoreTidemanAndChieruzzi` in #1147, there's a check there that look very similar to the `TidemanAndChieruzzi` strategy in `axelrod_first`.

This specific line, https://github.com/Axelrod-Python/Axelrod/blob/master/axelrod/strategies/axelrod_first.py#L676:

[code]

Aims to check "and the total number of defections differs from a 50-50 random sample
by at least

[2017-12-12 11:00] Nikoleta-v3 commented on #1149
I will grab this! :hand:

[2017-12-12 15:20] marcharper commented on #1149
Good catch :)

[2017-12-14 06:43] #1149 closed

[2018-01-03 16:46] drvinceknight opened #1156 "Add test for memory depth to TestPlayer"
All players have a `.classifier["memory_depth"]` attribute that defines their memory depth.

It would be good to test that this given number is indeed a lower bound on the memory depth of players. I suggest that one way to do this would be to add a method to `TestPlayer` that takes some selection of strategies, and creates a match (seeded it stochastic) and then plays the same match but truncate t

[2018-01-03 18:17] drvinceknight commented on #1156
Have opened #1157.

[2018-01-04 01:11] marcharper commented on #1156
Nice idea.

In the literature a strategy is memory-N if it only requires the last N rounds of history to work. Ideally this would be independent of the implementation; hopefully the test will catch any such errors. However if IIUC the test won't catch if the memory depth is too large, which is a lesser concern but still a concern I guess. I wonder if we can systematically test (in a one-off notebo

[2018-01-04 15:19] drvinceknight commented on #1156
Yeah although I think we're also talking about wanting the smallest N that gives this condition right? Which, indeed my test doesn't capture...

This would be great: a nice thing to have in the notebooks repo. Note my test also doesn't necessarily capture the possibility of some internal variables persisting.

[2018-01-04 18:12] gaffney2010 commented on #1095
K46R, Eartherly, was implemented before I started working on these.  -  Should have a check mark.

[2018-01-04 18:13] drvinceknight commented on #1095
Great, feel free to check them too (I believe anyone can?).

[2018-01-04 19:42] gaffney2010 commented on #1095
I think that I cannot.

[2018-01-07 16:12] #1156 closed

[2018-01-09 20:14] drvinceknight opened #1160 "Double check axl.Black's rank in docstring"
Currently docstring says 14th, however https://github.com/Axelrod-Python/axelrod-fortran/blob/master/src/axelrod_fortran/strategies.py#L278 has it listed at 15.

[2018-01-14 22:03] gaffney2010 commented on #1160
It should say 15; I'll fix it.

[2018-01-16 09:10] drvinceknight commented on #1160
Thanks for checking, took me 5 secs so I've opened https://github.com/Axelrod-Python/Axelrod/pull/1161 :+1:

[2018-01-17 08:27] gaffney2010 commented on #1101
This is resolved with #1146 .  I think that I'm unable to close issues.

[2018-01-17 08:43] drvinceknight commented on #1101
Cool, let's close this when #1146 is merged. FYI, if you include `closes #number` in the PR description, github automatically closes the issue when the PR is merged :+1: :)

[2018-01-17 08:45] drvinceknight commented on #1101
Sorry, I misunderstood. I see that #1146 is already in and this strategy is implemented! :+1:

[2018-01-17 08:45] #1101 closed

[2018-01-21 17:12] #1160 closed

[2018-02-20 20:28] samuelcwl opened #1168 "Possible Parallel Processing Strategies for Moran Process?"
I was looking into the `moran.py` and was wondering if there was a simple way to utilize parallel processing to speed up `mp.play()`?

Or, perhaps, is there anyway to translate results from `tournament.play()` into a Moran process?

Thanks.

[2018-02-21 04:47] marcharper commented on #1168
Not a simple way that I'm aware of. There's the "approximate Moran process" class that uses sampling to avoid replaying matches over and over and we also utilize caching in the deterministic Match case. It's possible that otherwise all the matches needed for each round could be computed in parallel, but the approximation works pretty well in most cases.

If you are running into specific matches th

[2018-02-22 00:57] samuelcwl commented on #1168
Thanks for this, @marcharper ! It was helpful.

Yes, would love to see your precomputed results - are you planning on publishing these results on the repo? Or is there any other way that I could access them?

[2018-03-07 07:47] drvinceknight commented on #1168
@samuelcwl there's a pre print of this work up on the arxiv that you can find here: https://arxiv.org/abs/1707.06920

The data @marcharper mentioned is linked to in there too. :)

[2018-03-23 12:06] Nikoleta-v3 commented on #1063
I am going to work on this one!

For implementing the two strategies (AON_2 and Delayed AON_1) the `Gambler` class could be used (as stated by @marcharper). I think it would be a good idea to have a generic `MemoryTwoPlayer` class which will just inherit from [MemoryOnePlayer](https://github.com/Axelrod-Python/Axelrod/blob/master/axelrod/strategies/memoryone.py) but will have a sixteen vector inst

[2018-03-23 12:15] drvinceknight commented on #1063
I like this idea (similar to the generic `ReactivePlayer` strategy).

[2018-03-23 12:45] Nikoleta-v3 opened #1169 "`MemoryOnePlayer` default player"
**Question:**

In the generic `MemoryOnePlayer` the following is stated:  https://github.com/Axelrod-Python/Axelrod/blob/47abcc5f33da0cb91d0ce64e0616162f758e8e7f/axelrod/strategies/memoryone.py#L17
Does that mean that the class was suppose to initialise a `four_vector` of (1, 0, 0, 1) if `four_vector` was not given?

If yes, then this is not implemented. It's an easy fix  **BUT** I am not sure I a

[2018-03-23 12:53] drvinceknight commented on #1169
I believe you're interpreting that sentence correctly and you've identified a small bug.

The init won't fail if a `four_vector` is not passed but it will not create a valid player: https://github.com/Axelrod-Python/Axelrod/blob/47abcc5f33da0cb91d0ce64e0616162f758e8e7f/axelrod/strategies/memoryone.py#L63

[code]

I suggest we either:

1. Add the intended default behaviour (including a test showing

[2018-03-23 14:57] Nikoleta-v3 commented on #1169
I agree with 2.

Should we raise a specific error if the vector is not given like `Transition probabilities not given` ?

[2018-03-23 19:38] drvinceknight commented on #1169
We haven't for other classes, so I think just leaving the standard Python error (which would kick in if there are no defaults) would be fine.

[2018-03-24 01:05] marcharper commented on #1063
Either way is fine with me.

[2018-03-24 01:08] marcharper commented on #1169
Good catch.

Since it's an abstract base player it's not in the standard list of players it's fine to initialize a default to throw an error. I'd suggest adding a warning to the user in the default case.

[2018-03-24 12:32] #1093 closed

[2018-03-25 17:09] Nikoleta-v3 commented on #1169
I had a look at the `memoryone.py` file.

If we choose to give an error when `four_vector` is not initialised (by just removing the `if` statement as suggested by Vince), several players that inherit from `MemoryOnePlayer` are going to break.
That is because of the way the have been implemented. Many of the are first initialised and then passed a `four_vector`.

**Example 1. WinStayLoseShift**
htt

[2018-03-25 17:11] Nikoleta-v3 commented on #1169
Also if we decide to have a default player with a message it would be as follow:

[code]

[2018-03-26 10:44] drvinceknight commented on #1169
Fine by me.

You suggestion looks good to me.

[2018-03-31 13:25] #1169 closed

[2018-04-06 13:41] #1063 closed

[2018-04-08 15:29] wenmingMeng opened #1172 "function 'compute_features' in ANN.py"
Thanks for your work. line 72 in ANN.py, 'my_previous_d = 0 if player.history[-1] == D else 0', i think it should be 'my_previous_d = 1 if player.history[-1] == D else 0'.
Is it a typo or you did that on purpose?  And is the weights trained under this code?
Looking forward for ur reply, thanks.

[2018-04-09 09:15] eric-s-s commented on #1172
The same line also appears on line 58.

[2018-04-09 09:29] wenmingMeng commented on #1172
You mean you did that on purpose?

[2018-04-09 14:26] drvinceknight commented on #1172
I believe that's a mistake. In practice (correct me if I'm wrong @marcharper) this won't have affected the training as the weights would have just adjusted.

I believe the line should in fact be:

[code]

I believe a PR should include the fix to lines 72, 58 and also retrain the strategy (so that https://github.com/Axelrod-Python/Axelrod/blob/master/axelrod/data/ann_weights.csv is updated).

No @e

[2018-04-09 14:31] wenmingMeng commented on #1172
Thanks a lot!

[2018-04-10 14:00] marcharper commented on #1172
I'm not sure -- we'd have to look back in the history to see what the original version does. If we do change it, there are three strategies that need to be retrained.

[2018-04-11 23:58] marcharper commented on #1172
Yeah no harm in retraining

[2018-04-13 10:33] drvinceknight commented on #1172
Cool, I'll pick this up.

[2018-05-02 15:30] drvinceknight opened #1174 "Potential `5.0.0` release"
This issue is to capture a body of work that would change the scope of the library to become:

This is mainly motivated by the potential to add the ultimatum game as another type of game to the library but as it would require an api change we are thinking of taking advantage and making other modifications:

## Tasks

- [ ] Generalize various components to allow for additional game types, like the

[2018-05-02 15:33] drvinceknight commented on #1174
- [ ] Move to a `src/axelrod` dir structure.

[2018-05-05 13:22] drvinceknight opened #1175 "Namespace reorganisation"
Let's use this issue to identify the best strategy for the namespace reorganization mentioned on #1174

[2018-05-05 20:45] marcharper commented on #1175
My first inclination is to have `axl.GAME.*` for each game supported by the library, containing strategy and scoring functions. That cleanly splits IPD and Ultimatum. However there are games like Coordination and Hawk-Dove that are in some sense just variations on IPD. So a variation could be to have `axl.ipd.strategies`, `axl.ultimatum.strategies`, etc. and retain the history methods and scoring

[2018-05-07 15:29] drvinceknight commented on #1175
This sounds good to me @marcharper.

Minor point: Hawk Dove is just a variation of the scoring function right (so technically already supported)? In essence the `ipd` submodule is a "framework" for 2 by 2 games.

I agree in principle, in terms of details: I think it would be nice if the scoring function was a method on the Game class itself? (This could probably be a conversation in itself.)

Yeah

[2018-05-08 03:53] marcharper commented on #1175
Yeah the library already supports HD and Coordination via changing the game matrix, though it's technically not the IPD any more. Also a scoring/utility function also doesn't have to be of the form f(x) = Ax or based on a game matrix, it's just the most common setup. So IMO an arbitrary function acting on history (and maybe other parameters like the population mix) is the most flexible form for sc

[2018-05-08 06:56] drvinceknight commented on #1175
Yup I completely realize the scoring function is not of the form Ax: it's not technically like that in the library at the moment right? The common mathematical definition of a game is a mapping from strategy space (which is not restricted to a continuous space) to the Reels so having the definition follow through in the library would be nice.

For the IPD the game is not *just* the RPST values but

[2018-05-08 13:58] marcharper commented on #1175
sounds good to me

[2018-05-11 10:08] drvinceknight commented on #1172
Currently running:

[code]

@marcharper let me know if that's not right.

[2018-05-11 15:32] drvinceknight opened #1176 "mypy update has broken type hints"
[code]

Working on this now (as it'll cause CI to break on incoming PRs).

[2018-05-12 11:40] marcharper commented on #1172
Looks right to me

[2018-05-14 08:37] #1176 closed

[2018-06-15 13:27] pujaniceman commented on #808
are all the files completed here?

[2018-06-15 13:58] drvinceknight commented on #808
They pretty much are, if there's a file that is said to be complete here but it doesn't look like it is let us know :)

[2018-06-18 17:55] langner opened #1181 "Possibly move play method away from Player"
It might be more natural to put `play` onto the game class.

[2018-07-06 12:16] drvinceknight opened #1183 "Library is not compatible with `prompt_toolkit>=2.0.0`wait for update to released ipython to fix."
With `prompt_toolkit` version 2.0.3 we get an import error:

[code]

Note that in #1182 I've pinned the version of `prompt_toolkit` in `requirements.txt`. Once this is fixed we should unpin.

[2018-07-06 12:31] drvinceknight commented on #1183
(FYI: Looks like `prompt_toolkit` version 2.0.3 breaks ipython so probably no rush to "fix" this.)

[2018-07-12 13:54] Nikoleta-v3 opened #1185 "`all_strategies` tournament fails"
Hello everyone! @benb4747 one of our students working with @drvinceknight  and me came across a problem when he was using the `axl.all_strategies`.

For example, when executing the following code:

[code]
The following happens:

[code]

[2018-07-12 14:55] drvinceknight commented on #1185
[code]

Looks like something to do with Geller vs Lookerup. Here's a match between these two players which reproduces the bug:

[code]

[2018-07-13 13:37] Nikoleta-v3 commented on #1185
@drvinceknight  it seems like it's not just `axl.Geller` that breaks.
How can we access the list of matches?

[code]

[2018-07-13 13:43] drvinceknight commented on #1185
Yeah it's probably a few of the cheating ones, the traceback is still indicating it's in the `geller` module though:

[code]

You can throw a print statement in to the tournament to print the matches as they're happening although probably easier is to just do something like:

[code]

That'll crash on the ones that break.

[2018-07-13 13:43] drvinceknight commented on #1185
(You can even throw that in a `try/except` and only print on the exception.)

[2018-07-17 01:29] JessieMB opened #1186 "How do you change the payoff values?"
Can you change the default payoffs to something else?

[2018-07-17 05:34] drvinceknight commented on #1186
Hi @JessieMB, this can be done as follows:

[code]

There is more information about this at the this documentation page: http://axelrod.readthedocs.io/en/stable/tutorials/advanced/games.html

Hope that helps.

[2018-07-17 05:34] #1186 closed

[2018-07-17 12:51] JessieMB commented on #1186
Thanks, just what I needed! :D

[2018-07-18 16:24] drvinceknight opened #1187 "Inconsistant CI failures"
I'm not entirely sure what's the cause here but there seem to be inconsistant failures of some tests (a restart usually gets them to pass), I have not been able to reproduce this locally.

Here is the traceback from a failed run on appveyor:

[code]

My hunch is that this might be due to dask but I'm not sure. Leaving this issue open to document more as and when it happens.

[2018-07-30 09:43] #1172 closed

[2018-08-14 09:25] drvinceknight commented on #1185
Running:

[code]

Outputs:

[code]

[2018-08-14 14:25] drvinceknight commented on #1187
I believe this might be related to `prompt_toolkit` now (see https://github.com/ipython/ipython/issues/10871). This implies that it's also related to #1183.

[2018-08-14 17:35] drvinceknight commented on #1187
I don't believe this is the case anymore (following numerous tests on #1191)

[2018-08-14 17:41] drvinceknight commented on #1187
Some investigation, note the 8 `.`s before `Tcl_AsyncDelete`:

[code]

Introducing a `print` statement in `unit/test_tournament`:

[code]

gives (locally where I am completely unable to reproduce the error):

[code]

This makes me believe that the sporadic failures could be coming from that test...

[2018-08-14 20:31] drvinceknight commented on #1187
In https://github.com/Axelrod-Python/Axelrod/pull/1191/commits/23fe3b66661838ad9e5d8b2056e745e80e5db4fa I added another print statement to the previous test and that failed too with neither statements being output: https://ci.appveyor.com/project/drvinceknight/axelrod/build/1.0.2541/job/5vd4uuy5tj1xr17y

This makes me think it's nothing to do with the actual test itself but I'm unsure...

[2018-08-15 06:36] #1185 closed

[2018-08-15 14:07] drvinceknight commented on #1187
My `export ...` was stupid as it doesn't work on windows but I've used your suggestion @marcharper on https://github.com/Axelrod-Python/Axelrod/pull/1191 and reset the build >5 times with no failures so I'll clean that up and suggest that that fixes things :) :+1:

[2018-08-15 15:27] drvinceknight commented on #1187
Looks like I cried victory too soon @marcharper, my latest push still has the failures despite using `agg` as a backend.

[2018-08-15 15:29] drvinceknight commented on #1187
Ignore that: still building. :man_shrugging:

[2018-08-15 15:34] langner commented on #347
Latest numpydoc docs are at https://numpydoc.readthedocs.io/en/latest/

[2018-08-15 15:48] drvinceknight commented on #347
If/when someone works on this could I suggest we don't include variable types for cases where type annotations have been included?

[2018-08-15 16:08] langner commented on #347
I thought about doing this while rereading he library. Started with actions in #1193. Vince, while doing that I did think that types are redundant in cases where annotation are already there. In that case what would the format for returns be? Let's look at `actions_to_str` as a concrete example, if needed.

[2018-08-15 16:17] drvinceknight commented on #347
Awesome! Would be really cool if you could pick this up :)

So currently we have:

[code]

My suggestion would be to match numpy style when the type is omitted: see `4. Parameters` of https://numpydoc.readthedocs.io/en/latest/format.html

which has:

[code]

So in our case I think this would be something like:

[code]

[2018-08-15 16:30] drvinceknight commented on #1187
Hooray pretty sure #1191 is good to go :+1:

[2018-08-16 02:32] marcharper commented on #347
Feel free to improve the type hints. For example in this case it's a tuple of Actions, which can be specified more precisely than `tuple` IIUC.

[2018-08-16 06:56] drvinceknight commented on #1187
So it doesn't look like I've quite got this right: https://travis-ci.org/Axelrod-Python/Axelrod/jobs/416631876:

[code]

[2018-08-16 07:04] drvinceknight commented on #1187
I believe https://github.com/Axelrod-Python/Axelrod/pull/1194 fixes that.

[2018-08-17 09:22] #1187 closed, assigned to nobody

[2018-08-21 08:33] drvinceknight opened #1200 "Test failures on Geller"
On #1198  and #1197 a specific test is failing on different OSs:

[code]

[2018-08-21 09:43] drvinceknight opened #1202 "Documentation does not build under sphinx v1.7.7"
From travis:

[code]

In #1201 I've fixed `v1.7.6` in `.travis.yml` but I think that's a temporary fix as readthedocs might update to `v1.7.7`.

[2018-08-29 04:08] #1168 closed

[2018-08-29 04:14] #302 closed

[2018-08-29 06:49] drvinceknight commented on #1202
Readthedocs is now building with `1.7.8` so ours docs no longer build:

[code]

I'm investigating.

[2018-08-30 12:59] #1202 closed

[2018-10-24 11:41] drvinceknight opened #1209 "Tests fail for matplotlib 3.0.0"
This has temporarily been solved by #1208, we should at some point update and lower bound mpl in the requirements.

[2018-10-24 15:19] langner commented on #1209
And it's still not clear to me whether this discrepancy in `PlotTest` is WAI or a bug in mpl 3.0.0. WDYT?

[2018-10-24 16:00] drvinceknight commented on #1209
Not too sure, I haven't plotted it with `3.0.0` yet, to see how things look?

[2018-10-26 17:13] Nikoleta-v3 opened #1211 "ReadME citations not up to date"
Hello! So looking at the `Publications` on the `README.md` they do not seem to be up to date with: https://github.com/Axelrod-Python/Axelrod/blob/master/citations.md.

Could we possibly just redirect people there? @marcharper I know that you are collecting the citations.
Do you want to let me know how and I can close this issue?

[2018-10-26 23:01] marcharper commented on #1211
If you prefer redirecting that's fine with me. I was just checking Google Scholar occasionally and wasn't necessarily trying to keep the readme in sync with citations.md.

[2018-10-26 23:11] marcharper commented on #1211
Speaking of which here are some new ones:
* https://arxiv.org/pdf/1809.10007.pdf
* https://link.springer.com/chapter/10.1007/978-3-030-00350-0_30

and one that cites the strategy list in the docs:
* https://link.springer.com/chapter/10.1007/978-3-319-91467-1_24

[2018-10-29 04:07] marcharper opened #1213 "Numpy warnings in tests"
numpy deprecation warning:

[code]

and several other lines. Just run `./test` to see them

[2018-10-29 04:08] marcharper opened #1214 "Hypothesis deprecation warnings"
[code]

and many other lines. Run `./test` to see them.

[2018-10-29 11:13] drvinceknight opened #1217 "Library no longer compatible with ipython"
After #1212 I now get:

[code]

This is because:

[code]

Should we revert #1212 and wait for ipython to be compatible with a `prompt-toolkit>=2.0.0` or is there a better solution?

[2018-10-29 11:46] drvinceknight commented on #1217
On the `revert-prompt-toolkit` branch I've pushed 35bac5a which reverts the `prompt_toolkit` part of #1212. With that and after `pip install -r requirements.txt`: `ipython` now works.

If we want that as a fix I'll open a PR and then we should open #1183 again and perhaps change the title to be clear that it's worth waiting for ipython to update their `prompt_toolkit` dependency.

[2018-10-30 00:40] marcharper commented on #1214
That's fine, just documenting it here. If you use a conda installation without adhering to our requirements you get these warnings.

[2018-10-30 00:43] marcharper commented on #1217
^ sounds good to me.

[2018-10-30 02:16] marcharper commented on #1211
Also our [latest paper](https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0204981) is officially live now at PLOS :)

[2018-10-30 10:09] #1213 closed

[2018-10-30 12:52] #1211 closed

[2018-10-31 00:14] #1217 closed

[2018-11-07 14:46] yashaslokesh commented on #1109
I've started working on this strategy, this would be my first contribution to OSS.

[2018-11-19 22:49] danilobellini commented on #813
I've created one in Brazilian Portuguese: https://github.com/danilobellini/notebooks/blob/master/2018-11-10_Axelrod/2018-11-10_Axelrod.ipynb

Shall I make a PR based on it? The stuff from there I may add in a PR are:

- The `Detective` and `Simpleton` strategies (which I wrote in Python based on the Nicky Case example)
- The notebook itself (which is mainly a "Getting started, step by step", but i

[2018-11-20 11:59] drvinceknight commented on #1183
Following a discussion with @danilobellini on #1223 it looks like the latest conda release of jupyter/ipython now uses `prompt_toolkit>=2.0.0`.

[code]

Could be worth reapplying #1212 but we should make sure it works and doesn't break common tools.

[2018-11-20 12:16] danilobellini commented on #1183
#1212 didn't work here with prompt_toolkit v2.

[code]

That's fixed on #1223.

[2018-11-20 12:20] drvinceknight commented on #1183
I confirm I get the same error as @danilobellini described.

[2018-11-20 12:32] danilobellini commented on #1183
Ubuntu is still using [prompt_toolkit v1.0.15](https://packages.ubuntu.com/search?keywords=python3-prompt-toolkit) and [IPython<=5.5.0](https://packages.ubuntu.com/search?keywords=ipython). I don't encourage people to perform `sudo pip3 install axelrod`, but these people won't be able to use the latest version of the package (and probably won't notice that for some time) if it stops supporting pro

[2018-11-20 12:36] drvinceknight commented on #1183
I'm not against this approach, If we go with it:

- We should open an issue to `Remove support for prompt_toolkit v1 when ubuntu updates` (or similar);
- Skip the coverage of `v1` related code in #1223 using `# pragma: no cover` (https://coverage.readthedocs.io/en/coverage-4.2/excluding.html)

[2018-11-20 14:45] drvinceknight commented on #1183
Closed by #1223.

[2018-11-20 14:45] #1183 closed

[2018-11-20 14:46] drvinceknight commented on #1183
Thanks @danilobellini :+1:

[2018-11-20 14:49] drvinceknight opened #1224 "Remove support for prompt_toolkit v1 when systems have updated"
In #1223 support has been added that ensure the library works with both v1 and v2 of `prompt_toolkit` (a dependency of the human player). The support of v1 is not currently tested and once ubuntu + other systems move to v2 by default we should remove support for v1.

See discussion at #1183 for more details.

[2018-12-26 18:33] gaffney2010 commented on #1174
I'd like to help with this.

[2018-12-27 06:20] gaffney2010 commented on #597
I've been giving this some thought, and I think I have an approach to analyze a FSM for memory depth.  [Would work for other games too.]  I describe my idea below.  If it seems good, I could code it up.

My idea:

The memory is the length of memory needed to determine which state we're in.  The algorithm I'm thinking about will take each state and walk backward along the edges that are coming into

[2018-12-27 18:36] marcharper commented on #597
Would it handle a case where the first move fragments the graph into two subgraphs, both of which cannot be escaped? In that case the memory depth would be infinite, and there's a cycle as you described.

However if the entire graph was just a cycle that goes through CCD regardless of the opponents action, then the memory depth is at most three (maybe two?) so we can't conclude a cycle implies inf

[2018-12-27 18:56] gaffney2010 commented on #597
I think that the algorithm can handle these cases.

Let's look at the second example, a CCD cycle.  Let's say that the states are 1, 2, 3.

1 --C--> 2 --C--> 3 --D--> 1

My algorithm starts building these trees of incoming edges for each node.  [In this example, the trees are straight lines.]:

1: D
2: C
3: C

Because 2 and 3 are "tied," we have to keep going.

1: D
2: C, D
3: C, C

There are no m

[2018-12-27 22:19] marcharper commented on #597
SG and thanks for the explanation.

[2018-12-28 22:15] gaffney2010 commented on #597
I've been thinking about this more, and thinking about how we could prove it.

It occurs to me that it's somewhat trivial if the FSM has a finite memory.  Say that our algorithm says that the memory is x.  We know that we can always figure out the state if we have x memory, because the algorithm produces a set of rules for determining.  [In the example above, we know that given D, C, we know we're

[2018-12-29 02:23] marcharper opened #1230 "Tests for Fortran reimplementations"
We have a number of strategies from Axelrod's original tournaments reimplemented and the original strategies in axelrod-fortran and we test them at review time with fingerprints, which is a reasonably good comparison.

I think it makes sense to go a step further and have hypothesis-based tests to help ensure that
* the implementations are in fact correct
* the implementations don't diverge

[2018-12-29 03:01] marcharper commented on #597
What about the following example?

Suppose the FSM contains two cycles of length n and m where m = k * n for integers m, k, and n, and the cycles produce the same sequence (with the m cycle producing the sequence k times, and the sequence may be cyclicly permuted). For simplicity let's consider a FSM that has a CD cycle and a DC cycle, and that one can get into either cycle with either an even or

[2018-12-31 00:15] gaffney2010 commented on #1175
I think we should try to make some of our abstract player classes work for multiple games.  Players like HMMPlayer, FSMPlayer, SequencePlayer, LookerUp, and Gambler.  But these will need to be reworked for different types of actions.

[2018-12-31 01:32] gaffney2010 commented on #1175
Unrelated, I'm a little bit worried about how we name some of the classes.  Game will end up being just a scoring function, and it may cause confusion with the word we use to distinguish IPD from the Ultimatum game.

Similarly, Action is a little bit misleading.  For the Ultimatum game, i.e., what we're calling an Action, for the receiver of the ultimatum, would actually be a range of values that

[2018-12-31 03:12] marcharper commented on #1175
I started on something like this a while back, see this branch for the [ultimatum game](https://github.com/Axelrod-Python/Axelrod/commits/ultimatum). An action in that case is a real number between 0 and 1 inclusive (the proposed split).

Ideally we'd have a generic set of abstract base classes that could run most of the operations with need for knowledge of the details. For example, to run a tour

[2018-12-31 03:51] gaffney2010 commented on #1175
It wouldn't though, right?  Look at the code for TFT:

[code]

If the opponent was an instance of Player, designed for RPS called AlwaysPlayRock, then opponent.history[-1] would be R.  The if statement would fail, and TFT would return C.  Where does the error get thrown?

I think if instead of "def strategy(self, opponent: Player) -> Action" we had "def strategy(self, opponent: IpdPlayer) -> IpdAc

[2019-01-01 20:17] marcharper commented on #1175
I would hope that one can't compare values of different enums, but if so then we'll need to enforce somewhere that the actions returned by a strategy are valid actions for that strategy. I agree that the type signatures should follow the same rules but they aren't enforced at runtime.

[2019-01-03 09:12] drvinceknight commented on #1230
We currently include tests in `axelrod-fortran` for each implemented strategy (https://github.com/Axelrod-Python/axelrod-fortran/blob/master/tests/test_player.py#L118). I like the idea of testing them again/more somehow here but I am not sure about including the `axelrod-fortran` library as a dev dependency.

[2019-01-03 17:00] drvinceknight commented on #597
I've worked my way through this and I think it looks right. I tried to come up with some other examples that might break it but with no success.

Very neat @gaffney2010 :+1:

:+1: This would make for a neat little paper indeed.

:+1:

:+1:

[2019-01-04 02:18] marcharper commented on #1230
Great, I didn't realize we had tests on `axelrod-fortran` for this. If we wanted we could have travis run the tests for `axelrod-fortran` without creating a hard dependency for the use of this library, but that might be more trouble than it's worth.

[2019-01-05 12:11] gaffney2010 commented on #597
I guess this fails in the following regard:

You may have a complex graph, and you would need a memory of N to know what state you're in.  However, if the two paths out of every state say to C, then this is memory 0.  More tricky, you could use easily write a 4-state TFT, and my algorithm would fail.

I've assumed that we must know what state we're in.

What I want to actually do is tie-break the

[2019-01-30 19:03] drvinceknight commented on #597
Closed by #1233 :) thanks @gaffney2010 :+1:

[2019-01-30 19:03] #597 closed

[2019-02-10 22:20] #1230 closed

[2019-02-10 22:32] marcharper opened #1240 "5.0.0 discussion -- Abstract base classes for players"
I've been working on a number of separate branches and problems and would like some feedback on a proposal before I sink a lot of time into it.

For the namespace reorganization for Axelrod (#1175) we need an abstract player class. A lot of the core functionality of the class can move out (cloning for example); the IPD class just needs to additionally track cooperations, defections, and the state

[2019-02-11 00:36] marcharper commented on #1174
Let's make sure to maintain a "5.0" changelog as we go. Just something simple that explains, for each 5.0 PR, the changes made.

[2019-02-11 14:39] #1209 closed

[2019-02-12 09:41] drvinceknight commented on #1240
This all sounds very good.

Could the `MutablePlayer` class not just be the base class? I suspect you've thought about this and there's a good reason, it's not immediately apparent to me.

For the axelrod library this would be on the `master` branch right?

Is there merit in perhaps bringing the dojo in to the axelrod library itself? I'm generally more of a fan of keeping them separated *but* give

[2019-02-12 16:00] marcharper commented on #1240
Mutable could be the base class I suppose. This would be on the master branch.

We may want to fold in the dojo once the rest of this is done. I hadn't thought about that yet.

Starting with the namespace reorg the changes would be on the 5.0.0 branch.

[2019-02-13 18:45] drvinceknight commented on #1240
Sounds good to me @marcharper.

[2019-02-16 16:26] langner commented on #1240
What was the intended difference between `Player` and `MutablePlayer`?

[2019-02-16 19:25] marcharper commented on #1240
Mainly that most Players aren't naturally mutable. Some of the generic classes like LookerUp and the FSM player are, but the ones implemented from Axelrod's tournaments generally are not. One can imagine wanting to check if a player is mutable, which could be at the method class level or whether certain methods are implemented, or a new classifier entry.

[2019-03-23 01:43] marcharper commented on #1181
@drvinceknight @langner

Post PR #1241 I'm thinking that history should be moved out of the Player class as well and be managed by the Match class.

First reason is simply efficiency / separation of concerns. A Player shouldn't have to care and all its strategy method needs access to is the shared history of play, which all players are now tracking in the History class, so we can simply move it ou

[2019-03-23 09:26] meatballs commented on #1181
I like the sound of this. Very clean.

[2019-03-25 18:06] drvinceknight commented on #1181
Yup, sounds good to me too! :+1:

[2019-03-25 18:08] drvinceknight commented on #1181
A long coming demise.

[2019-04-10 00:03] #1109 closed

[2019-05-17 11:25] marnixlenoble opened #1245 "Can't reproduce Axelrod's results"
If I create a tournament with axelrods first strategies Tit for Tat comes in 8th whereas it should be the winner as per the original outcome.

[code]

[2019-05-17 14:10] drvinceknight commented on #1245
Hi @marnixlenoble, there are two reasons for this:

1. You are not currently running with all the strategies from Axelrod's tournament (https://axelrod.readthedocs.io/en/stable/reference/overview_of_strategies.html#axelrod-s-first-tournament) as `Graaskamp` is missing. It has however been implemented in https://github.com/Axelrod-Python/Axelrod/pull/1244 but I've just not gotten around to do a new

[2019-05-18 01:06] marcharper commented on #1245
Also, how many iterations did you run? There's no guarantee that TFT will win every possible instance of the tournament.

[2019-05-19 13:45] marnixlenoble commented on #1245
Thank you for the speedy response. @drvinceknight

[2019-05-19 13:45] #1245 closed

[2019-07-12 23:09] rjsu26 opened #1247 "Page not found error in a link in the readthedoc webpage"
in **[reference/Tournaments/Stewart and Plotkin’s Tournament (2012)](https://axelrod.readthedocs.io/en/latest/reference/overview_of_strategies.html#axelrod-s-second-tournament)**  as shown in the snapshot below:
--------------------------------------------------------------------------------------
![image](https://user-images.githubusercontent.com/32229344/61162772-e7a26d00-a527-11e9-8bb5-7c33c95c

[2019-07-12 23:17] rjsu26 opened #1248 "Hyperlink not implemented well in readthedocs"
![image](https://user-images.githubusercontent.com/32229344/61162996-110fc880-a529-11e9-8859-4b0a4e1ab1b0.png)
-----------------------------------
**### The implementation of hyperlink, written as [elsewhere], is not done well.
Link to page:https://axelrod.readthedocs.io/en/latest/reference/overview_of_strategies.html#hard-tft**

[2019-07-14 02:06] marcharper commented on #1248
IIRC HARD_TFT is taken from another library (PRISON) in the tournament in the Stewart reference. Are you saying that this is not the original reference? I don't think that prisoners-dilemma.com is the likely origin of the strategy.

[2019-07-14 02:08] marcharper commented on #1247
Thanks, we'll try to find the correct link. It appears that the journal has moved it.

[2019-07-14 02:14] marcharper commented on #1248
BTW, feel free to submit PRs to fix broken links. Thanks for taking interest in the library!

[2019-07-14 14:10] rjsu26 commented on #1248
I meant to say that the way of hyperlink here:
[keyword](its link)
seems to be erraneous.
It should had been [[keyword](link)]

[2019-07-14 14:37] rjsu26 commented on #1248
I am willing to implement those many remaining strategies of the second IPD. Is there anyone else working on that?

[2019-07-15 05:30] marcharper commented on #1248
You can claim one on #1095. Note that we are able to import the strategies via the original Fortran code. See [here](https://github.com/Axelrod-Python/axelrod-fortran).

[2019-07-17 06:53] rjsu26 commented on #1248
Okay, working on them.

[2019-07-17 06:54] rjsu26 commented on #1248
please comment on this.

[2019-07-18 01:25] marcharper commented on #1248
The link looks like it's broken. As I said above feel free to submit a PR to fix it, otherwise one of the maintainers will fix it eventually.

[2019-07-23 13:29] marcharper opened #1250 "CoC not rcognized by Github"
As reported in  #1246, when navigating through `Insights > Community` Github lists the project as not having a code of conduct, which it does, but not in the expected location. It doesn't seem possible to supply an alternate location.

[2019-08-07 05:20] marcharper opened #1251 "Default Tournament data processing doesn't include self-plays"
Although the tournament does play matches for players against (clones of) themselves, this data is excluded from the later rankings and other computations.

According to a report on gitter, Axelrod's first tournament included self-play, so we may want to add an option for this in the data processing step.

[2019-08-12 12:51] drvinceknight commented on #1251
Yeah, good call :+1:

[2019-08-12 12:54] drvinceknight commented on #1250
I can have a go at moving it to the expected location?

[2019-08-13 02:58] marcharper commented on #1250
Sure.

[2019-09-01 21:46] marcharper opened #1252 "Many Test Runtime Warnings"
result_set.py:427: RuntimeWarning: invalid value encountered in true_divide
  np.nan_to_num(np.array(self.initial_cooperation_count) / interactions_array)

result_set.py:413: RuntimeWarning: invalid value encountered in true_divide
  / sum(map(np.array, self.match_lengths))

[2019-09-01 23:36] marcharper opened #1253 "Travis is broken"
Link to [recent breakage](https://travis-ci.org/Axelrod-Python/Axelrod/jobs/579328517).

[2019-09-02 06:22] drvinceknight commented on #1253
I've restarted the build but get the same error, the only thing I can find online is: https://travis-ci.community/t/xenial-not-wanting-to-start-xfvb/2397

Perhaps try adding:

[code]

to the travis.yml file?

Here's a PR that seems to fix this for another project: https://github.com/natritmeyer/site_prism/pull/368/files

[2019-09-02 23:10] marcharper commented on #1253
Thanks! Looks like that is the fix.

[2019-09-02 23:34] #1253 closed

[2019-09-04 13:06] marcharper opened #1257 "Investigate changes to the core computational loop"
Now that all strategies can be pickled, we may be able to simplify the match generating code and the batch processing of matches. This may also improve the efficiency of tournaments.

[2019-09-04 17:03] drvinceknight commented on #1257
Something I have prototyped is using dask for the parallelisation which would clean things up nicely and also allow for the use of any dask scheduler (including distributed ones).

[2019-09-08 17:41] marcharper opened #1258 "Add list of up for grabs research topics"

[2019-09-08 17:43] marcharper opened #1259 "Update Moran process initialization"
Currently the Moran process distributes a population about a graph in sorted node order, which isn't obvious from the API. A user may want more control regarding exactly which strategy is placed where, particularly on non-symmetric graphs. A simple solution would be to not sort the nodes and allow the user to specify a dictionary for the population rather than a list, mapping players to specific n

[2019-09-26 21:31] Laiot commented on #1259
I'd like to help or at least to try.

I need time to understand Axelrod, I'm getting through the documentation right now.

Is there some chunk of documentation I should focus more about this issue?

[2019-09-28 04:10] marcharper commented on #1259
This issue is contained to just [moran.py](https://github.com/Axelrod-Python/Axelrod/blob/master/axelrod/moran.py) so you shouldn't need to understand much of the rest of the library. Take a look at that file and let us know if you have questions.

[2019-10-04 03:36] marcharper opened #1264 "Remove / Refactor Player properties following History class addition"
The properties for cooperations, defections, etc. add a lot of function call overhead that can be removed by changing to player.history.cooperations (and so on). Since this is an API breaking change let's do it in 5.0.0.

[2019-10-04 03:44] marcharper opened #1265 "Move reinforcement algorithms in from dojo"
Following #1256

[2019-11-05 16:17] marcharper opened #1272 "Collect and add slides and presentations to a page"

[2019-11-13 13:26] drvinceknight opened #1273 "Possible Implementation errors for first tournament strategies"
@id428 has written a detailed pdf (attached to this issue)
[First Tournament Strategies.pdf](https://github.com/Axelrod-Python/Axelrod/files/3841326/First.Tournament.Strategies.pdf)
 with their cross examination of the strategies which is attached to the issue. Here is a summary they posted on gitter:

[2019-11-13 16:35] marcharper commented on #1273
(1) I think we should put a big disclaimer on this file that says that the first tournament source code doesn't exist and some of the strategies are not sufficiently and unambiguously described to ensure that they match the original tournament. These are not necessarily implementation "errors" as much as "choices".

(2) Since there have been other errors in Axelrod's original works (like the numbe

[2019-11-13 16:42] marcharper commented on #1273
A meta comment on the second round source -- many of the strategies explicitly say that they match the "round one" version, and I'm not sure if we should assume so if such a comment is not present. However I'm inclined to do so since having some source code reference is better than not having it at all.

[2019-11-13 17:16] id428 commented on #1273
You got some very good points there. We were aware of the source code for the second tournament but we know literally nothing about Fortran and understood nothing of it, which is why we decided to instead focus on Axelrods Paper and its references/citations.
Take what you deem valuable from our comments. We just thought you might have overlooked some things could use these remarks. If you have goo

[2019-11-14 00:11] marcharper commented on #1273
Thanks for looking through the code. I think we could indicate where we've used the code from the second tournament as a guide, and we can fix the missing 49 for sure.

Unfortunately otherwise, unless some source code or very accurate descriptions surface, we'll never really know how some of the strategies in the first tournament were implemented or if the descriptions accurately match the actual

[2019-11-14 11:15] drvinceknight commented on #1273
Yup good idea :+1:

---

Before taking each strategy point by point I think some of the confusion comes from the following general problem:

So far in the implementations of the strategies from Axelrod's two tournaments, a strategy has been named after it's author. We should allow for a differentiation between strategies from the first and second when a difference is known (like the source code of

[2019-11-14 18:24] drvinceknight commented on #1273
It looks like at some stage we had some of these implemented correctly, here's a very early `Groffman`: https://github.com/Axelrod-Python/Axelrod/blob/e1d8407724a8449c07d5978919aa3e953ba1f74b/axelrod/strategies/axelrod_first.py#L177

[2019-11-15 03:00] marcharper commented on #1273
I'm not sure we can trust the published descriptions. Without code we don't have a alternative, but I'd defer to the second tournament code when available even if there are small differences with the published description.

How about `GrofmanFirst` and `GrofmanSecond` or `Grofman` and `GrofmanV2`?

IMO we should translate the Fortran and just have one version. It's not obvious to me how it's doing

[2019-11-15 13:24] drvinceknight commented on #1273
I think we should consider the first tournament and second tournament as different sets of strategies unless specifically instructed not to. I would suggest that the authors are actually quite likely to have modified their strategy given what they learnt from the first tournament. We should implement the first tournament strategies using the descriptions but highlighting that we're making assumpti

[2019-11-15 16:21] marcharper commented on #1273
I agree that it may be likely that some authors changed their strategies but I also find the descriptions suspect. Some of the strategies have very complicated sequences of conditionals that are simply not well captured in a few lines of prose. My guess is that tweaked code is closer to the original than a description (but that's ultimately just an opinion).

Perhaps we should agree upon rules of

[2019-11-16 09:30] drvinceknight commented on #1273
This sounds like a perfect way forward! :+1:

[2019-11-16 09:33] drvinceknight commented on #1273
Do you have a preference about the naming convention?

[2019-11-16 18:23] marcharper commented on #1273
Either is fine with me. I guess I slightly prefer Grofman and GrofmanV2 since in some cases there may only be a v1, but I don't feel strongly about it. In any case we can add a list of `axelrod_first_tournament_strategies` along side the short run time strategies and other lists.

[2019-11-16 19:01] drvinceknight commented on #1273
Something corresponding to "Version" is probably my least favourite option as I think it makes it sound (very subjectively) like they could be slight tweaks (which in practice they could be of course but are not necessarily).I'd prefer something corresponding to "Tournament". I agree that this is a small point - the only tangible real difference I see to having a prefix is autocompletion but the a

[2019-11-16 20:15] marcharper commented on #1273
sgtm

[2019-11-20 20:06] drvinceknight commented on #1273
@marcharper I'm not sure I see where you see that? Looking at https://github.com/Axelrod-Python/TourExec/blob/master/src/strategies/grasr.f I don't see it.

Looking at the Fortran and https://github.com/Axelrod-Python/Axelrod/pull/1115/files#diff-c699c4cf8dfbb23732ec03401295fedeR12 it doesn't match the explanation in the text but has some clear differences so unless I'm missing something I think G

[2019-11-21 06:59] marcharper commented on #1273
Earlier in the [original file](http://www-personal.umich.edu/%7Eaxe/research/Software/CC/CC2/TourExec1.1.f.html) it says

[code]

(There are a few other lines that also say "same as round one ...")

If there's a mismatch with the description then we'll have to use our best judgement. It seems more likely to me that the description is incorrect than the comment (assuming it's a "copy/paste" situati

[2019-11-21 07:55] drvinceknight commented on #1273
Right I see that now: thanks!

[2019-11-21 08:08] drvinceknight commented on #1273
There are 5 strategies with the "same as round one" annotation:

- Rapaport's TfT
- Nydegger
- Downing
- Graaskamp
- Smith's Tit For 2 Tats

*but* Smith's TF2T's wasn't in the first tournament so it is possible that "same as round one" doesn't mean what we think...

Just noting this for now (in case I'm missing something) - will carry on prepping this PR and we can discuss there when there's actua

[2019-11-22 07:51] marcharper commented on #1273
Interesting. For Downing it says "TYPED BY AX, 3/27/79 (SAME AS ROUND ONE REV.DOWNING)", but Downing wasn't revised until after the first tournament, so indeed it appears not to mean quite what we thought.

[2019-12-01 07:28] drvinceknight commented on #1273
I've finished working on a first attempt at this: https://github.com/Axelrod-Python/Axelrod/pull/1275

I think the "first tournament" might actually mean the first time the SECOND tournament was run with some of this Fortran code having been re-edited (?) in the 90s (I think)... So as you'll see on my PR I've only gone based on the description in Axelrod's paper and also the papers he cites there.

[2019-12-04 06:23] marcharper commented on #1272
https://github.com/danilobellini/notebooks/blob/master/2018-11-10_Axelrod/2018-11-10_Axelrod.ipynb

[2019-12-05 21:40] drvinceknight opened #1277 "Setting a seed is ineffective when parallelising"
So I just stumbled upon the following. If you run this code snippet twice:

[code]

You will not get the same results.

`axl.demo_strategies` include `axl.Random` so this is due to the seed not being effective.

If you run the same code but in series multiple times:

[code]

then you do get the same results.

This is because the `axl.seed(1)` becomes redundant as jobs don't all necessarily finish

[2019-12-06 02:04] marcharper commented on #1277
Building on your last bullet -- we can exhaust the match generator so we know how many matches there will be, generate that many random seeds in the `Tournament class` (in bulk with numpy), zip those sequences together and pass the seeds into the `Match` class as you suggest. We can also save the seeds for each `Match` since the results for each match should be reproducible (and then the entire to

[2019-12-09 07:22] drvinceknight commented on #1277
Yeah that sounds like a good idea @marcharper. I really like the idea of saving the seeds for each match. Do you think we might have some slight issues about memory from exhausting the match generators (for very large tournaments) ?

One final idea I had, and this is more a question, I don't know enough about pseudo random numbers know: do the seeds need to be random? Would the pseudo randomness t

[2019-12-09 16:26] marcharper commented on #1277
We couldn't start with zero every time, but otherwise from a randomness perspective I doubt incrementing the seeds like so would cause significant issues. Nevertheless it's probably better not to introduce structure into the random values themselves -- it's hard to say for sure that the structure of random generator won't have some hard to detect effect on the results.

We could run into memory is

[2019-12-09 16:28] drvinceknight commented on #1277
Right, so the idea would be to exhaust the generator if it doesn't have a known size?

[2019-12-10 02:32] marcharper commented on #1277
Yeah, I guess we could still run into memory issues just from the number of seeds as well, but anything less than 1000 players should be alright.

[2019-12-10 09:49] drvinceknight commented on #1277
Cool. I can have a go at this unless you'd like to?

[2019-12-10 16:30] marcharper commented on #1277
Sure. I thought about it a bit more and I think that caching to disk is probably the way to go since it avoids any issues with memory. But I'll try to remain open-minded to other solutions.

[2019-12-11 08:50] #1273 closed

[2019-12-11 09:58] drvinceknight commented on #1273
@id428 thanks again for bringing this to our attention, #1275 has been merged in to master and fixes the implementation errors. I'm going to try and put a new release together today (if I don't have time I'll get it done tomorrow).

[2019-12-11 10:00] drvinceknight commented on #1277
Sounds like a sensible approach if memory becomes an issue :+1:

Let me know if you'd like to chat anything over :+1:

[2019-12-18 16:40] drvinceknight opened #1279 "Revise `RevisedDowning` to match k59r"
It looks like they do not quite match at the moment.

This particular build: https://travis-ci.org/Axelrod-Python/axelrod-fortran/builds/626159813?utm_source=github_status&utm_medium=notification

shows that it failed to reproduce the same behaviour against `Alternator`.

[2020-01-17 18:59] drvinceknight opened #1280 "Add preprint by @nikoleta-v3 and I to citations"
https://arxiv.org/abs/2001.05911

[2020-01-17 22:22] Nikoleta-v3 commented on #1280
I will address this now and correct the one for the literature paper as well.

[2020-01-19 22:52] #1280 closed

[2020-02-04 09:05] drvinceknight opened #1283 "Pandas 1.0.0 breaks the result set."
When running the tests for the result set:

[code]

with pandas `0.25.3` everything passes but with `1.0.0` we get errors:

[code]

This has happened on #1282.

[2020-03-02 01:31] marcharper opened #1285 "ZeroDivisionError in FirstByDowning"
There's an implicit assumption that `self.defections != 0` when `turn > 3` in the calculation of `beta` but if the `Match` is noisy this can be violated:

[code]

[2020-03-02 01:32] marcharper commented on #1285
This was found by hypothesis.

[2020-03-02 01:50] marcharper opened #1286 "ResultsSet __eq__ fails unexpectedly"
Specifically I found an example (2 player tournament with 2 turns) that has `nan` eigenmoses results, and the comparison of `nan` to `nan` fails in `__eq__`.

[2020-03-02 03:39] marcharper opened #1287 "Test Cleanup"
Our test files are inconsistent with imports. For example to use the `Match` class in tests, various files use any one of

[code]
[code]
[code]

I believe the first is our general preference. It would be nice to update the test files and any others to be consistent.

[2020-03-02 04:25] marcharper commented on #1283
I'm using Pandas 1.0.1 and I don't seem to get this error with the following command:
[code]
However I do get many warnings of the form:
[code]

[2020-03-02 05:41] marcharper commented on #1285
In #1288 I replaced the denominator with `max(self.defections, 1)`. That removes the error but I'm not sure if it's precisely the right patch.

[2020-03-02 05:42] marcharper commented on #1265
Following the resolution of #1277, we'll need to ensure that this is done in a way that is seed reproducible.

[2020-03-02 05:45] marcharper commented on #1240
Note for this one I went with `EvolvablePlayer` instead of `MutablePlayer`.

[2020-03-02 09:40] drvinceknight commented on #1287
I agree :+1:

[2020-03-02 09:40] drvinceknight commented on #1283
That's strange... I'll investigate further!

[2020-03-02 10:01] drvinceknight commented on #1286
Cool, could you paste the inputs here (assuming it's a specific 2 player tournament).

Tagging #1283 so we know that there might be slight overlap.

[2020-03-02 10:04] drvinceknight commented on #1285
Yeah I think it should be:

[code]

There's obviously a lot of ambiguity here but to keep things consistent with the interpretation currently on offer in the docstring I think that's the correct way to go.

[2020-03-02 14:51] marcharper commented on #1286
It was this test but with only two players and two turns:

[code]

[2020-03-02 14:56] drvinceknight commented on #1286
Ah ok cool, hypothesis should print out the specific inputs for which it failed (it stores them in a db ) when run and we should add that in as a test case when we fix.

[2020-03-02 15:28] marcharper commented on #1286
I think it's not wrong so much as in that case there were not enough vengeful actions to have a well-defined eigenmoses score, hence the NaN values. We'll just need to check for NaN or == instead of just ==.

[2020-03-02 16:57] drvinceknight commented on #1286
Yeah sounds like it should be relatively easy to sort out :)

[2020-03-04 08:57] #1285 closed

[2020-03-11 16:36] marcharper opened #1293 "Add instructions on building docs to contributing docs"
It's currently in the travis config but not in the docs anywhere that I can see.

[code]

[2020-03-11 16:46] marcharper commented on #1293
Also I had to

[code]

[2020-03-11 19:09] drvinceknight commented on #1293
:+1:

[2020-03-13 13:51] #1247 closed

[2020-03-13 13:51] #1248 closed

[2020-03-13 13:53] #1252 closed

[2020-03-13 16:41] drvinceknight opened #1294 "Possible incorrect implementation of Gradual"
I've had an email from Jean Paul Delahaye  one of the authors of the original paper from which Gradual was implemented:

If I remember correctly @Nikoleta-v3 and I worked together on implementing Gradual. We weren't completely sure about some specific parts of the implementation (from the description in the paper [[Beaufils1997]_](http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.42.4041) fr

[2020-03-13 17:04] marcharper commented on #1294
Does the original code still exist?

[2020-03-13 19:20] drvinceknight commented on #1294
Have asked :+1:

[2020-03-13 23:45] Nikoleta-v3 commented on #1294
In the paper 2  tournaments are reported, a round robin one and an ecological one. I have managed to reproduce the results of the paper for the round robin tournament without altering our implementation of `Gradual`.

Paper: http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.42.4041&rep=rep1&type=pdf

[code]

These are normalised scores of `Gradual` against all players. These match the paper

[2020-03-15 18:32] drvinceknight commented on #1294
Apparently the code is here https://github.com/cristal-smac/ipd, I haven't looked through it et. We don't know if that's the exact same code as the one used for the paper (no archive).

We should test the modification they suggest and see if that gives the same results as well (in which case we should change it).

If it doesn't we could change the name (perhaps `Gradual -> Gradual96`?)  to reflect

[2020-03-16 06:21] marcharper commented on #1294
How do we square Nik's reproduction with the supposed difference in implementation?

[2020-03-16 07:49] drvinceknight commented on #1294
Two possibilities:

- The strategy with the implementation described in the email gives the same reproduction. This is the easiest case to deal with.
- It does not which would indicate that the strategy used for the reported results was not quite the one they thought it was (the code for the paper might have had a bug in it and perhaps has been fixed since). In this. case we'd just need to clarify

[2020-03-16 14:53] marcharper commented on #1294
Ok, but....

that seems unlikely though given that Defector / ALLD is in the tournament. I guess we'll find out!

[2020-03-16 16:49] drvinceknight commented on #1294
Ah yes good point. Let's see but yeah very unlikely... I'll go back to the author when we've run our own implementation.

[2020-03-16 18:18] drvinceknight commented on #1294
So here's a modified `Gradual`, it's actually based super closely on the code in their repo (see docstring for links):

[code]

If we run this against `Defector` we get the output as described in the email:

[code]

However if we run the same tournament as @Nikoleta-v3 did above:

[code]

the results no longer match.

I'll drop this in an email to the author and see what they say but I suggest we

[2020-03-16 19:45] pmathieufr commented on #1294
Dear all, some details about Gradual
First it cooperates, then as soon as the other one betrays, it betrays as many times as it have been betrayals in the past, then it cooperates twice.
Against Defect :
gradual  C D C C D D D D C C D D D D D D D D D D C C D D D D D D D D D D D D D D D D D D D D D D C C D D D D   ... 983

per_D    D D D D D D D D D D D D D D D D D D D D D D D D D D D D D D D D D D

[2020-03-17 09:28] drvinceknight commented on #1294
My mistake: it looks like I'd pasted the interactions incorrectly:

[code]

Looking at the tournament scores you posted
here it is again with the same ordering as yours:

[code]

We still get a mismatch of results in against `SuspiciousTitForTat` which corresponds to `mistrust` but everything else matches. Perhaps `SuspiciousTitForTat` is not the same as your current `mistrust` (although it did ma

[2020-03-17 09:39] drvinceknight commented on #1294
Looking at https://github.com/cristal-smac/ipd/blob/master/src/strategies.py#L147 your current mistrust if not our `SuspiciousTitForTat` but it corresponds to a memory one strategy with four vector: `(1, 0, 0, 0)` and opening move `D`.

Running the tournament with that and the modified `Gradual` gives:

[code]

Now the results match yours.

Out of curiosity, I ran the same tournament with our orig

[2020-03-17 10:11] drvinceknight opened #1297 "Moving CI to GitHub actions"
I've moved all my CI to [GitHub actions](https://github.com/features/actions) for some of my other repos. For example https://github.com/drvinceknight/Nashpy.

---

Advantages:

- Testing across multiple OSs in one spot (less moving parts so less maintenance)
- Seems to be faster

Disadvantages:

- We would no longer have a coveralls 100% badge in the README. Warning: if anyone wants to spend time

[2020-03-17 11:08] meatballs commented on #1297
Seems a damned fine idea and I couldn't really care less about the badge.

[2020-03-17 16:00] marcharper commented on #1294
I would be in favor of the following:

* Keep the existing Gradual (perhaps rename it) and add the "correct" one so that we can reproduce the 1996 tournament
* Document along side the other tournaments this reproduction, and the issues that arose described above
* Add the latest version of mistrust, if desired

[2020-03-17 16:02] marcharper commented on #1297
SGTM. We could always manually insert the badge image since we enforce 100% coverage.

[2020-03-17 16:46] drvinceknight commented on #1297
Good idea!

[2020-03-17 16:51] drvinceknight commented on #1294
Can I clarify @marcharper: the current Gradual is the one that reproduces the 1996 results in the paper. Is that what you meant?

I agree that we should definitely keep the current one, it's just a question of which name to we change:

1. We end up with `Gradual` (the current one that reproduces the 1996 paper results) and `ModifiedGradual` (the one I've coded in this issue)
2. We end up with `Leg

[2020-03-17 16:52] drvinceknight commented on #1294
I'll close #1296 for now until we've decided what way to go :)

[2020-03-17 17:25] marcharper commented on #1294
I'm not too concerned about the names as long as they are well-documented.

For the tournament reproduction I was thinking [here](https://github.com/Axelrod-Python/Axelrod/blob/master/docs/reference/overview_of_strategies.rst) maybe? or as a tutorial?

[2020-03-17 17:27] marcharper commented on #1297
Maybe out of scope but the main github page for the library might benefit from a light once-over. Maybe move the link to the docs higher, update the maintainers ...

[2020-03-17 17:32] drvinceknight commented on #1294
:+1:

Yeah there is a good idea :+1:

[2020-03-17 17:33] drvinceknight commented on #1294
I just remembered that we had documented some of this before but in the test for `Gradual`: https://github.com/Axelrod-Python/Axelrod/blob/master/axelrod/tests/strategies/test_titfortat.py#L459

We have the following unit test:

[code]

[2020-03-22 17:59] Erenhub opened #1298 "Is that possible to use that library for public good games?"
Hi,

I'm just wondering if there is any option to change the payoff matrix in order to use this library for other games rather than just prisoners dilemma.

I tried to update game.py but get some error, is there any shortcut to do this?

Regards.

[2020-03-22 21:52] Erenhub commented on #1298
apperantly i can, sorry

[2020-03-22 22:25] marcharper commented on #1298
Hi, it's something we're planning for a 5.0.0 version -- more games and game types. Can you say more about what you want to do, explicitly?

[2020-03-24 17:07] drvinceknight commented on #1294
I'll pick this up.

[2020-03-25 16:02] drvinceknight commented on #1294
I've opened https://github.com/Axelrod-Python/Axelrod/pull/1299

[2020-03-27 10:45] #1294 closed

[2020-03-29 20:27] marcharper opened #1302 "Make LRPlayer evolvable"
This would allow us to evolve a "best" ZD strategy for various objectives, rather than a best memory strategy (that may or may not be ZD).

[2020-03-30 08:02] drvinceknight commented on #1302
:+1:

[2020-03-30 09:08] sudarshan-parvatikar commented on #1287
I'm working on this and I had a few questions.
In case of multiple imports as in `test_actions.py`, which has
[code]
Should the `from axelrod.action import ...` import be left as it is, or should it be refactored too?
if yes, how should the syntax look like after refactoring, for this example?

[2020-03-30 10:20] drvinceknight commented on #1287
I'd prefer it to be refactored but I don't think we have a "convention" yet for this particular example. Perhaps:

[code]

?

[2020-03-30 10:40] sudarshan-parvatikar commented on #1287
So, just to be clear, this is fine
[code]
Then, wherever ` UnknownActionError, actions_to_str, str_to_actions` are used, it'd be replaced as:
`self.assertRaises(UnknownActionError, Action.from_char, "c")` --> `self.assertRaises(axl_actions.UnknownActionError, Action.from_char, "c")`

?

[2020-03-30 10:52] drvinceknight commented on #1287
That's what I'm suggesting yes but I wouldn't be surprised if through discussion and review we come up with something much nicer... Essentially I'm saying, that's what I would go with but it might need to be changed.

[2020-03-30 11:07] meatballs commented on #1287
How about just using the general preference and its resulting namespace? e.g.

[code]

It's one fewer characters in the assertion, fewer import lines and consistent throughout.

[2020-03-30 11:18] sudarshan-parvatikar commented on #1287
I think this is more simpler than having 2 `import package as xyz` syntax.
So, using @meatballs method is far more feasible. If that's fine, I can continue updating it.

[2020-03-30 13:12] drvinceknight commented on #1287
Yup, @meatballs's suggestion is better :+1: (you might need to tweak an `__init__.py` file here or there).

[2020-03-30 14:51] marcharper commented on #1287
IMO it's also fine in this case to use

[code]

particularly if any one of the imported values is frequently used. FYI in Python, a.b.c incurs module lookups (dictionary lookups) each time it's invoked (since the module or it's values could be dynamically overwritten). This is why people sometimes fix a reference outside of a loop:

[code]
This can be a surprising speed up in some cases.

[2020-03-30 16:05] drvinceknight commented on #1287
I'm fine with that as well :+1:

[2020-03-30 16:16] sudarshan-parvatikar commented on #1287
I am not that proficient in python, so I'll refactor it the way you think will be efficient, since at the end of the day, the code maintenance should be easy. 😅

[2020-03-30 16:30] marcharper commented on #1287
Sure, also I had a typo in the example, just fixed it

[2020-03-30 17:46] #1286 closed

[2020-03-30 18:02] sudarshan-parvatikar commented on #1287
@marcharper Great! . To summerize, I'll get started on refactor as :
1. update 'import axelrod as axl' in all files.
2.  leave `from axelrod.xxx import yyy, zzz` as it is.

[2020-03-30 18:12] marcharper commented on #1287
great, thanks!

[2020-03-31 17:40] sudarshan-parvatikar commented on #1287
I refactored the code, but on running `python -m unittest discover` I get the following error:

[code]
I tried some solutions SO, etc., but I can't seem to fix it. (This article)[https://comeroutewithme.com/2018/02/24/python-relative-imports-and-unittests-derp/] explains this problem, but I can't seem to get it. Can anyone give me some pointers?

[2020-03-31 18:28] marcharper commented on #1287
Hi, I think it's either an installation issue or the tests are being run from the wrong directory. The output on the PR from Appveyor gives different (more expected) test failures.

Try running ./test in the axelrod directory, which should run the test commands without having to install your modified library.

[code]

[2020-03-31 20:25] Erenhub commented on #1298
Hi Marc, thanks for returning this message.

I was planning to model a new game which was mainly about social contract between individuals about coronaspread, however i decided to stick with public good game model, which is more easier than creating a new model.

I am open to discuss new ideas as a researcher in complex systems,

Regards.

[2020-04-01 12:37] drvinceknight commented on #1298
A smile aside: in case you haven't seen this, if you want to change the values of R,S,P,T used in the stage game, there's information on how to do this here: https://axelrod.readthedocs.io/en/stable/tutorials/advanced/games.html

[2020-04-01 17:08] marcharper commented on #1298
Generically we don't have multiplayer public good in the library that would be split across multiple users; that would be a new game type. OTOH you could use a PD game in a Moran process (e.g. cooperate is to physically distance) and see what the maximum subpopulation size of defectors grows to before the cooperators supress it (if possible).

Can you describe what kind of model you had in mind in

[2020-04-06 10:18] drvinceknight commented on #1287
Closed by #1308

[2020-04-06 10:18] #1287 closed

[2020-04-08 08:55] drvinceknight opened #1311 "Read the docs is failing to build"
This isn't the simplest thing to fix because I can't seem to force a build of a given branch no `readthedocs.io` but I'm working on it.

Error message:

[code]

[2020-04-08 09:22] gaffney2010 opened #1312 "Run black on all existing code"
If we're using black to format, I'd prefer to run on existing code.  If we format as we go it can be harder to see why we're changing something.  It caused me some merge conflicts when I ran black, changing lines, which were unchanged in origin, then were changed.

[2020-04-08 09:25] drvinceknight commented on #1312
I'm in favour.

We can add a check to the CI to check all files are in the required format (for example: https://github.com/drvinceknight/Nashpy/blob/master/.github/workflows/config.yml#L34).

We'd need to add something to the contribution docs as well.

Something to consider though is the relatively massive PR that @marcharper has on the go #1288 this would potentially make that really painful to

[2020-04-08 10:01] gaffney2010 commented on #1312
Sounds good.  I will work on after #1288 goes through.

[2020-04-08 10:28] #1311 closed

[2020-04-08 14:22] drvinceknight opened #1315 "Add support for python 3.8"
This requires modifying https://github.com/Axelrod-Python/Axelrod/blob/master/.github/workflows/config.yml#L13:

[code]

to become:

[code]

And also modifying `setup.py` to reflect that `3.8` is also supported: https://github.com/Axelrod-Python/Axelrod/blob/master/setup.py#L31

I had a quick try and some tests failed. I know that the library works on 3.8 so it's just a question of figuring out wh

[2020-04-08 14:25] drvinceknight opened #1316 "Add test for OSX"
Now that we've moved to GitHub actions it's relatively easy to include a specific test for OSX. This requires modifying https://github.com/Axelrod-Python/Axelrod/blob/master/.github/workflows/config.yml#L12 so that:

[code]

becomes

[code]

I tried this briefly on one of the tests seemed to hang on `OSX`. I suspect it was a hypothesis test but this would need to be investigated.

[2020-04-08 14:28] drvinceknight opened #1317 "Add a timed weekly/monthly (?) build?"
With GitHub actions it's relatively simply to run a timed build of the CI. This would potentially alert us to bugs that appears as other libraries update. Here is an example of a weekly build on one of
my class repos: https://github.com/drvinceknight/cfm/blob/master/.github/workflows/config.yml#L7

I don't necessarily think we need this but it's a relatively simple thing to implement. Any thoughts

[2020-04-08 14:32] meatballs commented on #1317
If it's simple to do, why not? It gives a bit of warning that something has gone wrong.

[2020-04-08 14:35] drvinceknight commented on #1317
What do you reckon, monthly? Weekly?

[2020-04-08 14:35] meatballs commented on #1315
We did say some while back that we'd support the current python version and one prior, so dropping 3.6 would fit that policy.

However, that was as a result of wanting to use features that only came in with 3.6. I don't think we've wanted to use dataclasses or a walrus operator yet, so there isn't the same pressure to drop 3.6.

We should perhaps change the policy (not sure if it's written anywher

[2020-04-08 14:44] drvinceknight opened #1319 "Removing appveyor"
Appveyor has been running our Windows CI but since #1309 is now done we don't need it.

If I understand correctly, removing appveyor cannot be done on a branch by branch basis and I need to remove it on the appveyor service itself. The process will be:

- Delete the `Axelrod-Python` repo on appveyor (at which point I believe all appveyor CI will stop)
- Open a PR to delete the `appveyor.yml` file

[2020-04-08 14:48] drvinceknight opened #1320 "Add some form of documentation of 100% coverage"
With #1309 we no longer have a coveralls badge on the README saying that we have 100% (but the CI is setup to ensure we do). We could:

- Include our own (static) badge that just says 100%
- Just write a sentence in the README and/or the contribution docs
- Both of the above
- Something else?

I don't really have a preference.

[2020-04-08 15:26] marcharper commented on #1312
#1288 is going to have a lot of merge conflicts anyway, and it's waiting on another PR, so feel free to work on whatever regardless.

[2020-04-08 15:54] meatballs commented on #1317
Weekly seems ok to me.

[2020-04-08 16:28] drvinceknight commented on #1317
Cool, I'll throw that in a PR.

[2020-04-08 18:57] marcharper commented on #1320
However is fine with me as long as it's obvious that we maintain a fully tested library. It's important, a lot of effort, and it sets us far apart from most other research libraries.

[2020-04-08 22:03] Erenhub commented on #1298
Hi. Sorry for the late delay, I was dealing adapting to remote working.

I want to analyse different scenarios of spread between people under different strategies such as social distancing, herd immunity or mixed.I just tried it between 2 agents for fun

As far as i remember moran process is regarding to population, which i am interested here is payoff of the individuals and their strategies. As y

[2020-04-09 10:17] #1317 closed

[2020-04-09 10:52] gaffney2010 commented on #1279
I took at look at this.  It looks like when the fortran was translated to python, PAST was changed to self.history[-1].  Because of where it's set in the fortran, it should actually be self.history[-2].

https://github.com/Axelrod-Python/TourExec/blob/master/src/strategies/K59R.f#L35
https://github.com/Axelrod-Python/Axelrod/blob/master/axelrod/strategies/revised_downing.py#L55

I'm going to run t

[2020-04-10 07:25] gaffney2010 opened #1324 "Suppress warnings and output on tests"
When we run all the unittests, it prints out stuff besides just the test results.  I think it would be nice if this wasn't there.  It would be cleaner.  And unexpected new warnings would more obviously surface.  Specifically:

test_memoryone and test_memorytwo produce UserWarnings that we can fix or suppress.  test_human produces outputs; these can probably be silenced.

[2020-04-10 08:50] gaffney2010 opened #1326 "Run isort utility on all files"
Similar to #1312.  The contribution guidelines should say this should be run on every file.  We can run on all files and possibly add a check.

[2020-04-10 10:59] drvinceknight commented on #1326
There might be a slight problem that arises, in my experience on other projects checking isort and black sometimes don't seem to agree (if I recall). If it works though I'm 100% in favour (and will need to go back to my other projects...)! (If we have to choose I think we go with black).

[2020-04-10 16:42] #1279 closed

[2020-04-10 17:16] #1319 closed

[2020-04-12 18:23] marcharper opened #1328 "New Games"
Some new games to consider supporting, and what the API will look like:

* Prisoner's Dilemma variants, e.g. Optional Prisoner's Dilemma, PD with punishment
* General asymmetric nxn matrix games, e.g. asymmetric PD, rock paper scissors, matching pennies, [diner's dilemma](https://en.wikipedia.org/wiki/Unscrupulous_diner%27s_dilemma), etc.
* Ultimatum (see [branch](https://github.com/Axelrod-Python

[2020-04-12 18:24] marcharper commented on #1298
See #1298 for a more general discussion.

[2020-04-12 18:24] #1298 closed

[2020-04-14 15:38] drvinceknight commented on #1328
Another one for the list:

- Coordinated Cooperation - based on this paper https://www.frontiersin.org/articles/10.3389/fevo.2018.00062/full (I've got a bunch of code set up for this here: https://github.com/drvinceknight/coord_coop)

Perhaps "ideally" is the key word here as perhaps this would be a pity if it became a hurdle. What do you reckon?

[2020-04-16 08:35] gaffney2010 commented on #442
I've started some work on this.

[2020-04-16 08:42] gaffney2010 opened #1334 "Set up logic for memory_depth of FSM"
Following #1300, we can make logic to run get_memory_from_transitions on the transitions variable in FSMs in order to get memory depth.

[2020-04-16 21:33] gaffney2010 commented on #1240
Creating an abstract player still needs to be done right?  I would like to tackle this.

My thought is that we can call the abstract player AbstractPlayer, the current implementation FsmPlayer, and somewhere in __init__ say that Player=FsmPlayer.  This makes the change non-API breaking, and in a future change, we can make Player=AbstractPlayer.

Because this doesn't break API, dojo would be okay,

[2020-04-16 22:24] marcharper commented on #1240
I'm fine with you taking a stab at it. Let me record some thoughts here that may help.

One thing we change do for the IPD player, which is API breaking, is that the `strategy` method should only take the opponent's history as an argument (or a joint history class, if we wanted to make one). This makes the cheating strategies impossible since they rely on manipulating the opponent's code. We might

[2020-04-17 00:17] gaffney2010 commented on #1240
I can't think of a way to make backwards compatible.  How do we roll out an API change?  We can take both arguments for a while with a deprecation warning, maybe...

Actually as I think more about this, we may need to break API to support multiple players and to support different result sets...

I thought I saw that you made a History class, but it's not being passed in to strategies.

I will wait

[2020-04-17 01:28] marcharper commented on #1240
We can break the API, but it's best to make the breaking changes as a batch, and with a new major release version. I think we won't really know the best collection of classes until we work through some of the new game types.

[2020-04-17 10:41] drvinceknight commented on #1240
Yeah, our previously discussed plan was to make all `5.0.0` PRs to a `5.0.0` branch and at some point in the future merge that in to `master`.

[2020-04-21 05:35] marcharper opened #1336 "Retains history classifier"
In the course of #1288 I added a test for Match reproducibility given a random seed. The strategy Darwin fails this test because it retains history at the class level. While this is an exception now, it's easy to imagine future games or variations that would intentionally retain history (in a way that's not considered cheating). So perhaps it makes sense to have a classifier field for "retains_his

[2020-04-21 05:38] marcharper commented on #1336
This is the test:

[code]

[2020-04-21 07:58] drvinceknight commented on #1336
Sounds good to me :+1:

[2020-05-06 05:40] Abhishek-kumar-k commented on #718
AttributeError                            Traceback (most recent call last)
<ipython-input-2-aae2e2683109> in <module>
    288         "patience": 5
    289     })
--> 290     run(args)

<ipython-input-2-aae2e2683109> in run(args)
    212         t_start = time.time()
    213
--> 214         train_loss, train_auc = train_model(mrnet, train_loader, epoch, num_epochs, optimizer, writer, current_lr,

[2020-05-20 17:32] Erenhub opened #1345 "Player is not evolvable. Use a subclass of EvolvablePlayer."
Hi,

I would like to see how non-evolvable strategies behave in moran process compared to evolvable ones, however when i try to give players array in a mixed way i got this error. Is there a way to create such an environment?

many thanks

[2020-05-20 22:51] marcharper commented on #1345
Can you paste your code here? My guess is that you need to use the rate type of mutation, only the "atomic" type should require an EvolveablePlayer.

[2020-05-25 20:46] Erenhub commented on #1345
Of course, i'm adding it with the error as screenshot
![errored](https://user-images.githubusercontent.com/47353633/82842371-e8df4d00-9ee1-11ea-9a38-ba20de89e481.png)

[2020-05-26 19:50] marcharper commented on #1345
A few issues:
* `axl.Cooperator` and `axl.Defector` need to be initialized `axl.Cooperator()` and `axl.Defector()`
* the mutation type has to be set to `atomic`. See the [docs here](https://axelrod.readthedocs.io/en/stable/tutorials/further_topics/evolvable_players.html)
* `EvolvablePlayer` is a generic abstract base class with no real functionality. You'll need to choose  a specific one like the

[2020-05-27 21:27] Erenhub commented on #1345
Hi Marc,

Now i am getting ''TypeError: Player is not evolvable. Use a subclass of EvolvablePlayer.''.

code:

C = axl.Action.C
#player1=axl.Defector  i cant give a player as argument below :(
ev1=axl.EvolvableFSMPlayer(num_states=1,initial_state=0, initial_action=C)
playerswithevolable=[]
playerswithevolable.append(ev1)
playerswithevolable.append(axl.Defector())
playerswithevolable.append(axl.Coo

[2020-05-27 22:04] marcharper commented on #1345
That's what I expected. @drvinceknight any thoughts? Maybe we could have some kind of wrapper that makes any player generically evolvable in a trivial way for cases like this.

[2020-05-29 15:46] Erenhub opened #1348 "How does Moran.py converge every time?"
Hi,

I want to ask an academic question, How did you manage that each moran process to converge in your code?

Thanks in advance.

[2020-05-29 17:48] Erenhub opened #1349 "The meaning of Ecological Variant"
Hi,

I created a new game and tested the cooperator and defector strategies. I used to eco.reproduce(200) function in order to analyse ESS and get this table:

![ecologialvariant](https://user-images.githubusercontent.com/47353633/83289377-a40f2b00-a1ed-11ea-8c4a-5cab1eac0cf3.png)

But i am still not sure if that means ''Defection'' strategy became Evolutionary Stable after 200 iteration?

Thanks

[2020-05-29 17:49] Erenhub commented on #1349
++ what could be the reason when i use Moran.py  for 2 defector and 18 cooperator i only have 20 cooperator left after 57 iteration

[2020-05-29 20:16] marcharper commented on #1348
(1) Mathematically, if the mutation is the transitional kind, one player type will eventually dominate the population. The process exits when one type fixates. Technically this could take an arbitrarily long time, but for practical population sizes it will converge.

The "atomic" mutation type is not guaranteed to converge.

(2) The payoffs are determined by the outcome of matches, so any change t

[2020-05-29 20:18] marcharper commented on #1349
The ecological model is from R. Axelrod's original work, IIRC. In the picture above Defector eventually took over the population (but that doesn't mean that it's evolutionarily stable as a strategy, just that it won this particular time).

The Moran process is a subsequently developed model. It won't match the output of this ecological model.

[2020-06-05 12:34] drvinceknight commented on #1345
Sorry for taking so long to get back to you on this.

I like your suggestion @marcharper, a wrapper that allows player to evolve in a trivial sounds good. would another approach be to add an evolve method to the base player class that does not do anything?

[2020-06-05 19:07] marcharper commented on #1345
Yes we could also do that, but then it removes the distinction between Player and EvolvablePlayer. Maybe that's a good idea but I'm not sure (for testing purposes at least).

[2020-06-06 04:50] akash-suresh commented on #1326
Hey! Can I pick this up? 😄

I have used `isort`, in one of my earlier projects. And this seems like a fairly simple task to get acquainted with the codebase.

[2020-06-08 13:41] drvinceknight commented on #1326
Please do :+1:

[2020-06-08 13:43] drvinceknight commented on #1345
I hear you. It's two options, whatever your hunch tells you is fine by me.

[2020-06-09 03:16] akash-suresh commented on #1326
Hey @drvinceknight, I tried running the unit-test suite to make sure, its setup properly. A few of the test cases are failing. I am using Python 3.8.

[2020-06-09 11:11] drvinceknight commented on #1326
Yeah there are a couple of tests that don't pass yet on py3.8 (https://github.com/Axelrod-Python/Axelrod/issues/1315). If you setup a virtual environment with py3.7 you should be fine.

[2020-06-09 11:11] akash-suresh commented on #1326
Oh alright. Thanks for the clarification. 👍

[2020-06-15 06:58] #1326 closed

[2020-06-15 08:48] drvinceknight opened #1352 "Rename the master branch to main"
I would like to rename the `master` branch to `main`.

(There's a tool here that helps with this: https://github.com/mheap/github-default-branch)

[2020-06-15 20:16] marcharper commented on #1352
Maybe this is a good time to reconsider the branches "officially". `main` isn't particularly meaningful from a development standpoint -- is it the main working branch? the current release?

How about a structure such as:

* `release` in which the HEAD is the most current tagged release
* `dev` or `develop` which is the "development stable" (i.e. all tests pass) but not yet released, sort of a stag

[2020-06-15 20:17] #1349 closed

[2020-06-15 20:17] #1348 closed

[2020-06-16 06:56] drvinceknight commented on #1352
That sounds great and makes the release process more straightforward.

I assumed the tool would take care of any PRs that might be up so that they would automatically "redirect" to the new branch but I'm happy to not use it and just figure out whatever is broken as and when (it won't be anything hard to fix).

Yeah great call. This could be the first PR to `dev` :+1:

[2020-07-02 06:17] marcharper opened #1353 "Idea: New way to organize many tests"
In the course of finding new seeds for many tests for #1288 it occurs to me that we can probably organize these tests in a more useful way. There are many tests in the library like the following:

[code]
where the player is given by `self.Player()` from `TestPlayer`. Sometimes these tests use `MockPlayer` as an opponent rather than an actual opponent. Searching for a new seed involves manually ext

[2020-07-03 03:40] marcharper commented on #1315
I'd like to start using data classes, which is a reason to drop 3.6. (See #1353 and the dataclasses I just added on the testing branch if curious why.) The failing tests for 3.8 are due to hypothesis and one of the changes in 3.8 ([see here](https://github.com/HypothesisWorks/hypothesis/issues/1943)). We use an ancient version of hypothesis and the issue is fixed in more recent versions.

I'm upda

[2020-07-03 08:11] meatballs commented on #1315
We could use attrs instead of data classes. It has more capabilities and is more or less the standard these days.

[2020-07-03 09:10] drvinceknight commented on #1315
I can't say I know enough about `attirs` and/or data classes to have a helpful opinion here (I really should go learn about them). But if it's decided that we need to drop `3.6` to be able to use one or the other I'm fine with it.

One [minor] point about `hypothesis`: they move fast over there (or at least they used to) and our CI would often break when they updated. Not at all against pushing fo

[2020-07-03 09:12] drvinceknight commented on #1353
I like this idea a lot.

We'll be able to document this dataset as well and theoretically it could be a useful research asset in it's own right. :+1: 💪

[2020-07-03 09:23] meatballs commented on #1315
I never write a class without using attrs any more!

[2020-07-03 15:07] marcharper commented on #1315
Ok great. I'll pin hypothesis at 5.19 for now as I'm fixing tests, and we can use dataclasses / attr for now. Unfortuantely neither approach has great serialization, so I'm using YAML on top of dataclasses for now, but it would be easy to switch to attrs if we want.

[2020-07-03 15:10] marcharper commented on #1353
Great. I hacked out an early version to help me find seeds for #1288 by watching all the invocations of `versus_test`. It's not perfect because if a subtest fails, the others are not run, but it did capture a lot of matches as below, using dataclasses and YAML.

[code]

From there I was able to cook up a script to run these matches and look for new seeds, or potentially opponents. It's rough but h

[2020-07-03 15:11] marcharper commented on #1353
I'd like to do the same thing for full tournaments and Moran processes.

[2020-07-09 15:45] #442 closed

[2020-07-09 15:46] drvinceknight commented on #1353
Sounds good to me.

[2020-07-10 18:35] drvinceknight opened #1356 "Incorrect name in documentation of DBS strategy?"
I've had the following email (which starts with a lovely acknowledgement of all of our work :)):

Looking at http://www.cs.umd.edu/~nau/papers/au2006accident.pdf indeed it looks like we got the name wrong int he docstring of the strategy.

[2020-07-10 21:40] #1356 closed

[2020-07-14 00:51] REytchison commented on #1328
I'm interested in contributing a new game. Which of the ones listed would be good for a programmer with some Python experience?

I'd appreciate some degree of collaboration on the game. I would also be happy to work on a new game that is already being built. Thank you

[2020-07-17 03:18] marcharper commented on #1328
Hi @REytchison ! We're sort of in the middle of refactoring / generalizing significant portions of the library to be able to support additional games. I think it might be a bit difficult to jump in at this stage given the knowledge of the library needed to do so, but you might try some of the other issues, or implementing a few strategies listed in #379 to understand the library better. Then once

[2020-08-04 15:10] marcharper opened #1360 "Presumbit script and pin all dependency versions"
- [] Create a script or enhancement to [test](https://github.com/Axelrod-Python/Axelrod/blob/master/test) that runs all the same checks as [config.yml](https://github.com/Axelrod-Python/Axelrod/blob/master/.github/workflows/config.yml)
- [] Pin versions of isort, mypy, etc. in [requirements.txt](https://github.com/Axelrod-Python/Axelrod/blob/master/requirements.txt) so they are the same locally as

[2020-08-04 15:13] marcharper opened #1361 "Add script to find new seeds"
Re: discussion in #1288, add back in the [code](https://github.com/Axelrod-Python/Axelrod/pull/1288/commits/5128e4d8f6762986e5449564349d8874f7a54802) used for serializing tests and finding new random seeds. Requires using the `attrs` library or the built in dataclasses available in Python 3.7+ (requires handing #1315)

[2020-08-04 15:16] marcharper commented on #1345
Post #1288 I'm thinking that it's better to make all Players evolvable, if only to remove multiple inheritance from the Player classes hierarchy. I'm not sure we actually gain much by having both `Players` and `EvolvablePlayers` other than the bit that a Player is evolvable, which could more easily handled by a classifier instead.

[2020-08-04 15:24] marcharper opened #1362 "Reorg top level directory a bit"
It's getting a bit full. Suggestions:
- [ ] move the executable scripts into a /bin subdirectory
- [ ] rename test to test.sh
- [ ] move some of the docs on citations to to the proper documentation
- [ ] remove some of the possibly redundant or unneeded files (.*, setup.cfg, etc.)

[2020-08-05 15:22] drvinceknight commented on #1362
Good idea :+1:

[2020-08-08 17:11] marcharper opened #1365 "Improve dual wrapper with enhanced history class"
The Dual transformer used for fingerprinting is quadratic since it flips and unflips the entire history every round. A History class that maintains a flipped history and just swaps the labels would likely be much more CPU efficient at the cost of a small amount of memory.

[2020-08-11 14:54] #1181 closed

[2020-08-11 14:54] #1214 closed

[2020-08-11 14:54] #1277 closed

[2020-08-11 14:54] #1283 closed

[2020-08-12 07:48] #1315 closed

[2020-08-12 15:31] marcharper opened #1369 "Refresh main github page"
@drvinceknight suggested on #1297:

"the main github page for the library might benefit from a light once-over. Maybe move the link to the docs higher, update the maintainers, coverage badge ...

[2020-08-12 15:31] #1297 closed

[2020-08-12 15:36] marcharper commented on #1060
More suggestions:
* is_human_designed vs is_trained
* is_published_tournament_winner
* is_axelrod_first
* is_axelrod_second

[2020-08-12 15:39] marcharper commented on #1369
See also #1320

[2020-09-09 00:38] marcharper opened #1370 "Adding a new strategy gotchas"
In PR #1364, adding a new strategy tripped some of the tests for the meta strategies because it induces a change in the behavior of those strategies. This is not ideal since it adds complexity to the process of adding new strategies.

There are various ways we could mitigate this:
* Simply remove the tests -- they don't really test "expected behaviors" and basically just detect that something chan

[2020-09-09 08:24] drvinceknight commented on #1370
Gosh sorry I've just seen your comment on #1364, my bad for missing it.

I think I'm in favour of that approach. It's not ideal but is probably the most sensible on balance.

[2020-09-09 17:38] drvinceknight commented on #1352
This has been closed by #1372, I have also set the default branch on GitHub to be `dev`.

[2020-09-09 17:38] #1352 closed

[2020-09-10 03:21] marcharper commented on #1370
There are already [some tests](https://github.com/Axelrod-Python/Axelrod/blob/dev/axelrod/tests/strategies/test_player.py#L467) in `TestPlayer` that do exactly as described above, e.g. tests that a clone and the original produce the same play against a small set of opponents. So I guess we just remove the extra tests, which I did in #1373.

[2020-09-27 00:00] caddycarine opened #1376 "Improve tests of filters"
In the test_boolean_filtering() method, the filterset built for testing has all its classifier values set to true
[code]
Currently, there is no strategy that meets this criteria so the result is always an empty set, making the test a comparison of two empty sets.
Was thinking of creating a hypothesis decorator to return a list of classifiers to be given to this  test so that it would not always be

[2020-09-28 11:31] drvinceknight commented on #1376
Using hypothesis to explore the space of all possible classifiers sounds good to me :+1:

One immediate question that comes to mind is whether or not we need a new hypothesis decorator for this as I don't see much potential for reuse but that might not be a good reason anyway and this can be discussed on the PR :)

Go for it :+1: 💪

[2020-10-07 20:26] caddycarine commented on #1376
The suggested changes have been done in #1377.  Can this be closed?

[2020-10-08 03:34] marcharper commented on #1376
Yep! Next time you can say "closes #1377" in the PR comment (the text on github when you open the PR) and it will close the issue on merge.

[2020-10-08 03:34] #1376 closed, assigned to nobody

[2020-11-12 19:02] edouardArgenson commented on #1059
Hello, if it's still relevant ? I would be keen to look into that

[2020-11-23 20:23] jsafyan opened #1379 "Axelrod pip install in Colab fails due to prompt_toolkit"
It appears a version mismatch for prompt_toolkit causes problems for pip installing Axelrod in Colab.

`!pip install -q axelrod`

results in

`ERROR: jupyter-console 5.2.0 has requirement prompt-toolkit<2.0.0,>=1.0.0, but you'll have prompt-toolkit 3.0.8 which is incompatible.`
`ERROR: ipython 5.5.0 has requirement prompt-toolkit<2.0.0,>=1.0.4, but you'll have prompt-toolkit 3.0.8 which is incompa

[2020-11-23 20:39] marcharper commented on #1379
Colab uses an old version of IPython. Here's the workaround for now.

First note we have another issue with the PyYAML version (needs to be >= 5.1 because we use `FullLoader`). So first run

[code]

The latest dev version of Axelrod can be installed in Colab with this command

[code]

After running these commands, `import axelrod` works. However it puts Colab into an unhappy state where the kernel

[2020-11-24 11:02] drvinceknight commented on #1379
If I'm correct we only use `prompt-toolkit` for the Human player, making it optional with a clear message could be a way forward?

~I'll open a PR for the pyyaml bump now~ PR to bump pyyaml: #1380

[2020-11-24 18:41] marcharper commented on #1379
I think that's a good fix for now.

[2020-12-28 14:52] JCodyA commented on #379
Hello all!  What a cool project, I just discovered this a few days ago.  I'd love to contribute some new strategies.  Has anyone implemented a Perlin style random strategy?

[2021-01-02 21:15] marcharper commented on #379
Hi @JCodyA, you can check the list of references in the documentation to see if there's a matching source. If you are still unsure, please post a source and I should be able to tell if there's already a matching strategy in the library.

[2021-01-03 16:02] JCodyA commented on #379
@marcharper I had a look at docs/reference/all_strategies.rst and the only strategy listed that was similar was the rand.py strategy, but not a perlin one.     I'm thinking of two possible variations of a perlin strategy: a perlin cooperator and a perlin defector.  One will cooperate on a semi random basic similar to natural randomness (ie raindrops), and the other will defect on a semi random bas

[2021-01-04 00:49] marcharper commented on #379
@JCodyA I don't think there's anything quite like that -- I presume you mean that a player will say defect with some distribution other than a Bernoulli. There are several strategies that behave like say TFT and then randomly defector or otherwise act randomly or noisily, but that doesn't sound like quite the same thing. See [TrickyCooperator](https://github.com/Axelrod-Python/Axelrod/blob/dev/axe

[2021-05-21 14:38] xjcl opened #1386 ""MetaClass update_histories issue" when running all strategies"
How to reproduce:

[code]

[code]

Issue seems to occur always at 71%, no matter how many turns (so you can try with less for quicker debugging)

[code]

[2021-05-21 15:00] drvinceknight commented on #1386
Thanks @xjcl I confirm I'm getting the same error with:

[code]

Note that if I run a tournament *just* with meta players it runs fine:

[code]

[2021-05-21 15:09] marcharper commented on #1386
Could it be due to one of the "cheating" strategies?

[2021-05-21 15:22] drvinceknight commented on #1386
Yup spot on. Just about to comment with code.

[2021-05-21 15:27] drvinceknight commented on #1386
I just ran:

[code]

(That replicates what the tournament does with an error catch for the problem)

That outputs:

[code]

We can confirm that with:

[code]

[2021-05-21 15:29] drvinceknight commented on #1386
I would suggest that given the maturity of the library as a research project it could be time to remove the cheating strategies? We could open an issue to possibly add them as a separate "add on" library?

[2021-05-21 15:44] marcharper commented on #1386
Yeah or at least remove the cheating strategies from `all_strategies`

[2021-05-21 15:45] drvinceknight commented on #1386
In the meantime @xjcl, assuming you are not specifically interesting in the cheating strategies, you should be able to run:

[code]

(Some documentation on this here: https://axelrod.readthedocs.io/en/stable/tutorials/advanced/strategies.html)

[2021-05-21 15:46] drvinceknight commented on #1386
Good call, in which case we could document how to access them if someone really wants to play with them (With a bit of a disclaimer that they might not work against some players like the `Meta` players for example).

[2021-05-21 15:49] marcharper commented on #1386
I'm in favor of removing them as well. They are fun but cause much more trouble than they are fun.

[2021-05-21 15:52] meatballs commented on #1386
Yep. Shifting them elsewhere seems a good idea

[2021-05-21 20:01] xjcl commented on #1386
Can confirm the issue is also present in the PyPI version (Axelrod==4.10.0).

My fix for now:

[code]

[2021-05-22 02:16] marcharper commented on #1386
Hi @xjcl, @drvinceknight's method is recommended, since it knows if the strategies obey the standard rules or not.

One can also use:

[code]

or simply use something like `axl.short_run_time_strategies()`.

[2021-05-24 09:47] drvinceknight commented on #1386
Putting a PR together now :)

[2021-05-24 10:07] drvinceknight opened #1387 "Reorganisation of documentation."
I would like to propose a reorganisation of the documentation to fall more explicitly under the diataxis framework: https://diataxis.fr which indicates to have 4 sections for documentation:

- Tutorials
- How to guides
- Reference
- Discussion

**In practice this would mainly be a relabelling of what we already have** (recall most things are labelled as tutorials)

- The "New to Game Theory" would

[2021-05-24 10:10] meatballs commented on #1387
I didn't know that site existed. Now I know where to point everyone instead of just one of his talks on YouTube!!

[2021-05-24 10:11] drvinceknight commented on #1387
It's super recent :) (I still have to go through and rename "the documentation thing" in my notes to "diataxis" 😆 )

[2021-05-24 10:14] meatballs commented on #1387
It's always been "DDQ" in my head - Daniele's Documentation Quadrants

[2021-05-25 08:29] drvinceknight commented on #1386
@xjcl the latest release of Axelrod `4.11.0` has this bug fixed now: https://pypi.org/project/Axelrod/.

[2021-05-25 08:29] #1386 closed, assigned to nobody

[2021-05-25 09:22] drvinceknight opened #1390 "Reorganisation ? of cheating strategies"
In #1388 the cheating strategies were removed as well as a  bunch of functionality for them in `strategy_utils.py`.

These are "historic" to the library and nice fun. I believe there are two options for where we put them:

1. In a separate python library (`import axelrod-cheaters`).
2. In a module that does not import them directly, so that a user has to specifically go get them if they want them

[2021-06-04 08:36] #1387 closed, assigned to nobody

[2021-07-28 07:38] drvinceknight opened #1392 "Add a citation.cff file"
Looks like Github now lets you add a citation file which creates a nice `Cite this repository` widget.

https://twitter.com/natfriedman/status/1420122675813441540

[2021-07-28 07:43] drvinceknight commented on #1392
Info about the citation.cff file format here: https://citation-file-format.github.io

[2021-08-23 23:05] RobPDev opened #1395 "Links to contributing guide broken by docs restructure"
A recent change (#1391) restructured the documentation and including moving the contributing guide from tutorials to how-to. However, the links to the contributing guide (in `README.rst` and `CONTRIBUTING.rst`) weren't updated to match the new location.

[2021-08-24 16:03] #1395 closed, assigned to nobody

[2021-11-19 19:07] marcharper commented on #1328
Quantum prisoner's dilemma:  https://www.nature.com/articles/srep06286

[2022-11-22 07:14] VartanAhrensKayayan commented on #1392
I can create the citation file. But I need to know does Axelrod want to be cited? Is there a published paper you wish to refer to or a few major contributors that the code can attributed to?

[2022-11-22 08:39] meatballs commented on #1392
https://github.com/Axelrod-Python/Axelrod/blob/master/CITATION.rst

[2022-11-28 18:04] VartanAhrensKayayan commented on #1392
Ok, I created the CITATIONS.cff. See #1405.